md-card(layout="column").userRole
  md-card-title
    md-card-title-text
      span.md-headline {{$ctrl.role.user.firstName}} {{$ctrl.role.user.lastName}}
      span.md-subhead {{$ctrl.role.user.email}}
    md-card-title-media
      div.md-media-medium
        md-icon person
  md-card-content(layout="column")
    div(layout="row")
      div(flex) Last activity:
      div(flex=70).value.clickable -
        //- md-tooltip(md-direction="bottom", ng-if="$ctrl.role.user.updatedAt") {{$ctrl.role.user.updatedAt | date:'fullDate'}}
    div(layout="row")
      div(flex) Last edit:
      div(flex=70).value.clickable -
  md-card-actions(flex, layout="row", layout-align="end end")
    md-button(ng-click="$ctrl.remove($event)").md-accent Remove