section.analyst
  md-subheader.analyst__header.md-no-sticky Analyst Comments
  md-progress-linear(ng-if="$ctrl.loading")

  span.analyst__edit
    md-button(ng-if="$ctrl.canEdit", ng-click="$ctrl.updateComments()").md-fab.md-mini.edit-icon
      md-icon edit
  div(layout="column").analystComments.analyst__comments.layout-padding
    div(ng-bind-html="$ctrl.$sce.trustAsHtml($ctrl.analystComments.comments) || '<h2>Report Draft</h2> <br /> No comments yet.'").analyst__bind
    div(ng-if="$ctrl.print", layout="row", layout-align="space-around center").analyst__review-box
      div Author Review: {{$ctrl.signatures.authorSignature.firstName[0]}}{{$ctrl.signatures.authorSignature.lastName[0]}} {{$ctrl.signatures.authorSignedAt | date: 'yy/MM/dd HH:mm'}}
      div Reviewer: {{$ctrl.signatures.reviewerSignature.firstName[0]}}{{$ctrl.signatures.reviewerSignature.lastName[0]}} {{$ctrl.signatures.reviewerSignedAt | date: 'yy/MM/dd HH:mm'}}

  div(layout="column", ng-if="$ctrl.analystComments !== null && !$ctrl.print").layout-padding.analystSignatures
    div Signed By

    div(layout="row", md-whiteframe=4, layout-align="start start", ng-click="$ctrl.newEntry($event, 'therapeutic')").rowCard
      div(flex=25, layout="column")
        h5 Author
        div(flex, layout="row")
          span(ng-if="$ctrl.canEdit", ng-show="!$ctrl.signatures.authorSignature || !$ctrl.signatures", layout="row", layout-align="start center", ng-click="$ctrl.sign('author')").clickable
            md-icon(style="margin-right: 5px;") gesture
            span Sign
          span(ng-show="$ctrl.signatures.authorSignature.ident") {{$ctrl.signatures.authorSignature.firstName}} {{$ctrl.signatures.authorSignature.lastName}}

      div(flex=45, layout="column")
        h5 Date
        div(flex, layout="row")
          span.context {{$ctrl.signatures.authorSignedAt | date: "EEEE, MMMM d, y HH:mm"}}
      div(flex)
      div(layout="column", layout-align="start start").options
        div(ng-if="$ctrl.signatures.authorSignature && $ctrl.canEdit")
          md-icon(ng-click="$ctrl.revokeSign('author')") remove_circle
            md-tooltip Remove signing

    div(layout="row", md-whiteframe=4, layout-align="start start", ng-click="newEntry($event, 'therapeutic')").rowCard
      div(flex=25, layout="column")
        h5 Reviewer
        div(flex, layout="row")
          span(ng-if="$ctrl.canEdit", ng-show="!$ctrl.signatures.reviewerSignature || !$ctrl.signatures", layout="row", layout-align="start center", ng-click="$ctrl.sign('reviewer')").clickable
            md-icon(style="margin-right: 5px;") gesture
            span Sign
          span(ng-show="$ctrl.signatures.reviewerSignature.ident") {{$ctrl.signatures.reviewerSignature.firstName}} {{$ctrl.signatures.reviewerSignature.lastName}}
      div(flex=45, layout="column")
        h5 Date
        div(flex, layout="row")
          span.context {{$ctrl.signatures.reviewerSignedAt | date: "EEEE, MMMM d, y HH:mm"}}
      div(flex)
      div(layout="column", layout-align="start start").options
        div(ng-if="$ctrl.signatures.reviewerSignature.ident && $ctrl.canEdit")
          md-icon(ng-click="$ctrl.revokeSign('reviewer')") remove_circle
            md-tooltip Remove signing