@import '../../../../styles/variables';
@import '../../../../styles/theme.module';

.analyst-comments {
  padding: 16px;

  &__user-text {
    max-width: $readable-max;
    margin: 32px auto;
  }

  &__fab {
    float: right;
  }

  &__signatures {
    max-width: $readable-max;
    margin: 32px auto;
  }

  &--print {
    padding: 0;

    &__user-text {
      padding: 8px 32px;
      margin: 8px auto 0;
      max-width: $print-width;

      & > * {
        display: block;
        margin: 8px 0;
      }
    }

    &__signatures {
      padding: 8px 0;
      max-width: $print-width;
      margin: 0 auto;
      display: flex;
      flex-direction: row;
      border: 1px solid black;
      page-break-inside: avoid;
    }

    &__title {
      margin: 8px 0;
    }
  }
}
