@import '@/styles/variables';
@import '@/styles/theme.module';

.analyst-comments {
  padding: 16px;

  &__user-text {
    max-width: $readable-max;
    margin: 32px auto;
  }

  &__fab {
    float: right;
  }

  &__signatures {
    max-width: $readable-max;
    margin: 32px auto;
  }

  &--print {
    padding: $print-container-padding;
    font-family: Arial, Helvetica, sans-serif;

    .analyst-comments__user-text {
      max-width: unset;
      margin: 0;
      padding: 20px 0;

      & > * {
        display: block;
      }

      p:empty::before {
        content: '\00a0';
        display: inline;
      }
    }

    .analyst-comments__signatures {
      padding: 8px 0;
      max-width: $print-width;
      margin: 0 auto;
      display: flex;
      flex-direction: row;
      border: 1px solid black;
      page-break-inside: avoid;
    }
  }
}
