//- div(ui-view="adminbar", layout="row", ng-if="$ctrl.isAdmin").adminBar
//- md-toolbar(ui-view="toolbar", layout='row').headerToolbar

div(layout="column").sidebar

  div(layout="row", ui-sref="root.reports.dashboard", ng-class="{active: ($ctrl.$state.current.name === 'dashboard')}")
    md-icon home
      md-tooltip(ng-if="!$ctrl.maximized", md-direction="right") Dashboard
    span(flex, ng-show="$ctrl.maximized") Dashboard

  div(layout="row", ng-if="$ctrl.pageAccess.report" ui-sref="root.reportlisting.dashboard", ng-class="{active: ($ctrl.$state.current.name.includes('root.reportlisting.dashboard'))}")
    md-icon assignment
      md-tooltip(ng-if="!$ctrl.maximized", md-direction="right") Reports Dashboard
    span(flex, ng-show="$ctrl.maximized") Reports

  div(layout="row", ng-if="$ctrl.pageAccess.genomic_report && ($ctrl.maximized || (!$ctrl.maximized && ($ctrl.$state.current.name.includes('root.reportlisting') || $ctrl.$state.current.name.includes('root.pog'))))", ui-sref="root.reportlisting.genomic", ng-class="{active: ($ctrl.$state.current.name.includes('genomic'))}").submenu
    md-icon(ng-show="$ctrl.maximized") subdirectory_arrow_right
    md-icon(ng-show="!$ctrl.maximized") developer_board
      md-tooltip(ng-if="!$ctrl.maximized", md-direction="right") Genomic Reports
    span(flex, ng-show="$ctrl.maximized") Genomic

  div(layout="row", ng-if="$ctrl.pageAccess.probe_report && ($ctrl.maximized || (!$ctrl.maximized && ($ctrl.$state.current.name.includes('root.reportlisting') || $ctrl.$state.current.name.includes('root.pog'))))", ui-sref="root.reportlisting.probe", ng-class="{active: ($ctrl.$state.current.name.includes('probe'))}").submenu
    md-icon(ng-show="$ctrl.maximized") subdirectory_arrow_right
    md-icon(ng-show="!$ctrl.maximized") highlight
      md-tooltip(ng-if="!$ctrl.maximized", md-direction="right") Targeted Gene Reports
    span(flex, ng-show="$ctrl.maximized") Targeted Gene


  div(layout="row", ng-if="$ctrl.pageAccess.germline", ui-sref="root.germline.board", ng-class="{active: ($ctrl.$state.current.name.indexOf('germline') > -1)}")
    md-icon supervisor_account
      md-tooltip(ng-if="!$ctrl.maximized", md-direction="right") Germline
    span(flex, ng-show="$ctrl.maximized") Germline

  div(layout="row", ng-if="$ctrl.pageAccess.knowledgebase", ui-sref="root.knowledgebase.dashboard", ng-class="{active: ($ctrl.$state.current.name.indexOf('knowledgebase') > -1)}")
    md-icon local_library
      md-tooltip(ng-if="!$ctrl.maximized", md-direction="right") Knowledgebase
    span(flex, ng-show="$ctrl.maximized") Knowledgebase

  div(layout="row", ng-if="$ctrl.pageAccess.knowledgebase", ui-sref="root.knowledgebase.references", ng-class="{active: ($ctrl.$state.current.name === 'root.knowledgebase.references')}", ng-show="$ctrl.maximized || (!$ctrl.maximized && $ctrl.$state.current.name.includes('knowledgebase'))").submenu
    md-icon(ng-show="$ctrl.maximized") subdirectory_arrow_right
    md-icon(ng-show="!$ctrl.maximized") import_contacts
      md-tooltip(ng-if="!$ctrl.maximized", md-direction="right") References
    span(flex, ng-show="$ctrl.maximized") References
