@import '../../styles/variables';

.sidebar {
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  z-index: 97;
  background-color: $white-background;
  color: $medium-emphasis;
  margin: 0;
  padding: 0;
  transition-duration: 0.3s;
  transition-property: width;
  width: 55px;
  border-right: 1px solid $black-12;

  &--open {
    width: 240px;
  }

  &__row {
    cursor: pointer;
    padding: 11px 0;
    text-decoration: none;
    color: inherit;
    transition-duration: 0.35s;
    transition-property: background-color;

    &--active {
      background-color: darken($white-background, 8);
    }

    &:hover {
      background-color: darken($white-background, 8);
    }
  }

  &__image-logo {
    height: 25px;
    padding: 15.5px 0;
    margin: 0 15px;
  }

  &__image-text {
    height: 35px;
    padding: 7px 0;
    margin: 0 5px;
  }

  &__icon {
    margin: 0 15.5px;
  }

  &__text {
    text-decoration: none;
    min-width: 180px;
    line-height: 1.6;
    visibility: hidden;
    transition-duration: 0.3s;
    transition-property: visibility;
    z-index: 101;

    &--visible {
      visibility: visible;
      transition-duration: 0.01s;
    }
  }
  
  &__button-row {
    padding: 8px 0;
    text-decoration: none;
  }

  &__logos {
    height: 56px;
  }
}
