$kb-status-reviewed-solid: rgb(38, 166, 91);
$kb-status-reviewed-hlight: rgb(214, 247, 219);

$kb-status-new-solid: rgb(31, 58, 147);
$kb-status-new-hligh: rgb(196, 228, 244);

$kb-status-requires-solid: rgb(211, 84, 0);
$kb-status-requires-hlight: rgb(253, 246, 206);

$kb-status-flagged-solid: rgb(207, 0, 15);
$kb-status-flagged-hlight: rgb(251, 208, 204);

.knowledgebase {

  h1.title {
    font-size: 18px;
    margin: 10px 5px;
    padding: 0;
    span.subject {
      font-size: 18px;
      //margin-left: 2px;
      color: rgb(31, 58, 147);
    }
  }

  .options {
    padding: 5px;
  }

  .narrowButton {
    line-height: 25px;
    min-height: 25px;
    padding-right: 10px;
    padding-left: 10px;
  }

  .filters {
    margin: 5px;

    .filterEntry {

      span.remove {
        vertical-align: super;
        font-size: 10px;
        display: inline-block;
        cursor: pointer;
        background-color: rgb(207, 0, 15);
        color: white;
        border-radius: 16px;
        width: 13px;
        height: 13px;
        text-align: center;
        margin-left: 3px;

        &:hover {
          background-color: rgb(250, 153, 148);
          color: rgb(207, 0, 15);
        }
      }

      .filterValue:after {
        content: 'or';
        padding: 0 5px;
      }

      .filterValue:last-of-type:after {
        content: normal;
      }

    }

    .filterEntry:after {
      content: 'and';
      padding: 0 5px;
    }
    .filterEntry:last-of-type:after {
      content: normal;
    }
  }

  .dashboard {
    .section {
      h2 {
        font-size: 1.0em;
      }

      .widget {
        margin: 20px;
        border: 1px solid rgb(200,200,200);
        border-radius: 5px;
        min-height: 600px;
        max-height: -webkit-fill-available;

        h1 {
          font-size: 1.2em;
          font-weight: 400;
          padding: 8px 10px 5px;
          margin: 0;
          background-color: rgb(200,200,200);
        }
        .content {
          padding: 15px;
          height: 90%;

          .kbTable.rows {
            height: 97%;
          }
        }

        .doughnut {
          width: 70%;
          margin: 0 auto;
        }
        canvas {
          margin-bottom: 20px;
        }
      }
    }

  }

  .kbTable {

    &.header {
      background-color: rgb(220, 220, 220);
      div {
        font-weight: 100;
        font-size: 0.85em;
        text-align: left;
        padding: 8px 0 4px 4px;

        &.spacer {
          width: 20px;
        }
      }
    }

    &.rows.glossary-modal {
      max-height: 55vh;
    }

    &.rows {
      overflow-y:scroll;

      .rowContainer {

        &:nth-of-type(even) { background-color: rgb(235, 235, 235); }

        &.incorrect { background-color: rgb(251, 208, 204); }

        div.row {
          div.open {
            text-align: center;
            padding: 0 10px;

            md-icon {
              width: 18px;
              height: 18px;
              min-height: 18px;
              min-width: 18px;
              font-size: 15px;
              margin-right: 7px;
              cursor: pointer;
              color: rgb(70, 91, 193);
              display: inline-block;

              &:hover { color: rgb(96, 166, 255); }
            }
          }

          div {
            text-overflow: ellipsis;
            padding: 3px;
            outline: none;

            &.status {

              span {
                padding: 2px 7px;
                border-radius: 3px;
                font-size: 0.75em;
              }

              &.new span {
                color: $kb-status-new-solid;
                border: 1px solid $kb-status-new-solid;
                background-color: $kb-status-new-hligh;
              }
              &.reviewed span, &.approved span {
                color: $kb-status-reviewed-solid;
                border: 1px solid $kb-status-reviewed-solid;
                background-color: $kb-status-reviewed-hlight;
              }
              &.flagged-incorrect span {
                color: $kb-status-flagged-solid;
                border: 1px solid $kb-status-flagged-solid;
                background-color: $kb-status-flagged-hlight;
              }
              &.requires-review span {
                color: $kb-status-requires-solid;
                border: 1px solid $kb-status-requires-solid;
                background-color: $kb-status-requires-hlight;
              }
            }

            div.dropper {
              position: relative;
              display: inline-block;
              width: 0;
              height: 0;
              float: left;
              margin: 0;
              padding :0;

              ul {
                position: absolute;
                min-width: 350px;
                z-index: 1;
                list-style: none;
                margin: 0;
                padding: 0;


                li {
                  padding: 8px 6px;
                  color: white;
                  background-color: rgb(55, 72, 145);

                  span.andInline {
                    background-color: rgba(255,255,255,0.85);
                    color: rgb(55,72,145);
                    padding: 0 4px;
                    border-radius: 2px;
                  }

                  div.orBetween {
                    margin: -19px 50% 0 50%;

                    span {
                      background-color: rgba(255,255,255,0.85);
                      color: rgb(55,72,145);
                      padding: 0 4px;
                      border-radius: 2px;
                    }
                  }

                  div.andGroup {
                    div.orBetween {
                      margin: -22px 50% 0 50%;

                      span {
                        background-color: rgba(255,255,255,0.85);
                        color: rgb(55,72,145);
                        padding: 0 4px;
                        border-radius: 2px;
                      }

                    }
                  }

                  &:nth-of-type(even) {
                    background-color: rgb(61, 78, 161);
                  }
                }

              }
            }
          }
        }
      }
    }

  }

  .pagination {
    border-top: 3px solid rgb(200, 200, 200);
    padding: 10px;

    .pageButton {
      border: 1px solid rgb(195, 203, 241);
      margin: 0 3px;
      padding: 3px 5px;
      color: rgb(55, 72, 145);
      border-radius: 2px;

      &:hover {
        background-color: rgb(224, 228, 255);
      }

      &.current {
        background-color: rgb(55, 72, 145);
        color: white;
        border: none;
      }
    }
  }
}

md-dialog.kbDialog {


  md-dialog-actions {

    button.md-button {
      line-height: normal;
    }

  }

  h2.title {
    margin: 10px 0 10px 15px;
    padding-top: 10px;
    font-size: 20px;
    font-weight: 400;
  }

  .rowCard {
    margin: 4px 10px;
    padding: 0px 10px;
    background-color: rgb(255,255,255);
    min-height: 68px;

    > div {
      background-color: rgb(240,240,240);
      padding: 15px;
      margin: 5px;
      box-shadow: rgba(0,0,0,0.15) 0 2px 4px 0;
    }

    h5 {
      font-size: 0.70em;
      padding: 0;
      margin: 0 0 8px 0;
      font-weight: 100;
      text-transform: uppercase;
      color: rgb(50,50,50);
    }

    span.context {
      padding-left: 10px;
      font-weight: 100;

      &:first-of-type {
        padding-left: 0;
        font-weight: 500;
      }
    }

    div.reference {
      md-icon {
        margin-left: 3px;
        width: 20px;
        height: 20px;
        min-width: 20px;
        min-height: 20px;
        font-size: 18px;
      }
    }

  }

  h4 {
    color: rgba(0,0,0, 0.7);
    margin: 7px 0 0 0;
    font-weight: 400;
  }

  .diseaseList {
    padding-left: 10px;
    md-icon {
      margin-right: 3px;
      width: 20px;
      height: 20px;
      min-width: 20px;
      min-height: 20px;
      font-size: 18px;
    }
    > span {
      margin: 2px 0;

      &:nth-of-type(even) {
        background-color: rgb(240,240,240);
      }
    }
  }

  div.history {
    margin: 4px 20px;

    div.header {
      background-color: rgb(220, 220, 220);
      color: rgb(70, 70, 70);

      div {
        padding: 6px 0 3px 4px;
        text-align: left;
      }
    }
    div.row {
      &:nth-of-type(odd) {
        background-color: rgb(240,240,240);
      }

      div {
        padding: 4px 2px;
      }
    }

  }

  md-dialog-content {

    div.header {
      background-color: rgb(220, 220, 220);

      div {
        padding: 8px 0 3px 0;
        text-align: center;
        font-size: 0.85em;
        color: rgb(75,75,75);
        margin: 0 3px;
      }

    }

    .events-expression {

      var {
        font-style: normal;
        background-color: rgb(237, 220, 255);
        color: rgb(90, 32, 128);
        padding: 3px 7px;
        border-radius: 3px;
        font-size: 0.75em;
        line-height: 200%;
      }

      .orGroup {

        &:after {
          content: ' or ';
          color: rgb(50,50,50);
          padding: 0 5px;
          font-size: 0.8em;
        }
        &:last-of-type:after {
          content: '';
        }

        &.andGroup {

          background-color: rgb(171, 138, 208);
          padding: 3px 2px 5px 2px;
          border-radius: 3px;
          margin-right: 4px;

          var {
            margin: 0 4px;
          }

          &:before { content: '('; padding-left: 2px; font-size: 0.8em }
          &:after { content: ')';  padding: 0 2px; font-size: 0.8em }

          span:first-of-type:before { content: ''; }

          span:before {
            content: ' and ';
            color: rgb(20,20,20);
            font-weight: 100;
            font-size: 0.8em;
          }
        }
      }

      .andGroup {

        span:first-of-type:before { content: ''; }

        span:before {
          content: ' & ';
          color: rgb(20,20,20);
          font-weight: 100;
          font-size: 0.85em;
        }
      }
    }

    .updateStatus {
      .md-button {
        line-height: normal;
        min-height: 36px;
      }
    }

    .status {

      span {
        padding: 2px 7px;
        border-radius: 3px;
        font-size: 0.75em;
      }

      md-icon {
        width: 18px;
        height: 18px;
        min-height: 18px;
        min-width: 18px;
        font-size: 15px;
        margin-left: 4px;
        cursor: pointer;
      }

      &.new span {
        color: $kb-status-new-solid;
        border: 1px solid $kb-status-new-solid;
        background-color: $kb-status-new-hligh;
      }
      &.reviewed span, &.approved span {
        color: $kb-status-reviewed-solid;
        border: 1px solid $kb-status-reviewed-solid;
        background-color: $kb-status-reviewed-hlight;
      }
      &.flagged-incorrect span {
        color: $kb-status-flagged-solid;
        border: 1px solid $kb-status-flagged-solid;
        background-color: $kb-status-flagged-hlight;
      }
      &.requires-review span {
        color: $kb-status-requires-solid;
        border: 1px solid $kb-status-requires-solid;
        background-color: $kb-status-requires-hlight;
      }
    }

    div.row {
      div {
        margin: 0 3px;

        .removableFilter {
          font-size: 0.90em;
          margin: 3px 0;

          md-icon {
            width: 18px;
            height: 18px;
            min-height: 18px;
            min-width: 18px;
            font-size: 15px;
            color: rgb(150, 40, 27);
            margin-right: 7px;
            cursor: pointer;
          }
        }

      }
    }



  }
}