.knowledgebase {

  h1.title {
    font-size: 18px;
    margin: 10px 5px;
    padding: 0;
    span.subject {
      font-size: 18px;
      //margin-left: 2px;
      color: rgb(31, 58, 147);
    }
  }

  .options {
    padding: 5px;
  }

  .filters {
    margin: 5px;
  }

  .kbTable {

    &.header {
      background-color: rgb(220, 220, 220);
      div {
        font-weight: 100;
        font-size: 0.85em;
        text-align: left;
        padding: 8px 0 4px 4px;

        &.spacer {
          width: 20px;
        }
      }
    }

    &.rows {
      overflow-y:scroll;

      .rowContainer {

        &:nth-of-type(even) { background-color: rgb(235, 235, 235); }

        &.incorrect { background-color: rgb(251, 208, 204); }

        div.row {

          div {
            text-overflow: ellipsis;
            padding: 3px;
            outline: none;


            &.status {

              span {
                padding: 2px 7px;
                border-radius: 3px;
                font-size: 0.75em;
              }

              &.new span {
                color: rgb(31, 58, 147);
                border: 1px solid rgb(31, 58, 147);
                background-color: rgb(196, 228, 244);
              }
              &.reviewed span {
                color: rgb(38, 166, 91);
                border: 1px solid rgb(38, 166, 91);
                background-color: rgb(214, 247, 219);
              }
              &.flagged-incorrect span {
                color: rgb(207, 0, 15);
                border: 1px solid rgb(207, 0, 15);
                background-color: rgb(251, 208, 204);
              }
              &.requires-review span {
                color: rgb(211, 84, 0);
                border: 1px solid rgb(211, 84, 0);
                background-color: rgb(253, 246, 206);
              }


            }


            div.dropper {
              position: relative;
              display: inline-block;
              width: 0;
              height: 0;
              float: left;
              margin: 0;
              padding :0;

              ul {
                position: absolute;
                min-width: 350px;
                z-index: 1;
                list-style: none;
                margin: 0;
                padding: 0;


                li {
                  padding: 8px 6px;
                  color: white;
                  background-color: rgb(55, 72, 145);

                  span.andInline {
                    background-color: rgba(255,255,255,0.85);
                    color: rgb(55,72,145);
                    padding: 0 4px;
                    border-radius: 2px;
                  }

                  div.orBetween {
                    margin: -19px 50% 0 50%;

                    span {
                      background-color: rgba(255,255,255,0.85);
                      color: rgb(55,72,145);
                      padding: 0 4px;
                      border-radius: 2px;
                    }
                  }

                  div.andGroup {
                    div.orBetween {
                      margin: -22px 50% 0 50%;

                      span {
                        background-color: rgba(255,255,255,0.85);
                        color: rgb(55,72,145);
                        padding: 0 4px;
                        border-radius: 2px;
                      }

                    }
                  }

                  &:nth-of-type(even) {
                    background-color: rgb(61, 78, 161);
                  }
                }

              }
            }
          }
        }
      }
    }

  }

  .pagination {
    border-top: 3px solid rgb(200, 200, 200);
    padding: 10px;

    .pageButton {
      border: 1px solid rgb(195, 203, 241);
      margin: 0 3px;
      padding: 3px 5px;
      color: rgb(55, 72, 145);
      border-radius: 2px;

      &:hover {
        background-color: rgb(224, 228, 255);
      }

      &.current {
        background-color: rgb(55, 72, 145);
        color: white;
        border: none;
      }
    }
  }
}
.kbDialog {

}