div(flex, layout="column")

    div(layout="column", flex).dataBox

        div.box
            div(layout="row", flex).heading
                div(flex) Gene
                div(flex) Copy Change
                div(flex) LOH State
                div(flex) CNV State
                div(flex) Chr:band
                div(flex) CNV Start
                div(flex) CNV End
                div(flex) Size (Mb)
                div(flex) Expression (RPKM)
                div(flex) Fold Change Vs. {{pog.tumourAnalysis.normalExpressionComparator}}
                div(flex) {{pog.tumourAnalysis.diseaseExpressionComparator}} %ile
                div(flex=5)
            div(ng-if="mutations.length == 0")
                div.text-center.details No small somatic mutations of this kind were found from the analysis.
            div(layout="row", flex, ng-repeat="cnv in cnvs").row
                div(flex) {{cnv.gene}}
                div(flex) {{cnv.ploidyCorrCpChange}}
                div(flex) {{cnv.lohState}}
                div(flex) {{cnv.cnvState}}
                div(flex) {{cnv.chromosomeBand}}
                div(flex) {{cnv.start}}
                div(flex) {{cnv.end}}
                div(flex) {{cnv.size}}
                div(flex) {{cnv.expressionRpkm}}
                div(flex) {{cnv.foldChange}}
                div(flex) {{cnv.tcgaPerc}}
                div(flex=5).text-center
                    md-icon(ipr-data-viewer="cnv").clickable search
                        md-tooltip View Details