div(style="width: 250mm;")
    div(id="{{sv.ident}}").svgViewer


div(layout="column").details
    div(layout="row").summary
        div(flex)
            span Gene ID:
            span {{sv.name}}
        div(flex)
            span Type
            span {{sv.eventType}}
        div(flex)
            span Predicted
            span {{frame(sv.frame)}}
    div(layout="row").header
        div(flex) Position
        div(flex) HGNC Gene
        div(flex) Ensembl Gene
        div(flex) Ensembl Transcript
        div(flex) Exon
        div(flex) Strand
        div(flex) Breakpoint
    div(flex, layout="row").row
        div(flex) 5`
        div(flex) {{sv.name.split('::')[0]}}
        div(flex)
            span(ng-if="sv.ctermGene")
                a(href="http://ensembl.org/Homo_sapiens/Gene/Summary?db=core;g={{ensemblName(sv.ntermGene)}}", target="_blank") {{ensemblName(sv.ntermGene)}}
        div(flex)
            span(ng-if="sv.ntermTranscript")
                a(href="http://ensembl.org/Homo_sapiens/Gene/Summary?db=core;t={{sv.ntermTranscript}}", target="_blank") {{sv.ntermTranscript}}
        div(flex) {{sv.exons.split(':')[0]}}
        div(flex)
        div(flex) {{sv.breakpoint.split('|')[0]}}
    div(flex, layout="row").row
        div(flex) 3`
        div(flex) {{sv.name.split('::')[1]}}
        div(flex)
            span(ng-if="sv.ctermGene")
                a(href="http://ensembl.org/Homo_sapiens/Gene/Summary?db=core;g={{ensemblName(sv.ctermGene)}}", target="_blank") {{ensemblName(sv.ctermGene)}}
        div(flex)
            span(ng-if="sv.ctermTranscript")
                a(href="http://ensembl.org/Homo_sapiens/Gene/Summary?db=core;t={{sv.ctermTranscript}}", target="_blank") {{sv.ctermTranscript}}
        div(flex) {{sv.exons.split(':')[1]}}
        div(flex)
        div(flex) {{sv.breakpoint.split('|')[1]}}
    div(layout="column").description
        p {{sv.svgTitle}}

