ipr-print-diagram {

  .svgViewer {
    svg {
      width: 255mm;
      height: 100mm;
      font-weight: 100;
    }
  }

  div.details {
    font-size: 10pt;

    .summary {
      background-color: rgb(186, 196, 205);
      padding: 1.5mm 2mm;

      span:first-of-type {
        font-weight: 100;
        margin-right: 2mm;
      }
      span:last-of-type {
        font-weight: 700;
      }
    }

    .header {
      background-color: rgb(194, 232, 242);
      font-weight: 700;
      padding: 1mm 0;
      margin-top: 1mm;

      div {
        padding-left: 0.5mm;
      }
    }

    .row {
      margin: 1mm 0;
      border-bottom: 1px solid rgb(192, 192, 192);
      div {
        padding: 1mm;
      }
    }

    .description {
      border-bottom: 1px solid rgb(1,1,1);
    }

  }

}