
section.meta
  md-subheader.md-no-sticky Settings

  div(layout="column").inlineSettings
    div(layout="row")
      md-input-container(flex)
        label Report Type
        md-select(ng-model="$ctrl.report.type", placeholder="Report Type", aria-label="Report Type", ng-disabled="true", required, md-on-close="$ctrl.checkChange()")
          md-option(ng-value="'genomic'") Genomic Report
          md-option(ng-value="'probe'") Targeted Gene Report
      md-input-container(flex)
        label Report State
        md-select(ng-model="$ctrl.report.state", placeholder="Report State", aria-label="Report State", required, md-on-close="$ctrl.checkChange()")
          md-option(ng-value="'ready'") Ready for analysis
          md-option(ng-value="'active'") Analysis underway
          md-option(ng-value="'presented'") Review/Presentation
          md-option(ng-value="'archived'") Archived
          md-option(ng-value="'nonproduction'") Non-Production
    div(layout="row")
      md-input-container(flex)
        input(ng-model="$ctrl.report.reportVersion", placeholder="Report Version", required, ng-change="$ctrl.checkChange()")
      md-input-container(flex)
        input(ng-model="$ctrl.report.kbVersion", placeholder="Knowledgebase Version", required, ng-change="$ctrl.checkChange()")
    div(layout="row")
      md-input-container(flex)
        input(ng-model="$ctrl.report.expression_matrix", placeholder="Expression Matrix Version", ng-disabled="true", disabled="$ctrl.disabled")
      md-input-container(flex)

    div(layout="row")
      span
        md-button(ng-click="$ctrl.deleteReport($event)").md-warn Delete Report
      span(flex)
      span
        md-button(ng-click="$ctrl.updateSettings()", ng-disabled="!$ctrl.reportSettingsChanged").md-accent.md-raised Update
  md-subheader(ng-if="$ctrl.showBindings").md-no-sticky User Associations
  div(ng-repeat="role in $ctrl.roles track by $index", ng-if="$ctrl.showBindings")
    h2.title {{role}}s

    div(layout="row", flex, layout-align="start center").roleList
      role-card(role="u", ng-repeat="u in $ctrl.report.users | filter: $ctrl.roleFilter(role)", remove-entry="$ctrl.removeEntry(entry)")

      div(layout="column", layout-align="center center", ng-click="$ctrl.addUser($event, role)").add
        span.icon
          md-icon add
        span Add New
