md-content(flex).md-padding
  md-toolbar
    div.md-toolbar-tools
      span(flex).text-left {{$ctrl.report.patientInformation.tumourType}}
      h2(flex).text-center.md-hue-3 {{$ctrl.pog.POGID}} Genomic Report
      span(flex, report-state, state="$ctrl.report.state").text-right
  div(layout="row", flex).pog-report
    div(flex, ui-view="")


    div(flex=20)
      div.reportMenu
        h1 Report Sections
        ul
          li
            span(ng-click="$ctrl.goToReportSection('summary')", ng-class="$ctrl.activeSection('summary') ? 'active' : ''").clickable Summary
              md-icon(ng-click="$ctrl.openPrint()", aria-label="Print Summary Section").md-secondary print

          li(ng-repeat="section in $ctrl.sections", ng-init='section.showChildren = false', ng-hide="!section.clinician && !$ctrl.AclService.checkAction('report.edit')")

            span(
            ng-click="(section.children.length === 0) ? $ctrl.goToReportSection(section.state) : section.showChildren = !section.showChildren",
            ng-class="{active: $ctrl.activeSection(section.state), meta: section.meta, children: (section.children.length > 0)}"
            ).clickable {{section.name}}
              span(ng-if="section.children.length > 0").drop
                md-icon(ng-hide="section.showChildren") arrow_drop_down
                md-icon(ng-show="section.showChildren") arrow_drop_up

            ul(ng-if="section.children.length > 0", ng-show='section.showChildren')
              li(ng-repeat="child in section.children")
                span(
                ng-click="$ctrl.goToReportSection(child.state)",
                ng-class="{active: $ctrl.activeSection(child.state), disabled: (child.disabled), clickable: (!child.disabled)}"
                ) {{child.name}}