section.material-section.slide.presentation
  h1(ng-if="!$ctrl.print") Additional Information

  div(ng-if="!$ctrl.print", layout="column")

    div.analysis-report-section
      div(layout="column")

        md-tabs(md-dynamic-height, md-border-bottom)
          md-tab(ng-if="$ctrl.slides.length === 0", label="N/A")
            md-content
              p.text-center No slides uploaded.
          md-tab(ng-if="$ctrl.slides.length", ng-repeat="slide in $ctrl.slides track by $index", label="{{slide.name}}")
            md-content.md-padding
              h3 {{slide.name}}
                md-icon(ng-click="$ctrl.remove(slide)").clickable.small delete

              img(data-ng-src="data:{{slide.object_type}};base64,{{slide.object}}").slide

      div(layout="column").add-slide
        h2 Add new slide

        div(layout="column" ng-show="$ctrl.addStep === 'select'").pick-file

          div(layout="row")
            md-input-container(flex).name
              input(ng-model="$ctrl.new.name", placeholder="Slide Name", flex)
            md-input-container(flex)
              input(aria-label="Slide Upload" type="file" nv-file-select="" uploader="$ctrl.uploader", ng-model="$ctrl.new.file", flex, ng-disabled="$ctrl.new.name.length === 0")
              span.hint(ng-if="$ctrl.new.name.length === 0")
                md-icon.small keyboard_arrow_left
                | Slide name must be entered before a file can be selected.

          span Image file formats supported: png, jpeg, gif. Max size: 10MB

        div(layout="column", ng-show="$ctrl.addStep === 'upload'")
          p You have selected
            code(style="display: inline")  {{$ctrl.filename}}
            |  to be uploaded.

          div(layout="row", layout-align="space-around")
            md-progress-circular(md-mode="determinate", value="$ctrl.progress")
        div(layout="row")
          span(flex)
          md-button(ng-click="$ctrl.initiateUpload()", ng-disabled="$ctrl.addStep !== 'upload'").md-primary.md-raised Upload
          span(flex)


  md-subheader(ng-if="$ctrl.print").print-slide__header.md-no-sticky Slides
  div(layout="column", layout-align="space-around center")
    div(ng-repeat="slide in ::$ctrl.slides track by $index", layout="column", layout-align="space-around center").print-slide__container
      h3.print-slide__name {{::slide.name}}
      img(data-ng-src="data:{{::slide.object_type}};base64,{{::slide.object}}").print-slide__image
