section
    md-subheader.md-primary Structural Variation

    div(layout="column", flex)

        div(layout="column", flex).bg-white

            h2.title Summary of Structural Events

            div(layout="row").mutation-summary-images
                div(layout="column", flex=15).comparator-list
                    p Available comparators
                    ul
                        li(ng-repeat="comp in mutationSummaryImages.comparators track by $index", ng-init="comp.visible=true")
                            md-checkbox(ng-model="comp.visible", name="{{comp.name}}Checkbox").text-capitalize {{comp.name.split('_').join(' ') || 'All'}}

                div(layout="column", flex)

                    div(layout="row", layout-align="space around")
                        div(layout="column", flex=45).smEvents.sv
                            div(layout="row")
                                div(flex=60) Structural Variants (Expressed Fusions)
                                div(flex=40, layout="row", layout-align="center center").count
                                    div.sv {{ms.sv}} ({{ms.sv_expressed}})

                        div(layout="column", flex=45).smEvents.indel

                    div(layout="row", layout-align="space around").summary-plots
                        div(layout="column", flex=45)
                            div(ng-repeat="comp in mutationSummaryImages.comparators", ng-show="comp.visible")
                                img(style="max-width: 90%;", data-ng-src="data:image/png;base64,{{getMutationSummaryImage('densityPlot', 'sv', comp.name).data}}")
                                img(style="max-width: 90%;", data-ng-src="data:image/png;base64,{{getMutationSummaryImage('sv', 'legend', comp.name).data}}")

                        div(layout="column", flex=45)
                            div(ng-repeat="comp in mutationSummaryImages.comparators", ng-show="comp.visible")
                                img(style="max-width: 90%;", data-ng-src="data:image/png;base64,{{getMutationSummaryImage('barplot', 'sv', comp.name).data}}")


            md-tabs(md-dynamic-height=true, md-center-tabs=true).margin-bottom-20
                md-tab(label="Genome")
                    div(layout="column", layout-align="center center")
                        img(data-ng-src="data:image/svg;base64,{{images['circosSv.genome'].data}}")
                md-tab(label="Transcriptome")
                    div(layout="column", layout-align="center center")
                        img(data-ng-src="data:image/svg;base64,{{images['circosSv.transcriptome'].data}}")

        div(layout="column", flex)

            h2.title Structural Variation: Genomic Details

            div(ng-repeat="(title, svs) in StrucVars")
                h3.title {{titleMap[title]}}

                ipr-sv(svs="svs", pog="pog", report="report")
