section.material-section.discussion.presentation
    h1 Tumour Board Discussion Notes

    div(layout="column")

        div.analysis-report-section
            div(layout="column")

                ipr-discussion-entry(patient="pog", report="report", entry="discussion", user="user", ng-repeat="discussion in discussions").discussion

                div.add-discussion
                    form(name="DiscussionEntry", ng-submit="add(DiscussionEntry)")
                        div(layout="column")
                            md-input-container(flex)
                                label Comment/Reply
                                textarea(ng-model="new.body", rows="4", flex)
                            div(layout="row")
                                span(flex)
                                md-button(type="submit").md-primary.md-raised Add
