.dialog {
  &__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.tab {
  &--center {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 12px 0 0;
  }
}

.image-container {
  max-width: 25%;
}
