div(layout="column", flex).details.box
  div.collapse(ng-init="gene.showChildren=false")
    md-icon(ng-click="createRow($event, gene.alterationType)") add
      md-tooltip Add new Knowledge Base entry
    md-icon(ng-click="gene.showChildren=!gene.showChildren") {{((gene.showChildren) ? 'expand_less' : 'expand_more')}}
      md-tooltip Show more entries related to this
  div(layout="row", flex)
    dt(flex="15") Gene: 
    dd(flex="15") {{gene.gene}}
    
    dt(flex="15") Variant: 
    dd(flex="15") {{gene.variant}}
    
    dt(flex="15") Source: 
    dd(flex="45") {{gene.sample}}
    
  div(layout="row", flex)
    dt(flex="15") Expression: 
    dd(flex="15") {{gene.expression_tissue_fc}}
    
    dt(flex="15") Disease Percentile: 
    dd(flex="15") {{gene.expression_cancer_percentile}}
    
    dt(flex="15") Copy Number: 
    dd(flex="15") {{gene.copyNumber}}
    
    dt(flex="15") Zygosity: 
    dd(flex="15") {{gene.zygosity}}
    
div(flex, layout="column", ng-show="gene.showChildren")
  
  div(layout="column", flex).dataBox
  
    div.box
      div(layout="row", flex).heading
        div(flex) Known Variant
        div(flex) Effect
        div(flex) Cancer Type
        div(flex) Association
        div(flex) Therapeutic Context
        div(flex) Evidence
        div(flex) Reference (PIMID)
        div(flex=5)
        
      div(layout="row", flex).row
        div(flex) {{gene.variant}}
        div(flex) {{gene.effect}}
        div(flex) {{gene.disease}}
        div(flex) {{gene.association}}
        div(flex) {{gene.therapeuticContext}}
        div(flex) {{gene.evidence}}
        div(flex)
          span(ng-if="refType(gene.reference) == 'pmid'") 
            a(href="https://www.ncbi.nlm.nih.gov/pubmed/{{gene.reference}}", target="_blank") {{ cleanPMID(gene.reference) }}
          span(ng-if="refType(gene.reference) == 'link'")
            a(href="{{prependLink(gene.reference)}}", target="_blank") Source
          span(ng-if="refType(gene.reference) == 'text'").reference Reference
            md-icon help
            md-tooltip {{gene.reference}}
        div(flex=5).text-center.edit
          md-icon(ng-click="updateRow($event, gene)") edit
            md-tooltip Modify this entry
      
      div(layout="row", flex, ng-repeat="childGene in gene.children").row
        div(flex) {{childGene.variant}}
        div(flex) {{childGene.effect}}
        div(flex) {{childGene.disease}}
        div(flex) {{childGene.association}}
        div(flex) {{childGene.therapeuticContext}}
        div(flex) {{childGene.evidence}}
        div(flex) 
          span(ng-if="refType(childGene.reference) == 'pmid'") 
            a(href="https://www.ncbi.nlm.nih.gov/pubmed/{{childGene.reference}}", target="_blank") {{ cleanPMID(childGene.reference) }}
          span(ng-if="refType(childGene.reference) == 'link'")
            a(href="{{prependLink(childGene.reference)}}", target="_blank") Source
          span(ng-if="refType(childGene.reference) == 'text'").reference Reference
            md-icon help
            md-tooltip {{childGene.reference}}
        div(flex=5).text-center.edit
          md-icon(ng-click="updateRow($event, childGene)") edit
            md-tooltip Modify this entry

