div(layout="column").print
  print-header(pog="$ctrl.pog", report="$ctrl.report")
  div(layout="row", layout-align="space-between start").print__mid-info
    img(src="img/print_logo.png").print__logo
    div(layout="column")
      span.print__mid-info--large-text.print__mid-info--right-align Tumour Genome Analysis
      span.print__mid-info--small-text Whole genome; Transcriptome; Somatic
  div(layout="row", layout-align="space-between center").print__bottom-info
    span Report version: {{$ctrl.report.reportVersion}}
    span Knowledgebase version: {{$ctrl.report.kbVersion}}
  div.print__title {{$ctrl.pog.POGID}}
  ui-view
