.print {
  margin: 0 auto;
  padding: 30px 0 0;
  width: 258mm;

  &__logo {
    max-width: 30%;
    padding: 0 0 20px;
  }

  &__title-patient {
    font-size: 68px;
    font-weight: lighter;
  }

  &__info {
    font-size: 18px;
    // padding: 0 0 8px;
    line-height: 36px;
  }
}
