@import '../../styles/variables';

.print {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 auto;
  padding-top: 1mm;
  width: 258mm;

  &__top-info {
    color: #330099;
    font-weight: 700;

    &--right-align {
      text-align: right;
    }
  }

  &__mid-info {
    padding: 3mm 0 0;

    &--large-text {
      font-size: 13pt;
    }

    &--small-text {
      font-size: 10pt;
    }

    &--right-align {
      text-align: right;
    }
  }

  &__bottom-info {
    font-size: 10pt;
    font-weight: 700;
    padding: 4mm 0 0;
  }

  &__logo {
    max-width: 50%;
  }

  &__header {
    background-color: #756bb1;
    border: 1mm solid silver;
    color: $white;
    font-size: 16pt;
    font-weight: 500;
    margin: 2mm 0;
    padding: 1mm;
    text-align: center;
  }
}
