.reportListingDetail {
  margin-bottom: 5px;
  .reportButton{
    //border: 1px solid red;
    border-radius: 3px;
    padding: 2px;
    margin-left: -2px;
    &:hover {
      background-color: #d2ddff;
    }
  }

}

ipr-report-listing-card {
  a {
    text-decoration: none;
    color: inherit;
  }
  hr {
    border: 1px rgb(238, 238, 238);
    border-style: inset;
  }
  .pediatric_flag {

    position: absolute;
    left: calc(50% - 26px);
    padding: 0 !important;
    span {
      position: relative;
      background-color: #b526dd;
      color: white;
      font-size: 11px;
      padding: 1px 4px;
      border-bottom-left-radius: 3px;
      border-bottom-right-radius: 3px;
      box-shadow: 0 2px 0 0px rgba(0, 0, 0, 0.2);
      display: inline-block;
      top: -4px;
    }

  }
}