div(ng-if="report.patientInformation.caseType.toLowerCase() === 'pediatric'").pediatric_flag
    span Pediatric
div.header
    h1(layout="row")
        //md-icon(ng-if="report.patientInformation.caseType.toLowerCase() === 'pediatric'", md-whiteframe=2).pediatric.clickable supervisor_account
            md-tooltip Pediatric case
        a(flex, ng-if="report.type === 'genomic'", ui-sref="dashboard.reports.pog.report.genomic.summary({POG: pog.POGID, analysis_report: report.ident})").clickable {{pog.POGID}}
        a(flex, ng-if="report.type === 'probe'", ui-sref="dashboard.reports.pog.report.probe.summary({POG: pog.POGID, analysis_report: report.ident})").clickable {{pog.POGID}}
        span(layout="row").text-small
            ipr-report-state(state="report.state")
    
    div(layout="row").subheader
        span(flex) {{report.patientInformation.tumourType}}
        span
            span Report:
            span {{report.ident}}

div(layout="row").details
    div(flex)
        span Biopsy
        span {{report.analysis.analysis_biopsy || 'N/A'}}
    div.clickable {{report.createdAt | amDateFormat: 'YYYY/MM/DD'}}
        md-tooltip {{ report.createdAt | amDateFormat: 'YYYY-MM-DD HH:mm:ss' }}

div(layout="row").details
    div(flex)
        span Version
        span {{report.reportVersion}}
    div(flex-md=100, ng-if="report.type === 'genomic'")
        span Ploidy
        span {{getPloidy(pog)}}
    

div(layout="row", ng-if="report.type === 'genomic'").details
    div(flex, flex-md=100)
        span TC
        span(ng-if="getTumourContent(pog) !== -1", ng-class="{low: getTumourContent(pog) < 40, clickable: getTumourContent(pog) < 40}") {{getTumourContent(pog)}}%
            md-tooltip(ng-if="getTumourContent(pog) < 40") Low tumour content
        span(ng-if="getTumourContent(pog) === -1") N/A

hr(ng-if="report.type === 'genomic'")

div(layout="row", layout-md="column", ng-if="report.type === 'genomic'").details
    div(flex, flex-md=100)
        span Bioinformatics
        span {{getRoleUser(pog, 'bioinformatician', 'name') || 'N/A'}}
    div(flex-md=100)
        span Analyst
        span {{getRoleUser(pog, 'analyst', 'name') || 'N/A'}}

//div(layout="row", layout-md="column").reportListingDetail
    div(flex=50, flex-md=100, ui-sref="dashboard.pog.report.probe.summary({POG: pog.POGID, analysis_report: getReport(pog, 'probe').ident})")
        span(ng-class="{reportButton: checkProbeGenomic(pog, 'probe'), clickable: checkProbeGenomic(pog, 'probe')}")
            span Probe Report
            span
                span(ng-class="{active: checkProbeGenomic(pog, 'probe')}").circle

    div(flex=50, flex-md=100, ui-sref="dashboard.pog.report.genomic.summary({POG: pog.POGID, analysis_report: getReport(pog, 'genomic').ident})")
        span(ng-class="{reportButton: checkProbeGenomic(pog, 'genomic'), clickable: checkProbeGenomic(pog, 'genomic')}")
            span Genomic Report
            span
                span(ng-class="{active: checkProbeGenomic(pog, 'genomic')}").circle
                span(ng-if="reportCount('genomic') > 1") ({{reportCount('genomic')}})