md-content(flex, layout="column", ng-if="!$ctrl.isExternalMode").md-padding

  md-sidenav(md-is-open="$ctrl.options.showOptions", md-whiteframe=4, ng-if="!$ctrl.isExternalMode").md-sidenav-right
    md-toolbar
      h1.md-toolbar-tools Options
    md-content
      md-list
        md-list-item
          p Show Newly uploaded reports
          md-switch(ng-model="$ctrl.states.uploaded", ng-change="$ctrl.refreshList()", ng-false-value="false", ng-true-value="true").md-primary
        md-list-item
          p Show Signed-off Reports
          md-switch(ng-model="$ctrl.states.signedoff", ng-change="$ctrl.refreshList()", ng-false-value="false", ng-true-value="true").md-primary
        md-list-item
          p Show Reviewed
          md-switch(ng-model="$ctrl.states.reviewed", ng-change="$ctrl.refreshList()", ng-false-value="false", ng-true-value="true").md-primary
        md-list-item
          p Show Nonproduction
          md-switch(ng-model="$ctrl.states.nonproduction", ng-change="$ctrl.refreshList()", ng-false-value="false", ng-true-value="true").md-primary

  h1.md-title(layout="row")
    span(flex) Targeted Gene Reports 
      md-icon(ng-click="$ctrl.showProbeDescription()").clickable.blue info
        md-tooltip(md-direction="right") About Targeted Gene Reports
    span(flex, layout="row", layout-align="end end")
      md-input-container.hide-validation-error.pull-right
        input(placeholder="Search", name="Search", ng-model="pogQuery", size=40).text-small
        md-icon(ng-click="$ctrl.showFilterTips()").clickable.blue help
      span(flex=5)
      span
        md-button(ng-click="$ctrl.options.showOptions = !$ctrl.options.showOptions").md-primary.md-icon-button.md-raised
          md-icon settings

  div(layout="column", flex).kanban
    div(layout="row", layout-align="space-between").title
      div(layout="row", flex, ng-show="$ctrl.states.uploaded")
        span Uploaded ({{$ctrl.numReports('uploaded')}})
      div(layout="row", flex, ng-show="$ctrl.states.signedoff")
        span Signed-Off ({{$ctrl.numReports('signedoff')}})
      div(layout="row", flex, ng-show="$ctrl.states.reviewed")
        span Reviewed ({{$ctrl.numReports('reviewed')}})
      div(layout="row", flex, ng-show="$ctrl.states.nonproduction")
        span Non-Production/Test ({{$ctrl.numReports('nonproduction')}})

    div(layout="row", flex, layout-align="space-between")
      md-content(layout="column", flex, ng-show="$ctrl.states.uploaded").column
        div(ng-show="$ctrl.loading").text-center Loading...
        div(ng-show="$ctrl.numReports('uploaded') === 0").noWork No uploaded targeted gene reports found.
        report-listing-card(ng-repeat="report in $ctrl.reports | filter: $ctrl.searchPogs('uploaded', pogQuery)", md-whiteframe=2, report="report", pog="report.analysis.pog", state="uploaded" ng-hide="$ctrl.loading").pog


      md-content(layout="column", flex, ng-show="$ctrl.states.signedoff").column
        div(ng-show="loading").text-center Loading...
        div(ng-show="$ctrl.numReports('signedoff') === 0").noWork No signed-off targeted gene reports found.
        report-listing-card(ng-repeat="report in $ctrl.reports | filter: $ctrl.searchPogs('signedoff', pogQuery)", md-whiteframe=2, report="report", pog="report.analysis.pog", state="signedoff", ng-hide="$ctrl.loading").pog

      md-content(layout="column", flex, ng-show="$ctrl.states.reviewed").column
        div(ng-show="loading").text-center Loading...
        div(ng-show="$ctrl.numReports('reviewed') === 0").noWork No reviewed targeted gene reports found.
        report-listing-card(ng-repeat="report in $ctrl.reports | filter: $ctrl.searchPogs('reviewed', pogQuery)", md-whiteframe=2, report="report", pog="report.analysis.pog", state="reviewed", ng-hide="$ctrl.loading").pog

      md-content(layout="column", flex, ng-show="$ctrl.states.nonproduction").column
        div(ng-show="$ctrl.loading").text-center Loading...
        div(ng-show="$ctrl.numReports('nonproduction') === 0").noWork No non-production targeted gene reports found.
        report-listing-card(ng-repeat="report in $ctrl.reports | filter: $ctrl.searchPogs('nonproduction', pogQuery)", md-whiteframe=2, report="report", pog="report.analysis.pog", state="nonproduction", ng-hide="$ctrl.loading").pog

md-content(flex, layout="column", ng-if="$ctrl.isExternalMode").md-padding.biopsyBoard

  h1.md-title(layout="row")
    span(flex) Targeted Gene Reports 
      md-icon(ng-click="$ctrl.showProbeDescription()").clickable.blue info
        md-tooltip(md-direction="right") About Targeted Gene Reports

  div(layout="column").biopsies

    report-table(reports="$ctrl.reports", clinician="true", pagination="$ctrl.pagination", type="'probe'")