@import '../../../../styles/variables';

.rapid-summary {
  margin: 20px auto;
  padding: 0 20px;

  &__sample-information {
    &-title {
      margin: 0 0 32px;
    }
  }

  &__reviews {
    &-title {
      margin: 0 0 24px;
    }
  }

  &__signatures {
    max-width: $readable-max;
    margin: 0 auto;
  }

  &__none {
    padding: 16px;
  }

  &__unknown-significance {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(12rem, 1fr));
    grid-gap: 1rem;
    margin: 1rem 0;
  }
}

.rapid-summary--print {
  margin: 0 auto;

  .rapid-summary {
    &__sample-information {
      margin: 24px 0;
    }

    &__events {
      page-break-inside: avoid;
      margin: 28px 0;
      border: 2px solid black;
      border-radius: 4px;
      padding: 8px;

      &-title {
        margin: 0 0 16px;
      }
    }

    &__signatures {
      page-break-inside: avoid;
      border: 1px solid black;
      display: flex;
      margin: 0 8px;
      max-width: none;
    }
  }
}
