$primary: #26328c;
$secondary: #009688;
$print-title: #756bb1;
$print-header: #bcbddc;
$print-subheader: #d3d4f4;
$print-container-padding: 0 20px;
$snv-background: rgb(204, 236, 197);
$indel-background: rgb(222, 203, 228);
$sv-background: rgb(179, 205, 227);
$white-icon: #f0f0f0;
$blue-icon: #465acb;
$white-background: #fafafa;
$white: #fff;
$medium-emphasis: rgba(0, 0, 0, .6);
$black-03: rgba(0, 0, 0, .03);
$black-10: rgba(0, 0, 0, .10);
$black-12: rgba(0, 0, 0, .12);
$black-15: rgba(0, 0, 0, .15);
$black-20: rgba(0, 0, 0, .2);
$black-50: rgba(0, 0, 0, .5);
$black-80: rgba(0, 0, 0, .8);
$print-title-text: #323232;
$print-box-background: #efedf5;
$underline: #4362b8;
$accent--blue: rgb(179, 187, 232);
$accent--green: rgb(178, 214, 171);
$accent--purple: rgb(212, 179, 232);
$accent--orange: rgb(247, 206, 170);

$navbar-size: 56px;
$sidebar-size: 240px;

$navbar-z-index: 1100;
$sidebar-z-index: 5;
$sidebar-hidden-text-z-index: 9;
$content-z-index: 6;

$light-weight: 300;
$medium-weight: 500;

$icon-opacity: .54;

$header-font-size: 1.6em;
$caption-font-size: .8em;
$large-body-font-size: 1.2em;

$breakpoint-xl: 1920px;
$breakpoint-lg: 1280px;
$breakpoint-med: 960px;
$breakpoint-sm: 600px;
$breakpoint-xs: 0px;

$default-spacing: 20px;

$readable-max: 700px;
$readable-min: 300px;

$content-max: 960px;

$print-width: 8.5in;

$transition-fast: 0.2s;
$transition-normal: 0.3s;
