$primary: #26328C;
$secondary: #AD419F;
$white-icon: #F0F0F0;
$white-background: #FAFAFA;
$white: #FFF;
$medium-emphasis: rgba(0, 0, 0, .6);
$black-03: rgba(0, 0, 0, .03);
$black-12: rgba(0, 0, 0, .12);
$black-15: rgba(0, 0, 0, .15);
$black-20: rgba(0, 0, 0, .2);
$black-50: rgba(0, 0, 0, .5);
$black-80: rgba(0, 0, 0, .8);
$underline: #4362B8;
