@import '../../../../styles/theme';

.settings {
  padding: 16px;

  &__inputs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 0 16px;

    & > * {
      width: 49%;
    }
  }

  &__box {
    padding: 20px 16px;
  }

  &__actions {
    display: flex;
    justify-content: space-between;

    &--warn {
      color: $palette__error--light !important;
    }
  }

  &__text-field {
    margin: 20px 0 12px !important;
    height: 40px;

    > * {
      box-sizing: content-box !important;
    }
  }

  &__user-associations {
    padding: 16px 0;
  }

  &__user-association-cards {
    padding: 8px 0;
  }
}
