@import '../../../../styles/theme';
@import '../../../../styles/variables';

.settings {
  padding: 16px;
  max-width: $content-max;
  margin: 0 auto;

  &__inputs {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 0 16px;

    & > * {
      width: 49%;
      margin: 8px 0;
    }
  }

  &__box {
    padding: 20px 16px;
  }

  &__actions {
    display: flex;
    justify-content: space-between;

    &--warn {
      color: $palette__error--light;
    }
  }

  &__user-associations {
    padding: 16px 0;

    &--none {
      margin: 4px 0;
    }
  }

  &__user-association-cards {
    padding: 8px 0;
  }
}
