
section.meta
  md-subheader.md-no-sticky Settings

  div(layout="column").inlineSettings
    div(layout="row")
      md-input-container(flex)
        label Report Template
        md-select(
          ng-model="$ctrl.report.template.name",
          placeholder="Report Template",
          aria-label="Report Template",
          required,
          md-on-close="$ctrl.checkChange()"
        )
          md-option(ng-repeat="template in $ctrl.templates track by $index" ng-value="template.name") {{template.name}}
      md-input-container(flex)
        label Report State
        md-select(ng-model="$ctrl.report.state", placeholder="Report State", aria-label="Report State", required, md-on-close="$ctrl.checkChange()")
          md-option(ng-value="'ready'") Ready for analysis
          md-option(ng-value="'active'") Analysis underway
          md-option(ng-value="'reviewed'") Reviewed
          md-option(ng-value="'archived'") Archived
          md-option(ng-value="'nonproduction'") Non-Production
    div(layout="row")
      md-input-container(flex)
        input(ng-model="$ctrl.report.reportVersion", placeholder="Report Version", required, ng-change="$ctrl.checkChange()")
      md-input-container(flex)
        input(ng-model="$ctrl.report.kbVersion", placeholder="Knowledgebase Version", required, ng-change="$ctrl.checkChange()")
    div(layout="row")
      md-input-container(flex)
        input(ng-model="$ctrl.report.expression_matrix", placeholder="Expression Matrix Version", ng-disabled="true", disabled="$ctrl.disabled")
      md-input-container(flex)

    div(layout="row")
      span
        md-button(ng-click="$ctrl.deleteReport($event)").md-warn Delete Report
      span(flex)
      span
        md-button(ng-click="$ctrl.updateSettings()", ng-disabled="!$ctrl.reportSettingsChanged").md-accent.md-raised Update
  div(layout="column", ng-if="!$ctrl.report.users.includes($ctrl.user)")
    md-subheader.md-no-sticky Analysis Status
    div(ng-if="$ctrl.report.analysisStartedAt").analysis__start
      span Analysis started: {{$ctrl.formatDate($ctrl.report.analysisStartedAt, true)}}
    md-tooltip(ng-if="!$ctrl.report.analysisStartedAt && !$ctrl.canStartAnalysis", md-direction="bottom") Only assigned users can start the analysis
    md-button(ng-click="$ctrl.startAnalysis()", ng-if="!$ctrl.report.analysisStartedAt", ng-disabled="!$ctrl.canStartAnalysis").md-accent Start Analysis
  md-subheader(ng-if="$ctrl.showBindings").md-no-sticky User Associations
  div(ng-repeat="role in $ctrl.roles track by $index", ng-if="$ctrl.showBindings")
    h2.title {{role}}s

    div(layout="row", flex, layout-align="start center").roleList
      role-card(role="u", ng-repeat="u in $ctrl.report.users | filter: $ctrl.roleFilter(role)", remove-entry="$ctrl.removeEntry(entry)")

      div(layout="column", layout-align="center center", ng-click="$ctrl.addUser($event, role)").add
        span.icon
          md-icon add
        span Add New
