div(layout="column", flex).mutationSignature

    div(layout="row", flex).header
        div(ng-if="$ctrl.mode === 'pick'", style="width:46px;")
        div(ng-if="$ctrl.mode === 'pick'", style="width:126px;")
        div(flex=10)
            span(ng-click="$ctrl.sortMutations('signature')").sortable Signature
                span(ng-show="$ctrl.mutationSort.col == 'signature'").order {{(($ctrl.mutationSort.order) ? '∨':'∧')}}
        div(flex=5)
            span(ng-click="$ctrl.sortMutations('nnls')").sortable NNLS
                span(ng-show="$ctrl.mutationSort.col == 'nnls'").order {{(($ctrl.mutationSort.order) ? '∨':'∧')}}
            span(ng-click="$ctrl.toggleNnlsNormalize()").subhead [{{(($ctrl.nnlsNormal) ? 'N' : 'L')}}]
                md-tooltip Toggle Normalized Colouring
        div(flex) Probable Associations
        div(flex=10) Additional Features
        div(flex=10) # Cancer Types
        div(flex=45) Significant Cancer Type

    div(layout="row", ng-repeat="row in $ctrl.mutationSignature", flex, ng-class="(($ctrl.isSelectedMutation(row.ident) && $ctrl.mode !== 'pick') ? 'selected' : '')").row
        div(ng-if="$ctrl.mode === 'pick'", style="width:40px;").text-center
            md-checkbox(aria-label="Select Signature", ng-checked="$ctrl.selectedSigs.includes(row.ident)", ng-click="$ctrl.addToSelection(row)")
        div(ng-if="$ctrl.mode === 'pick'", style="width:120px;").text-center
            md-select(ng-model="$ctrl.modifier[row.ident]", ng-show="$ctrl.selectedSigs.includes(row.ident)", ng-change="$ctrl.updateSelectedSigs()", aria-label="Signature modifier")
                md-option(ng-value="null") -- None --
                md-option(ng-value="'Slight'") Slight
                md-option(ng-value="'Moderate'") Moderate
                md-option(ng-value="'Strong'") Strong
        div(flex=10)
            | Signature {{row.signature}}
            md-tooltip(ng-if="$ctrl.isSelectedMutation(row.ident)") This signature has been selected by [analyst.name]
        div(flex=5, class="sig-{{row.nnlsColour}}").signatureCorrelation {{row.nnls}}
        div(flex).text-center {{row.associations}}
        div(flex=10).text-center {{row.features}}
        div(flex=10).text-center {{row.numCancerTypes}}
        div(flex=45).text-small {{row.cancerTypes}}