md-dialog(layout="column", aria-label="Variant DB Libraries Search", flex-md=90, flex-xs=100, flex-lg=90, flex=90)
    md-toolbar
        .md-toolbar-tools
            h2 Variant DB Alternate Lookup
            span(flex)
            md-button.md-icon-button(ng-click='cancel()')
                md-icon cancel
    md-dialog-content(layout-padding)

        p Below is a list of all Libraries in VarDB that contain the specified alteration: {{alteration}}

        div(ng-show="loading", layout="column", layout-align="center center")
            md-progress-circular(md-mode="indeterminate")
            p(ng-show="step === 0") Detecting Libraries
            p(ng-show="step === 1") Retrieving library details
            p(ng-show="step === 2") Almost done, preparing results.
            //p Reticulating Splines

        div(layout="column", ng-hide="loading").dialogTable
            div(layout="row").header
                div(flex) Patient
                div(flex) Library
                div(flex=40) Cancer Type
                div(flex=10) Tumour Content
                div(flex) Ploidy Model
                div(flex) Gender
                div(flex) Age
            div(layout="row", ng-repeat="lib in libraries").row
                div(flex) {{lib.patient_id}}
                div(flex) {{lib.library_name}}
                div(flex=40, md-truncate) {{lib.pathology_alias}}
                div(flex=10).text-right {{lib.tumour_content}}%
                div(flex) {{lib.ploidy}}
                div(flex) {{lib.gender}}
                div(flex) {{lib.developmental_stage}}
