@import '../../../styles/variables';

.md-toolbar-tools {
  padding: 0 10px;
  background-color: $primary;
  color: $white;

  > .md-button:first-child {
    margin-left: -2px;
  }

  md-icon {
    &.clickable {
      outline: 0;
      cursor: pointer;
    }

    &.margin-right-15 {
      margin-right: 15px;
    }
  }
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 56px;
  min-height: 56px;
  box-shadow: 0 2px 4px -1px rgba(0, 0, 0, .2), 0 4px 5px 0 rgba(0, 0, 0, .14), 0 1px 10px 0 rgba(0, 0, 0, .12);
  z-index: 7;

  &#{&} {
    transition-duration: .3s;
    transition-property: left, width;
    transition-timing-function: ease;
  }

  &--open {
    left: 240px;
    width: calc(100% - 240px);
  }

  &__title {
    margin-left: 17px;
    font-weight: 400;
  }

  &__button {
    padding: 8px 0;
  }

  &__icon {
    color: $white;
  }

  &__version {
    font-size: 12px;
  }
}
