.add-user {
  &__text-field {
    margin: 8px;
  }

  &__select {
    margin: 8px;
  }

  &__form-container {
    flex-direction: row;
  }

  &__loading {
    display: flex;
    justify-content: center;
  }

  &__actions {
    &__checkbox {
      position: absolute;
      left: 0;
      margin: 16px;
    }
  }
}
