section
  md-subheader.md-primary Analyst Comments
      
  div(layout="column").analystComments
    
    div(flex=10) 
      md-button(ng-click="updateComments()").md-icon-button.edit-icon
        md-icon edit 
    div(ng-bind-html="commentsHTML || '<h2>Report Draft</h2> <br /> No comments yet.'")
  //div Updated by: [name] on {{analystComments.updatedAt}}
  
  div.smallBottom &nbsp;
