md-content(flex, layout="column").md-padding
    h1.md-title(layout="row")
        span(flex) My Assigned POG Cases
        span(flex, layout="row", layout-align="end end")
            md-input-container.hide-validation-error.pull-right
                md-select(ng-model="filter.role", placeholder="Filter by my Role", ng-change="refreshList()").text-small
                    md-option(ng-value="null") All
                    md-option(ng-repeat="role in roles", ng-value="role") {{role}}
            span(flex=5)
            div.userCases
                md-switch(ng-model="filter.currentUser", ng-change="refreshList()", ng-false-value="false", ng-true-value="true").md-primary Only my cases
            span(flex=5)
            md-input-container.hide-validation-error.pull-right
                input(placeholder="Search", name="Search", ng-model="pogQuery", size=40).text-small
                md-icon(ng-click="showFilterTips()").clickable help

    //div(layout="row", ng-show="pogList.length === 0", layout-align="center center")
        div(md-whiteframe="1").noPogs No active cases assigned to you.

    //div(ng-repeat="pog in pogList = ( pogs | filter: searchPogs(pogQuery))", flex, md-whiteframe="1").PogList.md-padding
        h2(layout="row")
            span(ui-sref="dashboard.pog.report.genomic.summary({POG: '{{pog.POGID}}' })", flex).title {{pog.POGID}}
            span(flex).text-center {{pog.patientInformation.reportDate}}
            span(flex) My Roles:
                span(ng-if="pog.myRoles.length === 0", md-whiteframe="1").role None
                span(ng-repeat="role in pog.myRoles", md-whiteframe="2").role {{role.role}}
                    md-tooltip Assigned by {{role.addedBy.firstName}} {{role.addedBy.lastName}} {{role.createdAt | amTimeAgo}}

        div(flex, layout="column")
            div(flex, layout="row")
                div(flex)
                    span Tumour Content:
                        ipr-tumour-content(tc="{{pog.tumourAnalysis.tumourContent}}", md-whiteframe="1")
                div(flex)
                    span Tumour Type:
                    |  {{pog.patientInformation.tumourType}}
                div(flex)
                    span Ploidy Model:
                    |  {{pog.tumourAnalysis.ploidy}}

    div(layout="column", flex).kanban
        div(layout="row", layout-align="space-between").title
            div(layout="column", flex) Bioinformatics
            div(layout="column", flex) Analysis
            div(layout="column", flex) Archived

        div(layout="row", flex, layout-align="space-between")
            md-content(layout="column", flex).column
                div(ng-repeat="pog in pogs | filter: searchPogs(pogQuery)", md-whiteframe=2).pog
                    div.header
                        h1(layout="row")
                            span(flex, ui-sref="dashboard.pog.report.listing({POG: pog.POGID})").clickable {{pog.POGID}}
                            span(layout="row", layout-align="middle space-around", ng-hide="true").priority.clickable
                                span(ng-repeat="pip in [1,2]").pip.normal &nbsp;
                                md-tooltip Priority: Normal
                        div(layout="row").subheader
                            span(flex) {{pog.patientInformation.tumourType}}

                    div(layout="row").details
                        div(flex)
                            span TC
                            span(ng-class="{low: getTumourContent(pog) < 40, clickable: getTumourContent(pog) < 40}") {{getTumourContent(pog)}}%
                                md-tooltip(ng-if="getTumourContent(pog) < 40") Low tumour content
                        div {{getPloidy(pog)}}


                    //div(layout="column").tasks
                    div(layout="column", ng-init="pog.showTasks=false", ng-show="pog.showTasks").tasks
                        div(layout="row")
                            span 1.
                            span(flex, md-truncate) Setup Pipeline
                            md-icon person
                            span.done &nbsp;

                        div(layout="row")
                            span 2.
                            span(flex) Clinical data available
                            md-icon person
                            span.active &nbsp;

                        div(layout="row")
                            span 3.
                            span(flex) Review Disease Comparator
                            md-icon person
                            span &nbsp;

                        div(layout="row")
                            span 4.
                            span(flex) Tumour content & ploidy
                            md-icon person
                            span &nbsp;

                        div(layout="row")
                            span 5.
                            span(flex) HOMD Analysis
                            md-icon person
                            span &nbsp;

                        div(layout="row")
                            span 6.
                            span(flex) Review Indels & SNVs
                            md-icon person
                            span &nbsp;

                    div(layout="row", flex, ng-click="pog.showTasks = !pog.showTasks").taskToggle.text-center.clickable {{(pog.showTasks) ? 'hide' : 'show'}} tasks

                    div(layout="row", layout-md="column", ng-hide="true")
                        div(flex=50, flex-md=100, ng-hide="true")
                            span TC
                            span {{getTumourContent(pog)}}%
                        div(flex=50, flex-md=100, ng-hide=true)
                            span Ploidy
                            span.text-capitalize {{getPloidy(pog)}}
                    div(layout="row", layout-md="column", ng-hide="true")
                        div(flex=50, flex-md=100)
                            span Bioinformatics
                            span {{getRoleUser(pog, 'bioinformatician', 'name') || 'N/A'}}
                        div(flex=50, flex-md=100)
                            span Analyst
                            span {{getRoleUser(pog, 'analyst', 'name') || 'N/A'}}
                    div(layout="row", layout-md="column", ng-hide="true")
                        div(flex=50, flex-md=100, ui-sref="dashboard.pog.report.probe.summary({POG: pog.POGID, analysis_report: getReport(pog, 'probe').ident})").clickable
                            span Probe Report
                            span
                                span(ng-class="{active: checkProbeGenomic(pog, 'probe')}").circle
                        div(flex=50, flex-md=100, ui-sref="dashboard.pog.report.genomic.summary({POG: pog.POGID, analysis_report: getReport(pog, 'genomic').ident})").clickable
                            span Genomic Report
                            span
                                span(ng-class="{active: checkProbeGenomic(pog, 'genomic')}").circle
            div(layout="column", flex).column
            div(layout="column", flex).column