.userCases {
  md-switch {
    margin: 3px 0;
  }

  font-size: 0.85em;

  margin-right: 20px;
}

.noPogs {
  background-color: rgb(230,230,230);
  padding: 20px 0;
  text-align: center;
  width: 100%;
}

div.PogList {
  
  background-color: rgb(222,222,222);
  margin: 0 0 10px 0;
  padding: 0 0 10px 0;
  
  h2 {
    margin: 0 0 10px 0;
    padding: 10px 0 7px 7px;
    text-align: left;
    background-color: rgb(2,119,189);
    color: rgb(255,255,255);
    font-size: 1.2em;
    
    span.title {
      font-size: 1.0em;
      cursor: pointer;
    }
    
    span {
      font-size: 0.65em;
    }
    span.role {
      font-size: 0.95em;
      margin-left: 10px;
      cursor: pointer;
      color: rgb(2,119,189);
      padding: 2px 6px;
      background-color: rgb(255,255,255);
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 4px;
    }
  }
  
  div { // Column
  
    padding: 0 10px;
    
    div { // Row
    
      padding: 0;
      
      div { // Content
        padding: 0;
        font-weight: 100;
        
        span {
          font-weight: 500;
        }
      }
    }
  }
}

.kanban {

  .title {
    div {
      font-size: 0.90em;
      color: rgba(0,0,0, 0.54);
      padding: 0 0 8px 0;
      text-align: center;
    }
  }

  .column {
    overflow-y: auto;
    background-color: rgb(240,240,240);
    border: 1px solid rgb(200,200,200);
    padding: 7px 8px;
    margin-right: 10px;
  }
  .pog {
    background-color: rgb(255,255,255);
    margin: 5px 0;

    &:first-of-type {
      margin-top: 0;
    }

    div.header {
      background-color: rgb(62, 79, 177);
      color: rgb(255, 255, 255);
      padding: 4px 13px 4px 13px;
      min-height: 57px;

      h1 {
        font-weight: 500;
        font-size: 1.2em;
        margin: 0 0 5px 0;
        padding: 7px 8px 0 0;

        span.priority {
          margin-right: auto;
          float: right;
          width: 37px;
          height: 13px;
          padding: 1px;
          border: 1px solid rgba(255,255,255, 0.5);
          background: rgba(255,255,255, 0.10);

          span.pip {
            width: 7px;
            height: 7px;
            border-radius: 50%;
            background-color: rgb(255,255,255);
            margin: 0 1px;
            border: 1px solid rgba(255,255,255, 0.6);

            &.high { background-color: rgb(255, 37, 0); }
            &.normal { background-color: rgb(0, 220, 16); }
            &.low { background-color: rgb(255, 188, 0); }
          }
        }
      }

    }

    div.details {
      padding: 8px 10px;
      min-height: 15px;

      span.low {
        color: red;
      }

      div:last-of-type {
        text-transform: capitalize;
      }
    }

    div.tasks {
      border-top: 1px solid rgba(0,0,0,0.2);
      border-bottom: 1px solid rgba(0,0,0,0.2);
      padding: 5px 0;

      div {

        border-bottom: 1px solid rgba(0,0,0,0.1);
        padding: 2px 0;
        min-height: 15px;

        &:last-of-type { border-bottom: none; }

        md-icon {
          width: 17px;
          height: 17px;
          min-height: 17px;
          min-width: 17px;
          font-size: 17px;
          margin-right: 5px;
          cursor: pointer;
        }

        span:first-of-type {
          font-weight: 100;
          margin-right: 5px;
          padding-left: 10px;
        }
        span:nth-of-type(2) {
          margin-left: 0;
          font-weight: 700;
        }
        span:last-of-type {
          width: 9px;
          height: 9px;
          border: 1px solid rgba(0,0,0,0.4);
          margin-top: 2px;
          border-radius: 50%;
          margin-right: 10px;

          &.active {
            background-color: rgb(242, 220, 17);
          }
          &.done {
            background-color: rgb(46, 204, 113);
          }

        }
      }
    }

    div.taskToggle {
      font-size: 0.8em;
      text-align: center;
      display: inherit;
    }

    div {
      padding: 3px 10px;
      div {
        padding: 0;
        font-size: 0.80em;

        span:first-of-type {
          font-weight: 100;
        }
        span:nth-of-type(2) {
          font-weight: 700;
          margin-left: 10px;
        }

        span md-icon {
          font-size: 18px;
          max-height: 20px;
          height: 20px;
          max-width: 20px;
          width: 20px;
        }

        span.circle {
          width: 10px;
          height: 10px;
          border-radius: 50%;
          border: 1px solid rgb(100,100,100);
          display: inline-block;
          margin-bottom: -2px;

          &.active {
            background-color: rgb(46, 204, 113);
          }
        }
      }
    }
  }
}
