md-content(flex).md-padding
  h1.md-title(layout="row") 
    span(flex) My Assigned POG Cases
    span(flex)
      md-input-container.hide-validation-error.pull-right
        input(placeholder="Search", name="Search", ng-model="pogQuery", size=40)
        md-icon(ng-click="showFilterTips()").clickable help
  
  div(ng-repeat="pog in pogList = ( pogs | filter: searchPogs(pogQuery))", flex, md-whiteframe="1").PogList.md-padding
    h2(layout="row")
      span(ui-sref="dashboard.pog.report.genomic.summary({POG: '{{pog.POGID}}' })", flex).title {{pog.POGID}}
      span(flex).text-center {{pog.patientInformation.reportDate}}
      span(flex) My Roles:
        span(ng-if="pog.myRoles.length === 0").role None
        span(ng-repeat="role in pog.myRoles").role {{role.role}}
          md-tooltip Assigned by {{role.addedBy.firstName}} {{role.addedBy.lastName}} {{role.addedBy.createdAt | amTimeAgo}}
      
    div(flex, layout="column")
      div(flex, layout="row")
        div(flex) 
          span Tumour Content:
            ipr-tumour-content(tc="{{pog.tumourAnalysis.tumourContent}}", md-whiteframe="1")
        div(flex) 
          span Tumour Type: 
          | {{pog.patientInformation.tumourType}}
        div(flex) 
          span Ploidy Model: 
          | {{pog.tumourAnalysis.ploidy}}
