@import '../../../../styles/variables';

.kb-matches {
  &__header {
    padding: 8px;
  }

  &__container {
    margin: 8px 0;
  }

  &__button-container {
    display: flex;
    justify-content: space-around;
    margin: 8px 0;
  }
}
