@import '../../styles/variables';

.text-center {
  text-align: center;
}

.bg-white {
  background-color: $white;
}

.clickable {
  cursor: pointer;
  outline: 0;
}

.underlined {
  color: $underline;
  font-weight: 700;
  text-decoration: underline;
}

md-dialog-content.iprBox {

  svg {
    width: 100%;
    height: 300px;
  }

  .dataBox {
    margin: 7px 4px;

    .infoBar {
      background-color: rgb(154, 162, 204);
      font-size: 12px;

      div {
        border-right: 1px solid rgb(136, 147, 195);
        padding: 10px;
        box-sizing: border-box;
        text-align: center;
      }

      div:last-of-type {
        border-right: 0px;
      }

      span:first-of-type {
        font-weight: 200;
      }
      span:nth-of-type(2) {
        font-weight: 600;
        margin-left: 10px;
      }
    }

    &.noBottomMargin {
      margin-bottom: 0;
    }

    div.box {
      background-color: rgb(180, 180, 180);

      div.heading {
        font-weight: 100;
        font-size: 0.8em;
        text-align: center;
        background-color: rgb(204, 207, 226);

        div {
          border-right: 1px solid rgb(136, 147, 195);
          box-sizing: border-box;
          padding: 10px 0;
        }

        div:last-of-type {
          border-right: 0px;
        }
      }
      div.content {
        font-weight: 600;
        font-size: 0.9em;
        text-align: center;
        padding: 20px 0;
        background-color: rgb(235, 235, 235);

        div {
          padding: 0 5px;
        }
      }
      div.row {
        background-color: rgb(235, 235, 235);
        font-weight: 300;
        font-size: 0.85em;

        div {
          border-right: 1px solid rgb(136, 147, 195);
          min-height: 20px;
          vertical-align: middle;
          padding: 3px 2px 3px 5px;
        }

        div:last-of-type {
          border-right: 0px;
        }

        &:nth-of-type(odd) {
          background-color: rgb(215, 215, 215);
        }
        &:hover {
          background-color: rgb(247, 206, 170);

          .edit {
            md-icon {
              display: inline;
            }

          }

        }

      }
    }
  }
}