div(layout="row", flex).inner
    p(style="margin: 0") Administration
    md-menu-bar
        md-menu
            md-button(ng-click="$mdMenu.open()") Permissions
            md-menu-content.adminBar
                md-menu-item
                    md-button(ui-sref="dashboard.admin.users.userList") Users
                md-menu-divider
                md-menu-item
                    md-button(ui-sref="dashboard.admin.users.groups") Groups
                md-menu-divider
                md-menu-item
                    md-button(ui-sref="dashboard.admin.users.projects") Projects