section
    md-subheader.md-primary Somatic Mutations

    div(layout="column", flex)

        div(layout="column", flex).bg-white

            h2.title Small Somatic Mutations
            h3.title Summary of Somatic Events

            div(layout="row", layout-align="space-around center").margin-bottom-40
                div(layout="column").smEvents.snv
                    div(layout="row")
                        div(flex=60) Number of non-synonymous protein coding SNVs (Truncating)
                        div(flex=40, layout="row", layout-align="center center").count
                            div.snv {{ms.totalSNV}}
                    img(style="width: 90%", data-ng-src="data:image/png;base64,{{images['mutSummary.snv'].data}}")
                    img(style="width: 90%", data-ng-src="data:image/png;base64,{{images['mutSummary.barSnv'].data}}")

                div(layout="column").smEvents.indel
                    div(layout="row")
                        div(flex=60) Number of protein coding indels (Frameshift)
                        div(flex=40, layout="row", layout-align="center center").count
                            div.indel {{ms.totalIndel}}
                    img(style="width: 90%", data-ng-src="data:image/png;base64,{{images['mutSummary.indel'].data}}")
                    img(style="width: 90%", data-ng-src="data:image/png;base64,{{images['mutSummary.barIndel'].data}}")

            h3.title Mutational Spectrum
            ipr-mutation-signature(pog="pog", report="report", mutation-signature="mutationSignature", mutation-summary="ms")

            div(layout="column", layout-align="center center")
                div
                    img(data-ng-src="data:image/png;base64,{{images['mutSignature.snvsAllStrelka'].data}}")

        div(layout="column", flex)
            h2.title Small Mutations: Genomic Details

            div(ng-repeat="(title, smallMutation) in smallMutations")
                h3(ng-if="title == 'biological'").title Variants of Biological Relevance
                h3(ng-if="title == 'unknown'").title Variants of Unknown Significance in Known Cancer-Related Genes
                h3(ng-if="title == 'clinical'").title Variants of Clinical Relevance
                h3(ng-if="title == 'nostic'").title Variants of Prognostic or Diagnostic Relevance

                ipr-small-mutations(mutations="smallMutation", pog="pog", report="report")
