{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "usage",
        "modules": "auto",
        "corejs": 3
      }
    ],
    "@babel/preset-react",
    "@babel/preset-typescript"
  ],
  "env": {
    "production": {
      "plugins": [
        [
          "babel-plugin-direct-import",
          {
            "modules": [
              "@mui/system",
              "@mui/material",
              "@mui/icons-material"
            ]
          }
        ]
      ]
    },
    "staging": {
      "plugins": [
        [
          "babel-plugin-direct-import",
          {
            "modules": [
              "@mui/system",
              "@mui/material",
              "@mui/icons-material"
            ]
          }
        ]
      ]
    },
    "development": {
      "plugins": [
        [
          "babel-plugin-direct-import",
          {
            "modules": [
              "@mui/system",
              "@mui/material",
              "@mui/icons-material"
            ]
          }
        ]
      ]
    },
    "local": {
      "plugins": [
        [
          "babel-plugin-direct-import",
          {
            "modules": [
              "@mui/system",
              "@mui/material",
              "@mui/icons-material"
            ]
          }
        ]
      ]
    }
  }
}
