{
  "presets": [
    [
      "@babel/preset-env",
      {
        "useBuiltIns": "usage",
        "modules": "auto",
        "corejs": 3.32
      }
    ],
    "@babel/preset-react",
    "@babel/preset-typescript"
  ]
}
