{
  "rules": {
    
    "color-no-invalid-hex": true,
    "color-hex-case": "lower",
    
    "font-weight-notation": "numeric",
    
    "function-url-quotes": "always",
    
    "block-closing-brace-newline-before": "always-multi-line",
    "block-no-empty": null,
    
    "number-leading-zero": "always",
    "indentation": 2,
    "no-duplicate-selectors": true,
    "no-extra-semicolons": true
  }
}
