@import '../../../../styles/variables';

.summary, .summary--print {
  margin: 20px auto;
  padding: 0 20px;

  &--max-width {
    max-width: $readable-max;
    margin: 8px auto 0;
  }

  &__test-information {
    margin: 0 0 32px;
    break-inside: avoid;

    &-title {
      margin: 0 0 16px;
    }

    &-text {
      break-inside: avoid;
    }
  }

  &__sample-information {
    &-title {
      margin: 0 0 32px;
    }
  }

  &__pharmacogenomic {
    margin: 16px 0;
  }

  &__cancer-predisposition {
    margin: 16px 0;
  }

  &__reviews {
    &-title {
      margin: 0 0 24px;
    }
  }

  &__signatures {
    max-width: $readable-max;
    margin: 0 auto;
  }

  &__none {
    padding: 16px;
  }

  &__reviews {
    page-break-inside: avoid;
  }
}


.summary--print {
  margin: 0 auto;

  &__test-information {
    margin: 16px 0;
  }

  &__reviews {
    &-title {
      margin: 0 0 16px;
    }
  }

  &__signatures {
    border: 1px solid black;
    display: flex;
    margin: 0 8px;
    max-width: none;
  }
}
