@import '../../../../styles/variables';

.summary {
  margin: 20px auto;
  padding: 0 20px;

  &--max-width {
    max-width: $readable-max;
    margin: 8px auto 0;
  }

  &__patient-information {
    margin: 0 0 32px;

    &-content {
      padding: 0 16px;
    }
  }

  &__test-information {
    margin: 0 0 32px;

    &-title {
      margin: 0 0 16px;
    }

    &-text {
      break-inside: avoid;
    }
  }

  &__sample-information {
    &-title {
      margin: 0 0 32px;
    }
  }

  &__pharmacogenomic {
    margin: 16px 0;
  }

  &__cancer-predisposition {
    margin: 16px 0;
  }

  &__reviews {
    &-title {
      margin: 0 0 32px;
    }
  }

  &__signatures {
    margin: 0 8px;
    border: 1px solid black;
  }

  &__none {
    padding: 16px;
  }

  &__reviews {
    page-break-inside: avoid;
  }
}

@media print {
  .summary {
    margin: 0 auto;

    &__patient-information {
      &-title {
        margin: 0 0 16px;
      }
    }

    &__test-information {
      margin: 16px 0;

      &-title {
        margin: 0 0 16px;
      }

      &-text {
        break-inside: avoid;
      }
    }

    &__reviews {
      &-title {
        margin: 0 0 16px;
      }
    }
  }
}