md-dialog(layout="column", aria-label="Feedback", flex=50)
  form(flex='auto', name='form', novalidate, ng-submit="send(form)")
    md-toolbar
      .md-toolbar-tools
        h2 Feedback and Bug Reports
        span(flex)
        md-button.md-icon-button(ng-click='cancel()')
          md-icon cancel
    md-dialog-content(layout-padding)
      div(layout="column")
        p Feedback is always welcome and appreciated!
        h3 Bug Reports
        p When submitting a bug report, please include your browser version and the error context (the actions you took for the error to occur).
        a(href="https://www.whatismybrowser.com/", target="_blank", rel="noopener noreferrer").feedback__link Click here to find your browser version.
        h3 Internal Users
        p Please create a JIRA ticket under the DEVSU (Development Support) project containing your feedback or bug report.
        h3 External Users
        a(href="mailto:ipr@bcgsc.ca").feedback__link Click here to email ipr@bcgsc.ca with your feedback or bug report.


    md-dialog-actions(layout="row", layout-align="end center")
      md-button(ng-click="cancel()").md-accent Close
      md-button(href="https://www.bcgsc.ca/jira/secure/CreateIssue!default.jspa", target="_", ng-click="cancel()").md-accent Create Ticket
