@import '../../../../styles/theme';
@import '../../../../styles/variables';

@mixin print-header {
  margin: 2mm 0 1mm;
  padding: 1.5mm 1mm;
  background-color: $print-header;
  color: black;
  font-size: 14pt;
  font-weight: 700;
  text-transform: uppercase;

  > .md-subheader-inner {
    // Override angularjs material library
    padding: 0 !important;
  }
}

@media print {
  .print-slide {
    &__header {
      @include print-header;
    }

    &__container {
      display: block;
      width: 100%;
      page-break-inside: avoid;
    }

    &__image {
      display: block;
      max-width: 8.5in;
      margin: auto;
    }

    &__name {
      width: 100%;
      margin: 2mm 0;
      padding: 1mm;
      background-color: $print-subheader;
      font-size: 12pt;
      font-weight: 700;
      text-transform: uppercase;
    }
  }
}

@media screen {
  section.material-section.slide.presentation {

    div.analysis-report-section {

      h3 {
        md-icon {
          float: right;
        }
      }

      md-content > p {
        text-align: center;
      }

      span.hint {
        font-size: 0.75em;
        color: $palette__grey--600;
        padding: 4px;
        display: inline-block;
      }

      .slide {
        max-height: 75vh;
      }

      .add-slide {
        margin: 10px 20px 0 20px;
        padding-bottom: 30px;

        md-input-container {
          margin: 8px 0 4px 0;

          &.name {
            margin-top: 20px;
          }
        }

      }

      .edit-entry {
        margin: 10px;
      }
    }
  }
}
