div(layout="column")
    div(ng-if="type === 'date'", layout="row")
        md-icon.margin-right-10 date_range
        md-datepicker(ng-model="outcome.value", md-placeholder="Select date", md-hide-icons="calendar", flex)

    div(ng-if="type === 'text'", layout="row")
        md-input-container(flex)
            label Text result
            textarea(ng-model="outcome.value", md-no-resize, md-maxlength="500")

    div(ng-if="type === 'location'", layout="row")
        md-input-container(flex)
            label File System Location
            input(ng-model="outcome.value", md-no-resize, md-maxlength="500")

    div(ng-if="type === 'boolean'", layout="row")
        md-input-container(flex)
            md-checkbox(ng-model="outcome.value", aria-label="Outcome", ng-true-value="true", ng-false-value="false") True/False outcome

    div(ng-if="type === 'pass/fail/proceed'", layout="row")
        md-input-container(flex)
            label Result
            md-select(ng-model="outcome.value", placeholder="Outcome", required)
                md-option(value="pass") Pass
                md-option(value="fail") Fail
                md-option(value="fail-proceed") Fail - Proceed

    div(layout="row")
        span(flex)
        md-button(ng-click="checkin()").md-raised.md-primary Check-in Task