md-dialog(layout="column", aria-label="Update Pathway Analysis", ng-cloak, flex=55).pathway.edit
    md-toolbar
        .md-toolbar-tools
            h2 Update Pathway Analysis
            span(flex)
            md-button.md-icon-button(ng-click='cancel()')
                md-icon cancel
    md-dialog-content(layout-padding)

        div(layout="column")
            p A new pathway SVG image is required to update the pathway analysis

            input(type="file" nv-file-select="" uploader="uploader")

            div(uploader="uploader", nv-file-over="").dropZone Drag and Drop SVG here




    md-dialog-actions(layout="row", layout-aligh="end center")
        md-button(ng-click="initiateUpload()").md-primary.md-raised Update Pathway
