section.pathwayAnalysis
    md-subheader.md-primary Pathway Analysis

    div.md-padding

        div.window
            div(ng-if="SES_permissionAction('report.edit')").upload
                md-icon(ng-click="update()") file_upload

            div(id="svgContainer")
                div(id="svgImage")