@use '@/styles/variables' as *;
// Shared styling between both versions
.key-alterations, .key-alterations-print {
  &__standardLayout {
    margin: 0 0 32px 0;
  }
}

.key-alterations {
  margin: 20px auto;
  padding: 0 20px;
}

.key-alterations-print {
  margin: 0 auto;
  padding: $print-container-padding;

  &__standardLayout {
    
    &-title {
      margin: 0 0 8px;
      break-after: avoid-page;
      page-break-after: avoid;
    }

    &-content {
      padding: 0;
      break-before: avoid-page;
      page-break-before: avoid;
    }
  }

  &__condensedLayout {

    &-content {
      margin-top: 8px;
      break-before: avoid-page;
      page-break-before: avoid;
    }
  }

  &__print-title {
    display: block;
    width: 100%;
    margin-bottom: 8px;
    break-after: avoid-page;
    page-break-after: avoid;
  }

  &__render {
    break-inside: avoid;
    page-break-inside: avoid;
  }

  &__printSection {
    break-inside: avoid-page;
    page-break-inside: avoid;
  }

  &__printKeepWithFirstTable {
    break-inside: avoid-page;
    page-break-inside: avoid;
  }
}
