// Shared styling between both versions
.key-alterations, .key-alterations-print {
  &__stable {
    margin: 0 0 32px 0;
  }
}

.key-alterations {
  margin: 20px auto;
  padding: 0 20px;
}

.key-alterations-print {
  margin: 0 auto;
  padding: 0 20px;

  &__stable {
    break-inside: avoid;
    page-break-inside: avoid;
    
    &-title {
      margin: 0 0 8px;
    }

    &-content {
      padding: 0 16px;
    }
  }
}
