@import '../../../../../../styles/theme.module';

.delete-report {
  &__content {
    margin: 12px 0
  }

  &__info {
    padding: 32px 16px;
  }

  &__button {
    &--warn {
      &:not(.Mui-disabled) {
        color: $palette__error--light;
        border-color: $palette__error--light;
      }
    }
  }
}
