section.patient-info
  md-subheader.md-no-sticky.print-title Patient Information
    span.edit(ng-if="$ctrl.reportEdit")
      md-icon(ng-click="$ctrl.updatePatient($event)") edit

  div(layout="column", flex).details.patient-info__details
    div(layout="row", flex).patient-info__description-container
      dt(flex="{{$ctrl.detailSize}}", ng-init="$ctrl.detailSize=10").patient-info__description-term Patient ID:
      dd(flex).patient-info__description-details {{$ctrl.report.patientId}}

      dt(flex="{{$ctrl.detailSize}}").patient-info__description-term Alternate ID:
      dd(flex).patient-info__description-details {{$ctrl.report.alternateIdentifier || 'N/A'}}

      dt(flex="{{$ctrl.detailSize}}").patient-info__description-term Sex:
      dd(flex).patient-info__description-details {{$ctrl.report.patientInformation.gender}}

    div(layout="row", flex).patient-info__description-container
      dt(flex="{{$ctrl.detailSize}}").patient-info__description-term Tumour Sample:
      dd(flex).patient-info__description-details {{$ctrl.report.patientInformation.tumourSample}}

      dt(flex="{{$ctrl.detailSize}}").patient-info__description-term Tumour Type:
      dd(flex).patient-info__description-details {{$ctrl.report.patientInformation.diagnosis}}

      dt(flex="{{$ctrl.detailSize}}").patient-info__description-term Constitutional Sample:
      dd(flex).patient-info__description-details {{$ctrl.report.patientInformation.constitutionalSample}}

    div(layout="row", flex).patient-info__description-container
      dt(flex="{{$ctrl.detailSize}}").patient-info__description-term Report Date:
      dd(flex).patient-info__description-details {{$ctrl.report.createdAt | date: 'yyyy-MM-dd'}}

      dt(flex="{{$ctrl.detailSize}}").patient-info__description-term Case Type:
      dd(flex).patient-info__description-details {{$ctrl.report.patientInformation.caseType}}

      dt(flex="{{$ctrl.detailSize}}").patient-info__description-term Biopsy Details:
      dd(flex).patient-info__description-details {{$ctrl.report.patientInformation.biopsySite}}

    div(layout="row", flex).patient-info__description-container
      dt(flex="{{$ctrl.detailSize}}").patient-info__description-term Physician:
      dd(flex).patient-info__description-details {{$ctrl.report.patientInformation.physician}}

      dt(flex="{{$ctrl.detailSize}}").patient-info__description-term Age at Diagnosis:
      dd(flex).patient-info__description-details {{$ctrl.report.patientInformation.age}}

      dt(flex="{{$ctrl.detailSize}}").patient-info__description-term Age of Consent:
      dd(flex).patient-info__description-details {{$ctrl.report.ageOfConsent || 'Not Specified'}}

    div(layout="row", flex).patient-info__description-container
      dt(flex="{{$ctrl.detailSize}}").patient-info__description-term Protocol:
      dd(flex).patient-info__description-details {{$ctrl.report.patientInformation.tumourProtocol}}

      dt(flex="{{$ctrl.detailSize}}").patient-info__description-term Biopsy:
      dd(flex).patient-info__description-details {{$ctrl.report.biopsyName || 'N/A'}}

      dt(flex="{{$ctrl.detailSize}}")
      dd(flex)

section.sample-info
  div(layout="row")
    div(layout="column", flex).dataBox
      h2.title.print-title Sample Information
      div.box
        div(layout="row", layout-align="space-around center", flex).heading.sample-info__table-header
          div(flex) Sample
          div(flex) Sample Name
          div(flex) Collection Date
          div(flex) Primary Site
          div(flex=20) Biopsy Site
          div(flex) Pathology Estimated Tumour Content
        div(layout="row", flex, ng-repeat="sample in $ctrl.report.sampleInfo track by $index").row.sample-info__table-row
          div(flex) {{sample['Sample']}}
          div(flex) {{sample['Sample Name']}}
          div(flex) {{sample['Collection Date']}}
          div(flex) {{sample['Primary Site']}}
          div(flex=20) {{sample['Biopsy Site']}}
          div(flex) {{sample['Patho TC']}}

section.test-info
  div(layout="row")
    div(layout="column", flex).dataBox
      h2.title.print-title Test Information
      div(layout="row", ng-if="!$ctrl.print", flex).horizontalBox.test-info__box
        div(layout="column", flex)
          div(layout="row").row
            span(flex=40) Variant Probe Version
            span {{$ctrl.testInformation.snpProbe}}
          div(layout="row").row
            span(flex=40) Fusion Probe Version
            span {{$ctrl.testInformation.fusionProbe}}
          div(layout="row").row
            span(flex=40) Knowledgebase Version
            span {{$ctrl.testInformation.kbVersion}}
        div(layout="column", flex)
          div(layout="row").row
            span(flex=40) # Genes Screened
            span {{$ctrl.testInformation.snpGenes}}
          div(layout="row").row
            span(flex=40) # Variants Screen
            span {{$ctrl.testInformation.snpVars}}
          div(layout="row").row
            span(flex=40) # Fusion Genes Screened
            span {{$ctrl.testInformation.fusionGenes}}
          div(layout="row").row
            span(flex=40) # Fusion Variants Screened
            span {{$ctrl.testInformation.fusionVars}}

      div(layout="row", ng-if="$ctrl.print", flex).test-info__box
        div(layout="column", flex=50)
          div(layout="row").test-info__header
            span.test-info__value Variant Probe Version &nbsp
            span(flex=50).test-info__value v{{$ctrl.testInformation.snpProbe}}
          div(layout="row")
            span(flex=50).test-info__key Genes Screened
            span(flex=50).test-info__value {{$ctrl.testInformation.snpGenes}}
          div(layout="row")
            span(flex=50).test-info__key Variants Screened
            span(flex=50).test-info__value {{$ctrl.testInformation.snpVars}}
        div(layout="column", flex=50)
          div(layout="row").test-info__header
            span.test-info__value Fusion Probe Version &nbsp
            span(flex=50).test-info__value v{{$ctrl.testInformation.fusionProbe}}
          div(layout="row")
            span(flex=50).test-info__key Fusion Genes Screened
            span(flex=50).test-info__value {{$ctrl.testInformation.fusionGenes}}
          div(layout="row")
            span(flex=50).test-info__key Fusion Variants Screened
            span(flex=50).test-info__value {{$ctrl.testInformation.fusionVars}}
      div(layout="row", ng-if="$ctrl.print", flex)
        div(layout="column", flex=50)
          div(layout="row").test-info__header
            span.test-info__value KB Version &nbsp
            span(flex=50).test-info__value {{$ctrl.testInformation.kbVersion}}
          //- TODO replace with KB Metrics API endpoint
          div(layout="row")
            span(flex=50).test-info__key References
            span(flex=50).test-info__value 20525
          div(layout="row")
            span(flex=50).test-info__key Characterized Events
            span(flex=50).test-info__value 8588

section
  md-subheader.md-primary Genomic Events with Potential Therapeutic Association

  div(layout="column", flex)
    div(layout="row")
      div(layout="column", flex).dataBox
        div.box
          div(layout="row", flex).heading
            div(flex, style="padding: 10px 5px; margin: 7px 0").text-left Genomic Events
            div(flex, style="padding: 10px 5px; margin: 7px 0").text-left Comments
          div(layout="row", flex, ng-if="$ctrl.probeResults.length === 0").row
            div(flex) No clinically relevant genomic alterations were found from the analysis.
          div(layout="row", flex, ng-repeat="gene in $ctrl.probeResults", ng-click="$ctrl.modifyEvent($event, gene)", ng-if="$ctrl.reportEdit", style="cursor: pointer").row
            div(flex) {{gene.gene.name}} ({{gene.variant}})
            div(flex) {{gene.comments}}
          div(layout="row", flex, ng-repeat="gene in $ctrl.probeResults", ng-if="!$ctrl.reportEdit").row
            div(flex) {{gene.gene.name}} ({{gene.variant}})
            div(flex) {{gene.comments}}

section(ng-if="!$ctrl.print")
  md-subheader.md-primary Review
  div(layout="column").layout-padding
    div(layout="row", md-whiteframe=1, layout-align="start start").rowCard
      div(flex=25, layout="column")
        h5 Ready
        div(flex, layout="row")
          span(ng-if="$ctrl.signature === null || $ctrl.signature.readySignature.ident === null", layout="row", layout-align="start center", ng-click="$ctrl.sign('ready')").clickable
            md-icon(style="margin-right: 5px;") gesture
            span Sign
          span(ng-if="$ctrl.signature.readySignature.ident") {{$ctrl.signature.readySignature.firstName}} {{$ctrl.signature.readySignature.lastName}}

      div(flex=25, layout="column")
        h5 Date
        div(flex, layout="row")
          span.context {{$ctrl.signature.readySignedAt | date: 'EEEE, MMMM d, y HH:mm'}}
      div(flex)
      div(layout="column", layout-align="start start").options
        div(ng-if="$ctrl.signature.readySignature.ident")
          md-icon(ng-click="$ctrl.revokeSign('ready')", ng-if="$ctrl.reportEdit") remove_circle
            md-tooltip Remove signing

    div(layout="row", md-whiteframe=1, layout-align="start start").rowCard
      div(flex=25, layout="column")
        h5 Reviewer
        div(flex, layout="row")
          span(ng-if="$ctrl.signature === null || $ctrl.signature.reviewerSignature.ident === null", layout="row", layout-align="start center", ng-click="$ctrl.sign('reviewer')").clickable
            md-icon(style="margin-right: 5px;") gesture
            span Sign
          span(ng-if="$ctrl.signature.reviewerSignature.ident") {{$ctrl.signature.reviewerSignature.firstName}} {{$ctrl.signature.reviewerSignature.lastName}}
      div(flex=25, layout="column")
        h5 Date
        div(flex, layout="row")
          span.context {{$ctrl.signature.reviewerSignedAt | date: 'EEEE, MMMM d, y HH:mm'}}
      div(flex)
      div(layout="column", layout-align="start start").options
        div(ng-if="$ctrl.signature.reviewerSignature.ident")
          md-icon(ng-click="$ctrl.revokeSign('reviewer')", ng-if="$ctrl.reportEdit") remove_circle
            md-tooltip Remove signing

section(ng-if="$ctrl.print").review
  div(layout="row", layout-align="space-around center").review__box
    span Manual Review: {{$ctrl.signature.readySignature.firstName || 'Not yet reviewed'}}  {{$ctrl.signature.readySignature.lastName}}
    span Date: {{$ctrl.signature.readySignedAt | date: 'yyyy-MM-dd' || 'N/A'}}
