.expressionDetails {

  margin-top: 20px;

  div {
    font-size: 0.80em;
    text-align: center;

    span {
      font-size: 0.9em;
      font-weight: 700;
      display: block;
      width: 50%;
      margin: 10px auto;
      padding: 8px 15px;
    }
  }

}