md-content(flex, layout="column").md-padding.biopsyBoard

    h1.md-title(layout="row")
        span(flex) Biopsies

    div

        div(layout="row")
            md-input-container(flex)
                md-select(ng-model="req.method", placeholder="Method")
                    md-option(value="GET") GET
                    md-option(value="POST") POST
                    md-option(value="PUT") PUT
                    md-option(value="DELETE") DELETE

            md-input-container(flex)
                input(ng-model="req.url", placeholder="URL")

        div(layout="column")
            md-input-container(flex)
                input(ng-model="req.headers", placeholder="Headers")
            p Expected form: HeaderName: Value; Authorization: some_string

        div(layout="row")
            md-input-container(flex)
                md-textarea(ng-model="req.body", placeholder="Body (json string)")

        div(layout="row")
            br
            br
            md-button(ng-click="request()").md-primary.md-raised Send Request

    div(layout="column")
        div(layout="row")
            div Response
            pre {{response}}