thead
    tr
        td.pageHeader.padded
            div(layout="row")
                div(flex=30) {{pog.POGID}}
                    br
                    | {{report.createdAt | amDateFormat: 'YYYY/MM/DD'}}
                div(flex) BCCA Confidential - For Research Purposes Only
                div(flex=30)  {{report.patientInformation.tumourType}}
tbody
    tr
        td.dga
            h2 Therapies Approved in this Tumour Type
            p(ng-if="approvedThisCancer.length === 0") No approved therapies were found for this tumour type.
    tr(ng-repeat="gene in approvedThisCancer")
        td.dga
            div.variant
                div(layout="column").block
                    div(layout="row")
                        div(flex=25)
                            span Gene
                            span {{gene.gene}}
                        div(flex=25)
                            span Variant
                            span {{gene.variant}}
                        div(flex)
                            span Source
                            span {{gene.sample}}
                    div(layout="row")
                        div(flex)
                            span Expression
                            span {{gene.expression_tissue_fc}}
                        div(flex)
                            span Disease Percentile
                            span {{gene.expression_cancer_percentile}}
                        div(flex)
                            span Copy Number
                            span {{gene.copyNumber}}
                        div(flex)
                            span Zygosity
                            span {{gene.zygosity}}
                table
                    tr.header
                        th Known Variant
                        th Effect
                        th Cancer Type
                        th Association
                        th Therapeutic Context
                        th Evidence
                        th Reference (PMID)
                    tr
                        td(width="14%") {{gene.kbVariant}}
                        td(width="14%") {{gene.effect}}
                        td(width="14%") {{gene.disease}}
                        td(width="14%") {{gene.association}}
                        td() {{gene.therapeuticContext}}
                        td(width="14%") {{gene.evidence}}
                        td(width="14%") {{gene.reference}}
    tr
        td.dga
            h2 Therapies Approved in other Tumour Types
            p(ng-if="approvedThisCancer.length === 0") No approved therapies were found for other tumour types.
    tr(ng-repeat="gene in approvedThisCancer")
        td.dga
            div.variant
                div(layout="column").block
                    div(layout="row")
                        div(flex=25)
                            span Gene
                            span {{gene.gene}}
                        div(flex=25)
                            span Variant
                            span {{gene.variant}}
                        div(flex)
                            span Source
                            span {{gene.sample}}
                    div(layout="row")
                        div(flex)
                            span Expression
                            span {{gene.expression_tissue_fc}}
                        div(flex)
                            span Disease Percentile
                            span {{gene.expression_cancer_percentile}}
                        div(flex)
                            span Copy Number
                            span {{gene.copyNumber}}
                        div(flex)
                            span Zygosity
                            span {{gene.zygosity}}
                table
                    tr.header
                        th Known Variant
                        th Effect
                        th Cancer Type
                        th Association
                        th Therapeutic Context
                        th Evidence
                        th Reference (PMID)
                    tr
                        td(width="14%") {{gene.kbVariant}}
                        td(width="14%") {{gene.effect}}
                        td(width="14%") {{gene.disease}}
                        td(width="14%") {{gene.association}}
                        td() {{gene.therapeuticContext}}
                        td(width="14%") {{gene.evidence}}
                        td(width="14%") {{gene.reference}}



    tr
        td.dga
            h2 Alterations with Potential Clinical Relevance
            h3 Known Alterations with Therapeutic Relevance
            p(ng-if="alterations.therapeutic.length === 0") No alterations with therapeutic relevance were found from the analysis.
tbody(ng-repeat="gene in alterations.therapeutic")
    tr
        td.dga
            div.variant
                div(layout="column").block
                    div(layout="row")
                        div(flex=25)
                            span Gene
                            span {{gene.gene}}
                        div(flex=25)
                            span Variant
                            span {{gene.variant}}
                        div(flex)
                            span Source
                            span {{gene.sample}}
                    div(layout="row")
                        div(flex)
                            span Expression
                            span {{gene.expression_tissue_fc}}
                        div(flex)
                            span Disease Percentile
                            span {{gene.expression_cancer_percentile}}
                        div(flex)
                            span Copy Number
                            span {{gene.copyNumber}}
                        div(flex)
                            span Zygosity
                            span {{gene.zygosity}}
                table
                    tr.header
                        th Known Variant
                        th Effect
                        th Cancer Type
                        th Association
                        th Therapeutic Context
                        th Evidence
                        th Reference (PMID)
                    tr
                        td(width="14%") {{gene.kbVariant}}
                        td(width="14%") {{gene.effect}}
                        td(width="14%") {{gene.disease}}
                        td(width="14%") {{gene.association}}
                        td() {{gene.therapeuticContext}}
                        td(width="14%") {{gene.evidence}}
                        td(width="14%") {{gene.reference}}
    tr(ng-repeat="child in gene.children")
        td.dga
            div.variant
                table
                    tr
                        td(width="14%") {{child.kbVariant}}
                        td(width="14%") {{child.effect}}
                        td(width="14%") {{child.disease}}
                        td(width="14%") {{child.association}}
                        td() {{child.therapeuticContext}}
                        td(width="14%") {{child.evidence}}
                        td(width="14%") {{child.reference}}
tbody
    tr
        td.dga
            h3 Known Alterations with Prognostic Relevance
            p(ng-if="alterations.prognostic.length === 0") No alterations with prognostic relevance were found from the analysis.
tbody(ng-repeat="gene in alterations.prognostic")
    tr
        td.dga
            div.variant
                div(layout="column").block
                    div(layout="row")
                        div(flex=25)
                            span Gene
                            span {{gene.gene}}
                        div(flex=25)
                            span Variant
                            span {{gene.variant}}
                        div(flex)
                            span Source
                            span {{gene.sample}}
                    div(layout="row")
                        div(flex)
                            span Expression
                            span {{gene.expression_tissue_fc}}
                        div(flex)
                            span Disease Percentile
                            span {{gene.expression_cancer_percentile}}
                        div(flex)
                            span Copy Number
                            span {{gene.copyNumber}}
                        div(flex)
                            span Zygosity
                            span {{gene.zygosity}}
                table
                    tr.header
                        th Known Variant
                        th Effect
                        th Cancer Type
                        th Association
                        th Therapeutic Context
                        th Evidence
                        th Reference (PMID)
                    tr
                        td(width="14%") {{gene.kbVariant}}
                        td(width="14%") {{gene.effect}}
                        td(width="14%") {{gene.disease}}
                        td(width="14%") {{gene.association}}
                        td() {{gene.therapeuticContext}}
                        td(width="14%") {{gene.evidence}}
                        td(width="14%") {{gene.reference}}
    tr(ng-repeat="child in gene.children")
        td.dga
            div.variant
                table
                    tr
                        td(width="14%") {{child.kbVariant}}
                        td(width="14%") {{child.effect}}
                        td(width="14%") {{child.disease}}
                        td(width="14%") {{child.association}}
                        td() {{child.therapeuticContext}}
                        td(width="14%") {{child.evidence}}
                        td(width="14%") {{child.reference}}
tbody
    tr
        td.dga
            h3 Known Alterations with Diagnostic Relevance
            p(ng-if="alterations.diagnostic.length === 0") No alterations with diagnostic relevance were found from the analysis.

tbody(ng-repeat="gene in alterations.diagnostic")
    tr
        td.dga
            div.variant
                div(layout="column").block
                    div(layout="row")
                        div(flex=25)
                            span Gene
                            span {{gene.gene}}
                        div(flex=25)
                            span Variant
                            span {{gene.variant}}
                        div(flex)
                            span Source
                            span {{gene.sample}}
                    div(layout="row")
                        div(flex)
                            span Expression
                            span {{gene.expression_tissue_fc}}
                        div(flex)
                            span Disease Percentile
                            span {{gene.expression_cancer_percentile}}
                        div(flex)
                            span Copy Number
                            span {{gene.copyNumber}}
                        div(flex)
                            span Zygosity
                            span {{gene.zygosity}}
                table
                    tr.header
                        th Known Variant
                        th Effect
                        th Cancer Type
                        th Association
                        th Therapeutic Context
                        th Evidence
                        th Reference (PMID)
                    tr
                        td(width="14%") {{gene.kbVariant}}
                        td(width="14%") {{gene.effect}}
                        td(width="14%") {{gene.disease}}
                        td(width="14%") {{gene.association}}
                        td() {{gene.therapeuticContext}}
                        td(width="14%") {{gene.evidence}}
                        td(width="14%") {{gene.reference}}
    tr(ng-repeat="child in gene.children")
        td.dga
            div.variant
                table
                    tr
                        td(width="14%") {{child.kbVariant}}
                        td(width="14%") {{child.effect}}
                        td(width="14%") {{child.disease}}
                        td(width="14%") {{child.association}}
                        td() {{child.therapeuticContext}}
                        td(width="14%") {{child.evidence}}
                        td(width="14%") {{child.reference}}
tbody
    tr
        td.dga
            h3 Known Alterations with Biological Relevance
            p(ng-if="alterations.biological.length === 0") No alterations with diagnostic relevance were found from the analysis.

tbody(ng-repeat="gene in alterations.biological")
    tr
        td.dga
            div.variant
                div(layout="column").block
                    div(layout="row")
                        div(flex=25)
                            span Gene
                            span {{gene.gene}}
                        div(flex=25)
                            span Variant
                            span {{gene.variant}}
                        div(flex)
                            span Source
                            span {{gene.sample}}
                    div(layout="row")
                        div(flex)
                            span Expression
                            span {{gene.expression_tissue_fc}}
                        div(flex)
                            span Disease Percentile
                            span {{gene.expression_cancer_percentile}}
                        div(flex)
                            span Copy Number
                            span {{gene.copyNumber}}
                        div(flex)
                            span Zygosity
                            span {{gene.zygosity}}
                table
                    tr.header
                        th Known Variant
                        th Effect
                        th Cancer Type
                        th Association
                        th Therapeutic Context
                        th Evidence
                        th Reference (PMID)
                    tr
                        td(width="14%") {{gene.kbVariant}}
                        td(width="14%") {{gene.effect}}
                        td(width="14%") {{gene.disease}}
                        td(width="14%") {{gene.association}}
                        td() {{gene.therapeuticContext}}
                        td(width="14%") {{gene.evidence}}
                        td(width="14%") {{gene.reference}}
    tr(ng-repeat="child in gene.children")
        td.dga
            div.variant
                table
                    tr
                        td(width="14%") {{child.kbVariant}}
                        td(width="14%") {{child.effect}}
                        td(width="14%") {{child.disease}}
                        td(width="14%") {{child.association}}
                        td() {{child.therapeuticContext}}
                        td(width="14%") {{child.evidence}}
                        td(width="14%") {{child.reference}}