.edit-dialog {
    &__section-title {
        margin-top: 24px;
        margin-bottom: 24px;
    }
}

.add-item {
    &__form-container {
        flex-direction: row;
    }

    &__text-field {
        margin: 8px;
    }
}

#template-select-label {
    margin: 8px;
}

#projects-select-label {
    margin: 8px;
}