.edit-dialog {
    &__section-title {
        margin-top: 24px;
        margin-bottom: 24px;
    }
}

.add-item {
    &__form-container {
        margin: 8px;
    }

    &__text-field {
        margin: 8px;
    }
}