.user-profile {
  .MuiAccordionSummary-root {
    min-height: fit-content;
    padding: 0;
  }
  .MuiAccordionSummary-contentGutters {
    margin: 0;
  }
  .MuiAccordionDetails-root {
    padding: 0;
    .Mui-expanded {
      margin: 0;
    }
  }
}
