@import '../../styles/variables';
@import '../../styles/theme';

.report-sidebar {
  height: calc(100vh - 56px);
  float: right;
  position: sticky;
  top: 0px;
  overflow-y: auto;
  overflow-x: hidden;
  font-size: $typography__font-size--h6;
  border-left: 1px solid $black-12;
  width: 270px;

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__list-title {
    margin: 12px 0;
    user-select: none;
  }

  &__list-title-text {
    font-size: $typography__font-size--h6;
    font-weight: 700;
    margin: 8px 0;
    padding: 10px 20px;
    user-select: none;
    display: flex;
    justify-content: space-between;

    > a {
      opacity: $icon-opacity;
    }
  }

  &__list-item {
    padding: 6px 0 6px 20px;
    user-select: none;

    &--indented {
      padding: 6px 0 6px 35px;
    }

    &--active {
      background-color: $black-12;
      color: $palette__secondary--main;
    }

    &:hover:not(.report-sidebar__list-item--bold) {
      background-color: $black-12;
    }

    &--bold {
      &#{&} {
        font-weight: 700;
      }
    }
  }

  &__list-item-text {
    &--bold {
      font-weight: 700;
    }
  }

  &__list-link {
    text-decoration: none;
    color: $black-80;
  }
}