md-dialog.detailedDataViewer {

  .content {

    padding: 8px;
    background-color: rgb(240, 240, 240);
    border: 1px solid rgb(210, 210, 210);
    border-radius: 3px;
    margin: 0 5px;
    overflow-x: auto;
    font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;

    div {
      padding: 2px;
      font-size: 0.85em;

      &.key {
        padding-right: 10px;
      }

      &.null {
        font-style: italic;
      }

      &.row:nth-of-type(even) {
        background-color: rgb(225, 225, 225);
      }
    }
  }

}