md-dialog(layout="column", aria-label="Knowledgebase Events Filters", ng-cloak, flex=85).kbDialog
    form(flex='auto', name='form', ng-submit="update(form)")
        md-toolbar
            .md-toolbar-tools
                h2 Events Filters
                span(flex)
                md-button.md-icon-button(ng-click='cancel()')
                    md-icon cancel
        md-dialog-content(layout-padding).filters
            div(layout="row") Multiple different types of selected filters will work in an "and" union together.

            div(layout="column")
                div(layout="row").header
                    div(layout="column", flex) Type
                    div(layout="column", flex) Key
                    div(layout="column", flex) Name
                    div(layout="column", flex) Status
                div(layout="row").row
                    div(layout="column", flex)
                        md-select(ng-model="filter.type", multiple, placeholder="Type")
                            md-option(ng-value="'ELV-RNA'") ELV-RNA
                            md-option(ng-value="'CNV'") CNV
                            md-option(ng-value="'SV'") SV
                            md-option(ng-value="'FANN'") FANN
                            md-option(ng-value="'MUT'") MUT

                    div(layout="column", flex)
                        div(layout="column")
                            div(ng-repeat="(i, key) in filter.key track by $index", ng-if="filter.key.length > 0").removableFilter
                                md-icon(ng-click="removeFilterEntry('key', i)") remove_circle
                                | {{key}}

                        md-input-container
                            input(ng-model="new.values.key", ng-keyup="$event.keyCode === 13 ? new.action('key') : null", ng-blur="new.action('key')", placeholder="Key")

                    div(layout="column", flex)
                        div(layout="column")
                            div(ng-repeat="(i, name) in filter.name track by $index", ng-if="filter.name.length > 0").removableFilter
                                md-icon(ng-click="removeFilterEntry('name', i)") remove_circle
                                | {{name}}

                        md-input-container
                            input(ng-model="new.values.name", ng-keyup="$event.keyCode === 13 ? new.action('name') : null", ng-blur="new.action('name')", placeholder="Name")

                    div(layout="column", flex)
                        md-select(ng-model="filter.status", multiple, placeholder="Status")
                            md-option(ng-value="'NEW'") NEW
                            md-option(ng-value="'FLAGGED-INCORRECT'") FLAGGED-INCORRECT
                            md-option(ng-value="'REQUIRES-REVIEW'") REQUIRES-REVIEW
                            md-option(ng-value="'APPROVED'") APPROVED

                div(layout="row").header
                    div(layout="column", flex) Display Coord
                    div(layout="column", flex) Notation
                    div(layout="column", flex) Related Events
                div(layout="row").row
                    div(layout="column", flex)
                        div(layout="column")
                            div(ng-repeat="(i, display_coord) in filter.display_coord track by $index", ng-if="filter.display_coord.length > 0").removableFilter
                                md-icon(ng-click="removeFilterEntry('display_coord', i)") remove_circle
                                | {{display_coord}}

                        md-input-container
                            input(ng-model="new.values.display_coord", ng-keyup="$event.keyCode === 13 ? new.action('display_coord') : null", ng-blur="new.action('display_coord')", placeholder="display_coord")

                    div(layout="column", flex)
                        div(layout="column")
                            div(ng-repeat="(i, notation) in filter.notation track by $index", ng-if="filter.notation.length > 0").removableFilter
                                md-icon(ng-click="removeFilterEntry('notation', i)") remove_circle
                                | {{notation}}

                        md-input-container
                            input(ng-model="new.values.notation", ng-keyup="$event.keyCode === 13 ? new.action('notation') : null", ng-blur="new.action('notation')", placeholder="notation")


                    div(layout="column", flex)
                        div(layout="column")
                            div(ng-repeat="(i, related_events) in filter.related_events track by $index", ng-if="filter.related_events.length > 0").removableFilter
                                md-icon(ng-click="removeFilterEntry('related_events', i)") remove_circle
                                | {{related_events}}

                        md-input-container
                            input(ng-model="new.values.related_events", ng-keyup="$event.keyCode === 13 ? new.action('related_events') : null", ng-blur="new.action('related_events')", placeholder="related_events")


        md-dialog-actions(layout="row", layout-aligh="end center", layout-padding)
            md-button(ng-click="save()").md-primary.md-raised Save Filters

