ipr-progressor {

  .container {
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
    border-left: 1px solid lightgrey;
    width: auto;
    display: inline-block;
  }

  .stage {
    margin-left: 0;
    background: white;
    border-right: 1px solid lightgrey;
    padding: 10px 34px 10px 28px;
    position: relative;
    display: inline-block;

    &.active {
      background-color: rgb(63, 81, 181);
      color: white;
      &:after {
        background-color: rgb(63, 81, 181);
      }

    }
    &.complete {
      background-color: rgb(230, 230, 230);
      color: rgb(100,100,100);
      &:after {
        background-color: rgb(230, 230, 230);
      }

    }

    &:after {
      content: '';
      display: block;
      position: absolute;
      top: 40%;
      right:-6px;
      width: 10px;
      height: 10px;
      background: white;
      border-right:1px solid lightgrey;
      border-bottom:1px solid lightgrey;
      -moz-transform:rotate(-45deg);
      -webkit-transform:rotate(-45deg);
      z-index: 500;
    }
    &:last-of-type:after {
      display: none;
    }

    .stageNumber {
      font-size: 1.5em;
      padding-right: 10px;

      md-icon {
        color: rgb(47, 144, 41);
        font-weight: 700;
      }
    }

    h1 {
      font-size: 0.85em;
      font-weight: 400;
      padding: 0;
      margin: 0;
    }
    p {
      padding: 0;
      margin: 0;
      font-size: 0.75em;
      font-weight: 100;
    }
  }

}