div.container
    div.stage(ng-repeat="(i, stage) in stages", ng-class="{'active': (i === active || stage.id === active), 'complete': (i < active)}", layout="row").stage
        div(layout="row", ng-click="changeStage(i)", ng-class="{clickable: (i < active)}")
            div(layout-align="center center").stageNumber
                span(ng-if="i < active")
                    md-icon check
                span(ng-if="i >= active") {{i+1}}
            div(flex, layout="column")
                h1 {{stage.title}}
                p {{stage.description}}