.mutation-burden {
  padding: 16px;

  &__content {
    margin: 24px 16px;
  }

  &__images {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  &__group {
    margin: 0 8px 48px;
  }
  
  &__comparator {
    margin: 24px 0;

    &--padded {
      padding: 0 0 0 8px;
    }
  }

  &__pair {
    display: flex;
    flex-direction: column;

    & > *:first-child {
      margin-bottom: 2px;
    }

    & > *:last-child {
      margin-top: 2px;
    }
  }
}
