.mutation-burden {
  padding: 16px;

  &__content {
    margin: 24px 16px;
  }

  &__tab-control {
    margin: 16px;
    display: flex;
    justify-content: center;
  }

  &__images {
    display: flex;
    justify-content: center;
    flex-direction: row;
  }

  &__group {
    margin: 0 8px 48px;
    padding: 12px;
  }
  
  &__comparator {
    margin: 24px 0;

    &-container {
      display: flex;
      
      & > * {
        margin: 0 4px;
      }
    }

    &--padded {
      padding: 0 0 0 8px;
    }
  }

  &__pair {
    display: flex;
    flex-direction: column;

    & > *:first-child {
      margin-bottom: 2px;
    }

    & > *:last-child {
      margin-top: 2px;
    }
  }
}
