@media screen {
  .delete-report {
    &__invalid {
      color: red;
      font-size: 11px;
    }

    &__list {
      list-style-type: none;
    }

    &__list-elem {
      padding: 4px 0;
    }
  }
}

section.meta {
  .md-subheader-content span {
    text-transform: capitalize;
  }
}

.roleList {
  height: 160px;


  div.add {
    height: 135px;
    width: 310px;
    background-color: rgb(210,210,210);
    color: rgb(160, 160, 160);
    font-weight: 400;
    font-size: 1.1em;
    cursor: pointer;
    margin: 0 8px;

    span.icon {
      margin-bottom: 10px;
      md-icon {
        color: rgb(160, 160, 160);
      }
    }

    &:hover {
      background-color: rgb(200,200,200);
      color: rgb(120,120,120);
      span.icon md-icon {color: rgb(120,120,120);}
    }
  }
}
