md-content(flex, layout="column").md-padding

    md-sidenav(md-is-open="showOptions", md-whiteframe=4).md-sidenav-right
        md-toolbar
            h1.md-toolbar-tools Options
        md-content
            md-list
                md-list-item
                    p Show only my reports
                    md-switch(ng-model="filter.currentUser", ng-change="refreshList()", ng-false-value="false", ng-true-value="true").md-primary
                md-list-item
                    p Filter by my role
                    md-select(ng-model="filter.role", placeholder="Roles", ng-change="refreshList()").text-small
                        md-option(ng-value="null") All
                        md-option(ng-repeat="role in roles", ng-value="role") {{role}}
                md-list-item
                    p Show archived reports
                    md-switch(ng-model="archived", ng-change="refreshList()", ng-false-value="false", ng-true-value="true").md-primary
                md-list-item
                    p Show non-production/test reports
                    md-switch(ng-model="nonproduction", ng-change="refreshList()", ng-false-value="false", ng-true-value="true").md-primary

    h1.md-title(layout="row")
        span(flex) POG Tracking
        span(flex, layout="row", layout-align="end end")
            md-input-container.hide-validation-error.pull-right
                input(placeholder="Search", name="Search", ng-model="pogQuery", size=40).text-small
                md-icon(ng-click="showFilterTips()").clickable help
            span(flex=5)
            span
                md-button(ng-click="showOptions = !showOptions").md-primary.md-icon-button.md-raised
                    md-icon settings

    div(layout="column", flex).kanban
        div(layout="row", layout-align="space-between").title

            div(layout="column", flex, ng-repeat="definition in definitions") {{definition.name}}

        div(layout="row", flex, layout-align="space-between")

            md-content(layout="column", flex, ng-repeat="definition in definitions").column
                div(ng-show="loading").text-center Loading...
                ipr-tracking-card(ng-repeat="state in sortedStates[definition.slug]", md-whiteframe=2, state="state", ng-hide="loading").pog

            //md-content(layout="column", flex).column
                div(ng-show="loading").text-center Loading...
                ipr-report-listing-card(ng-repeat="pog in pogs | filter: searchPogs('active', pogQuery)", md-whiteframe=2, report="report", pog="pog", state="active", ng-hide="loading").pog
