@import '../../styles/variables';

.main {
  &__content {
    height: calc(100vh - 56px);
    margin: 56px 0 0 55px;

    transition-duration: .3s;
    transition-property: margin;
    z-index: $content-z-index;

    &--sidebaropen {
      margin: 56px 0 0 240px;
    }
  }
}