md-content(flex, layout="column").md-padding.biopsyBoard

  h1.md-title(layout="row")
    span(flex) Germline Reports

  div(layout="column").biopsies

    table.material-table
      thead
        tr
          th(colspan=6).button
            md-button(ng-click="$ctrl.getExport()").md-primary.md-raised Download Export
          th(colspan=5).button
            div(layout="row", layout-align="end start")
              form(ng-submit="$ctrl.search()", novalidate, layout="row", flex, ng-show="$ctrl.showSearch")
                md-input-container(flex, layout="row").medium
                  input(ng-model="$ctrl.filter.search", focus-me="$ctrl.focusSearch", placeholder="Search by POGID")

              md-button(ng-show="$ctrl.showSearch", ng-click="$ctrl.clearSearch()").md-icon
                md-icon cancel
                md-tooltip Clear search

              md-button(ng-hide="$ctrl.showSearch", ng-click="$ctrl.displaySearch()").md-icon
                md-icon filter_list
                md-tooltip Filter/Search
        tr
          th(width="10%") Patient
          th(width="10%") Project
          th(width="10%") Biopsy
          th(width="10%") Version
          th(width="15%") BioFX Reviewer
          th(width="10%") BioFX Review
          th(width="10%") Projects Review
          th(width="10%") Exported
          th(width="15%") Created

      tbody
        tr(ng-show="$ctrl.loading").loading
          td(colspan="10").text-center
            span Loading...
            md-progress-circular(md-mode="indeterminate")
        tr(ng-show="!$ctrl.loading && $ctrl.analyses.length === 0").loading
          td(colspan="10").text-center
            span No germline reports found
        tr(ng-repeat="report in $ctrl.reports track by $index | limitTo:$ctrl.paginate.limit", ng-if="!$ctrl.loading")
          td.text-bold
            a(ui-sref="root.germline.report({patient: report.analysis.pog.POGID, biopsy: report.analysis.analysis_biopsy, report: report.ident})").link {{report.analysis.pog.POGID}}
          td 
            span(ng-repeat="project in report.analysis.pog.projects") {{ $index==0 ? project.name : ', ' + project.name }}
          td {{report.analysis.analysis_biopsy}}
          td
            span {{report.source_version}}
              md-tooltip {{report.source_path}}
          td {{report.biofx_assigned.firstName + ' ' + report.biofx_assigned.lastName}}
          td
            md-icon {{$ctrl.hasReview(report, 'biofx') ? 'check_box' : 'check_box_outline_blank'}}
          td
            md-icon {{$ctrl.hasReview(report, 'projects') ? 'check_box_outline' : 'check_box_outline_blank'}}
          td
            md-icon(ng-if="report.exported", ng-click="$ctrl.unsetExported(report)").blue.clickable check_box_outline
            md-icon(ng-if="!report.exported") check_box_outline_blank
          td {{report.createdAt | date: 'yyyy-MM-dd H:mm'}}

    paginate(offset="$ctrl.paginate.offset", limit="$ctrl.paginate.limit", total="$ctrl.paginate.total", refresh="$ctrl.refreshReports()")
