table.print
    thead
        tr
            td.pageHeader
                div(layout="row")
                    div(flex=30) {{pog.POGID}}
                        br
                        | {{report.createdAt | amDateFormat: 'YYYY/MM/DD'}}
                    div(flex) BCCA Confidential - For Research Purposes Only
                    div(flex=30)  {{report.patientInformation.tumourType}}
    tbody
        tr
            td.reportHeader
                div(layout="row")
                    div(flex=50)
                        img(src="/assets/images/print_logo.png", width="100%")
                    div(flex=50, layout-align="start end")
                        div(flex, layout="column").text-right
                            span Targeted Gene Report
                            span.text-small Selected; Mutations; Gene Fusions; Somatic
                div(layout="row").version
                    div(flex=50) Report version: {{report.reportVersion || 'N/A'}}
                    div(flex=50).text-right Knowledgebase version: {{report.kbVersion || 'N/A'}}

                div(flex).pogid.text-center {{pog.POGID}}
    tbody(ui-view="summary")


div.pageBreak
table(style="margin-top: 3mm", ui-view="alterations").print

div.pageBreak
section(style="margin-top: 3mm", ui-view="appendices").print