thead
    tr
        td.pageHeader.xpadded
            div(layout="row")
                div(flex=30) {{pog.POGID}}
                    br
                    | {{report.createdAt | amDateFormat: 'YYYY/MM/DD'}}
                div(flex) BCCA Confidential - For Research Purposes Only
                div(flex=30)  {{report.patientInformation.tumourType}}
tbody
    tr
        td.copyNumberAnalysis
            div(layout="row").sectionHeader
                h1.blue Copy Number Analyses
                p(flex) This section provides details of copy number alterations detected in the tumour, including gains and losses and loss of heterozygosity (LOH). Look in this section for details about potentially relevant genes within the copy change regions and their associated expression metrics.
            h1 Copy Number and LOH
            h2 Summary of Copy Number Events

            div(layout="row", layout-align="space-around center").margin-bottom-40.margin-top-30
                div(layout="row").smEvents.snv
                    div(flex=20, layout="column").legend
                        div(flex)
                        div(layout="column")
                            div(layout="row").gain
                                span &nbsp;
                                span Gain
                            div(layout="row").loss
                                span &nbsp;
                                span Loss
                            div(layout="row").loh
                                span &nbsp;
                                span LOH
                        div(flex=10)
                    div(flex)
                        img(data-ng-src="data:image/png;base64,{{images['cnvLoh.circos'].data}}").circos
            h1 Copy Number Variants: Genomic Details
    tr(ng-repeat="(k, group) in cnvGroups")
        td.copyNumberAnalysis
            h2 {{titleMap[k]}}
            table.detailedData
                tr.header
                    th Gene
                    th Copy Change
                    th LOH State
                    th CNV State
                    th Chr:band
                    th CNV Start
                    th CNV End
                    th Size (Mb)
                    th Expression (RPKM)
                    th Fold Change vs. {{report.tumourAnalysis.normalExpressionComparator}}
                    th {{report.tumourAnalysis.diseaseExpressionComparator}} %ile
                tr(ng-if="group.length === 0")
                    td(colspan=13) No somatic small mutations of clinical relevance were found from the analysis.
                tr(ng-repeat="cnv in group")
                    td(style="width: 11%") {{cnv.gene}}
                    td(style="width: 7%") {{cnv.ploidyCorrCpChange}}
                    td(style="width: 9%") {{cnv.lohState}}
                    td(style="width: 9%") {{cnv.cnvState}}
                    td(style="width: 11%") {{cnv.chromosomeBand}}
                    td(style="width: 9%") {{cnv.start}}
                    td(style="width: 9%") {{cnv.end}}
                    td(style="width: 7%") {{cnv.size}}
                    td(style="width: 9%") {{cnv.expressionRpkm}}
                    td(style="width: 9%") {{cnv.foldChange}}
                    td(style="width: 9%") {{cnv.tcgaPerc}}