md-content(flex).adminSection
  md-toolbar
    div(layout="row").md-toolbar-tools
      span.close
        div(ui-sref="dashboard.listing")
      span(flex)
      span(flex)
        h2 System Groups
      span(flex)
      span(flex=5)
  div.content

    p Groups that users can be assigned to.
    md-button(ng-click="$ctrl.groupDiag($event, null, true)") Add Group

    div(flex, layout="column").table
      div(flex, layout="row").header
        div(flex) Group
        div(flex=15) Members
        div(flex) Owner
        div(flex) Created
      div(flex, layout="row", ng-repeat="g in $ctrl.groups", ng-click="$ctrl.groupDiag($event, g)").row.clickable
        div(flex).text-capitalize {{g.name}}
        div(flex=15) {{g.users.length}}
        div(flex) {{g.owner.firstName}} {{g.owner.lastName}}
        div(flex) {{g.createdAt | date:'dd/MM/yy'}}
          md-tooltip(md-direction="left") {{g.createdAt | date:'dddd, MMMM Do YYYY, h:mm:ss a' }}
md-progress-circular(md-mode="indeterminate", ng-if="!$ctrl.groups")