@import '../../styles/theme';
@import '../../styles/variables';

.about-page {
  height: 100%;
  overflow: auto;
  background-color: $white;

  &__content {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      text-align: center;
      margin: $default-spacing auto;
    }
    > * {
      margin: 0 auto;
      max-width: $readable-max;
    }

    h6:not(:first-child) {
      margin-top: 20px;
    }
  }

  p,
  .about-version-info {
    font-size: 0.875rem;
    min-width: $readable-min;
    max-width: $readable-max;
    width: 700px;
  }
}


.about-page__content {
  white-space: pre-line;
}
