.overview {
  display: flex;
  flex-direction: column;
  padding: 24px 16px;

  &--print {
    padding: 0;
  }

  &__fab {
    float: right;
  }
  
  section:not(:empty) {
    margin-top: 1rem;
  }
}
