md-content(ui-view="", flex)
  md-content(layout="column").padding-left-10.padding-right-10
    h2.title {{pog.POGID}} Reports

    div(layout="column", flex).kanban
        div(layout="row", layout-align="space-between").title
            div(layout="column", flex) Probe
            div(layout="column", flex) Genomic

        div(layout="row", flex, layout-align="space-between")
            md-content(layout="column", flex).column
                ipr-report-card(ng-repeat="report in reports | filter: {type: 'probe'}", report="report", pog="pog")

            md-content(layout="column", flex).column
                ipr-report-card(ng-repeat="report in reports | filter: {type: 'genomic'}", report="report", pog="pog")