md-content(flex, layout="column").md-padding

    h1.md-title(layout="row")
        span(flex) Reports Dashboard

    p Cases ready for analysis, and cases underway will appear in the left column. Cases that are still progressing through the bioinformatics pipeline will populate the right column.
        |   Cases that have been marked as ready for presentation will not appear on this page.

    div(layout="column", flex).kanban
        div(layout="row", layout-align="space-between").title
            div(layout="column", flex) Upcoming & current cases ({{currentCases.length}})
            div(layout="column", flex) Upstream cases ({{upstreamCases.length}})

        div(layout="row", flex, layout-align="space-between")
            md-content(layout="column", flex).column
                ipr-report-listing-card(ng-repeat="report in currentCases", md-whiteframe=2, report="report", pog="report.analysis.pog", state="uploaded" ng-hide="loading").pog

            md-content(layout="column", flex).column
                div.text-center No upcoming cases in tracking.
                ipr-report-listing-card(ng-repeat="report in upstreamCases", md-whiteframe=2, report="report", pog="report.analysis.pog", state="signedoff", ng-hide="loading").pog
