.association-card {
  display: inline-block;
  margin: 8px;
  width: 300px;

  &__header {
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 0 8px 8px;
  }

  &__content {
    padding: 16px 8px 0;
  }

  &__body {
    display: flex;
    flex-direction: column;
    padding: 8px 8px 0;
  }

  &__icon {
    vertical-align: top;
  }

  &__actions {
    justify-content: flex-end;
  }
}
