@import '../../styles/variables';

.md-toolbar-tools {
  background-color: $primary;
  color: $white;
  padding: 0 10px;

  md-icon {
    color: $white-icon;

    &.clickable {
      cursor: pointer;
      outline: 0;
    }

    &.margin-right-15 {
      margin-right: 15px;
    }
  }
}

.navbar__version {
  font-size: 14px;
}
