@import '../../styles/variables';

div.md-toolbar-tools {
  padding: 0 10px;
  background-color: $primary;
  color: white;
  md-icon {
    color: $white-icon;
    &.clickable {
      cursor: pointer;
      outline: 0;
    }
    &.margin-right-15 {
      margin-right: 15px;
    }
  }
}