.md-toolbar-tools
  md-icon(ng-click="$ctrl.toggleSidebar()", ng-if="!$ctrl.maximized").clickable.margin-right-15 menu
  md-icon(ng-click="$ctrl.toggleSidebar()", ng-if="$ctrl.maximized").clickable.margin-right-15 close
  h2 
    img(src="img/bcca_logo.png", style="margin-bottom: -5px;")
    |  BCGSC Integrated Pipeline Reports 
    span(ng-if="CONFIG.ATTRS.name !== 'PRODUCTION'") [NON-PRODUCTION ENVIRONMENT: {{CONFIG.ATTRS.name}}]
  span(flex)
  
  md-menu
    div(ng-click='$mdMenu.open($event)', aria-label='User')
      md-icon person
      md-button.white {{$ctrl.user.firstName}} {{$ctrl.user.lastName}}
    
    md-menu-content(width="4")
      md-menu-item
        md-button(ng-click="$ctrl.userDiag($event, $ctrl.user)") Edit Profile

      md-menu-item
        md-button(ng-click="$ctrl.openFeedback($event)") Feedback
      md-menu-divider
      md-menu-item(ng-click="$ctrl.userLogout()")
        md-button Logout
