@import '../../../../../../styles/variables';
@import '../../../../../../styles/theme';

.variant {
  margin: 4px;
  border: 1px solid $palette__common--black;

  &--expression {
    background-color: $accent--orange;

    &:focus {
      background-color: $accent--orange;
    }
  }

  &--structuralVariant {
    background-color: $accent--purple;

    &:focus {
      background-color: $accent--purple;
    }
  }

  &--smallMutation {
    background-color: $accent--blue;

    &:focus {
      background-color: $accent--blue;
    }
  }

  &--cnv {
    background-color: $accent--green;

    &:focus {
      background-color: $accent--green;
    }
  }

  &__form {
    margin: 0;
  }
}
