section.material-section.expression
  h1 Expression Analysis
    p.minimize
      md-icon(ng-click="$ctrl.showSection.analysis = !$ctrl.showSection.analysis", ng-if="$ctrl.showSection.analysis").clickable keyboard_arrow_up
      md-icon(ng-click="$ctrl.showSection.analysis = !$ctrl.showSection.analysis", ng-if="!$ctrl.showSection.analysis").clickable keyboard_arrow_down
  div(layout="column", ng-if="$ctrl.showSection.analysis")

    div.analysis-report-section
      div(layout="column")
        h2 Tissue Sites

        div(layout="row", layout-align="space-between")
          div(layout="column", flex=30).detail-box
            div(layout="row", flex, layout-align="start center")
              p(flex=40) Diagnosis:
              p {{$ctrl.report.patientInformation.tumourType}}
            div(layout="row", flex, layout-align="start center")
              p(flex=40) Biopsy Type:
              p {{$ctrl.report.patientInformation.biopsySite}}

          div(layout="column", flex=30).detail-box
            div(layout="row", flex, layout-align="start center")
              p(flex=55) Site of Primary Disease:
              p N/A
            div(layout="row", flex, layout-align="start center")
              p(flex=55) Biopsy Site:
              p N/A

          div(layout="column", flex=30).detail-box
            div(layout="row", flex, layout-align="start center")
              p(flex=40) Tumour Content:
              p
                tumour-content(tc="$ctrl.report.tumourAnalysis.tumourContent", md-whiteframe="1", ng-if="$ctrl.report.tumourAnalysis.tumourContent !== -1")
                span(ng-if="$ctrl.report.tumourAnalysis.tumourContent === -1") N/A

            div(layout="row", flex, layout-align="start center")
              p(flex=40) Ploidy Model:
              p.text-capitalize {{$ctrl.report.tumourAnalysis.ploidy}}

    div.analysis-report-section
      div(layout="column")
        h2 Expression Correlation Summary and Comparator Choices

        div(layout="row").comparators
          div(layout="column", flex)
            div.text-center Tissue Comparator
            div(layout="row")
              div(flex) Data Source
              div(flex) Cohort
            div(layout="row")
              div(flex) Illumina BodyMap
              div(flex) {{$ctrl.report.tumourAnalysis.normalExpressionComparator}}

          div(layout="column", flex)
            div.text-center Disease Expression Comparator
            div(layout="row")
              div(flex) Data Source
              div(flex) Cohort
            div(layout="row")
              div(flex) TCGA
              div(flex) {{$ctrl.report.tumourAnalysis.diseaseExpressionComparator}}
          div(layout="column", flex)
            div.text-center Protein Expression Comparator
            div(layout="row")
              div(flex) Data Source
              div(flex) Cohort
            div(layout="row")
              div(flex) POG
              div(flex) {{$ctrl.ptxComparator}}

  div.analysis-report-section.margin-top-10
    h1 Expression Outlier Summary
      p.minimize
        md-icon(ng-click="$ctrl.showSection.outlierSummary = !$ctrl.showSection.outlierSummary", ng-if="$ctrl.showSection.outlierSummary").clickable keyboard_arrow_up
        md-icon(ng-click="$ctrl.showSection.outlierSummary = !$ctrl.showSection.outlierSummary", ng-if="!$ctrl.showSection.outlierSummary").clickable keyboard_arrow_down

    div(ng-if="$ctrl.showSection.outlierSummary")

      div(layout="column", ng-repeat="(key, title) in $ctrl.expSummaryMap track by $index")
        h2 {{title}}

        list-outliers(outliers="$ctrl.expOutliers[key]", report="$ctrl.report", type="'rna'").analysis-report-section.margin-bottom-10

  div.analysis-report-section.margin-top-10
    h1 mRNA Expression Outliers
      p.minimize
          md-icon(ng-click="$ctrl.showSection.mrnaOutliers = !$ctrl.showSection.mrnaOutliers", ng-if="$ctrl.showSection.mrnaOutliers").clickable keyboard_arrow_up
          md-icon(ng-click="$ctrl.showSection.mrnaOutliers = !$ctrl.showSection.mrnaOutliers", ng-if="!$ctrl.showSection.mrnaOutliers").clickable keyboard_arrow_down

    div(ng-show="$ctrl.showSection.mrnaOutliers")
      div(layout="column", ng-repeat="(key, title) in $ctrl.mRNAOutliersMap track by $index")
        h2 {{title}}

        list-outliers(outliers="$ctrl.expOutliers[key]", report="$ctrl.report", type="'rna'").analysis-report-section.margin-bottom-10

  div.analysis-report-section.margin-top-10
    h1 Drug Targetable High Percentile Genes
      p.minimize
          md-icon(ng-click="$ctrl.showSection.drugTargetable = !$ctrl.showSection.drugTargetable", ng-if="$ctrl.showSection.drugTargetable").clickable keyboard_arrow_up
          md-icon(ng-click="$ctrl.showSection.drugTargetable = !$ctrl.showSection.drugTargetable", ng-if="!$ctrl.showSection.drugTargetable").clickable keyboard_arrow_down

    div(ng-show="$ctrl.showSection.drugTargetable")
      div.padding-left-10.padding-right-10
        table.material-table
          thead
            tr
              th(width="20%") Gene
              th(width="15%") LOH
              th(width="15%").text-right Copy Number
              th(width="15%").text-right Fold Changes Vs {{$ctrl.report.tumourAnalysis.normalExpressionComparator}}
              th(width="15%").text-right {{$ctrl.report.tumourAnalysis.diseaseExpressionComparator}} %ile
              th(width="15%").text-right kIQR
              th(wdith="5%")
          tbody(style="max-height: 400px; overflow-y: auto;")
            tr(ng-repeat="target in drugTargetList = ($ctrl.drugTargets | filter: $ctrl.searchDrugs(drugQuery)) track by $index")
              td(ng-click="$ctrl.geneClicked = true; $ctrl.gene = target.gene", flex).clickable.underlined {{target.gene}}
                gene-viewer(ng-if="$ctrl.geneClicked", ng-init="$ctrl.geneClicked = false",
                  report="$ctrl.report", gene="$ctrl.gene")
              td {{target.lohRegion}}
              td.text-right {{target.copy}}
              td.text-right {{target.foldChange}}
              td.text-right {{target.tcgaPerc}}
              td.text-right {{target.kIQR}}
              td.text-center.options
                md-icon(ng-click="$ctrl.detailClicked = true; $ctrl.detailIndex = $index").clickable search
                  md-tooltip View Details
                detail-viewer(ng-if="$ctrl.detailClicked", ng-init="$ctrl.detailClicked = false",
                  mutations="$ctrl.drugTargets | filter: $ctrl.searchDrugs(drugQuery)", index="$ctrl.detailIndex")
