.expressionDetails {

  margin-top: 20px;

  div {
    font-size: 0.80em;
    text-align: center;

    span {
      font-size: 0.9em;
      font-weight: 700;
      display: block;
      width: 50%;
      margin: 10px auto;
      padding: 8px 15px;
    }
  }

}

.expression.material-section {

  .analysis-report-section {

    .comparators {
      border: 1px solid rgb(210, 210, 210);
      margin: 15px;

      > div {
        border-bottom: none;
      }

      // First Row
      > div > div:first-of-type {
        padding: 7px;
        background-color: rgb(225, 225, 225);
        border-right: 1px solid rgb(210, 210, 210);
        border-bottom: 1px solid rgb(210, 210, 210);
      }

      // Right most column
      > div:last-of-type > div {
        border-right: none;

        // Within right most column, last column
        > div:last-of-type {
          border-right: none;
        }
      }

      // Not first row
      > div div:not(first-of-type) {

        > div {

          border-right: 1px solid rgb(210, 210, 210);
          border-bottom: 1px solid rgb(210, 210, 210);
          padding: 7px;
          text-align: center;
        }
      }

      // Last row
      > div > div:last-of-type {
        border-bottom: none;
        > div {
          border-bottom: none;
        }
      }

    }

  }

}

.density-graphs {
  ul {
    list-style: none;


    li {
      padding: 10px 0 0 10px;

      &:hover {
        background-color: rgb(238,238,238);
      }
    }

  }

  md-grid-list {
    margin: 15px 0;

    md-grid-tile {
      margin-bottom: 10px;
    }
  }
}