div(layout="row", flex).inner
  p.adminbar__paragraph Administration:
  md-button(ui-sref="admin.users").adminbar__button Users
  md-button(ui-sref="admin.groups").adminbar__button Groups
  md-button(ui-sref="admin.projects").adminbar__button Projects