@import '../../../../styles/variables';

.expression {
  &--padded {
    padding: 16px;
  }

  &__title {
    margin: 0 0 32px;
  }

  &__subtitle {
    margin: 40px 0 24px;
  }

  &__box {
    margin: 15px;
    display: flex;
    justify-content: space-between;
  }

  &__box-column {
    display: flex;
    flex-direction: column;
    flex: 1 1 100%;
    max-width: 48%;
    border: 1px solid $black-20;
  }

  &__box-row {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
    padding: 8px;
    text-align: left;

    &:last-of-type {
      background-color: $black-03;
    }
  }

  &__key {
    flex: 1 1 100%;
    max-width: 40%;
  }

  &__value {
    flex: 1 1 100%;
    max-width: 60%;
  }

  &__comparator-box {
    display: flex;
    flex-direction: row;
    text-align: center;
    border: 1px solid $black-20;
    margin: 15px;
  }

  &__comparator-column {
    display: flex;
    flex: 1 1 100%;
    flex-direction: column;
    max-width: 34%;

    > * {
      &:first-of-type {
        background-color: $black-03;
      }
    }
  }

  &__comparator-value {
    &--padded {
      padding: 8px;
    }
  }
}
