md-dialog(layout="column", aria-label="Task Editor", ng-cloak, flex=50).editor
    form(flex='auto', name='Task', ng-submit="submit(form)", novalidate)
        md-toolbar
            .md-toolbar-tools
                h2 Task Editor
                span(flex)
                md-button.md-icon-button(ng-click='cancel()')
                    md-icon cancel
        md-dialog-content(layout-padding)
            div(layout="column")
                p The settings here will be used to generate this task when the state is invoked. The slug is the name used for scripts to talk to the API. It can only be A-z0-9, underscores (_) and dashes (-).

                div(layout="row")
                    md-input-container(flex)
                        input(name="Name", placeholder="Task Name", ng-model="task.name", required)
                        div(ng-messages="Task.Name", role="alert")
                            p(ng-message="required") The task name is requried

                    md-input-container(flex)
                        input(name="Slug", placeholder="Slug", ng-model="task.slug", required)
                        div(ng-messages="Task.Slug", role="alert")
                            p(ng-message="required") The task slug is required
                            p(ng-message="format") The slug can only consist of A-z0-9, dashes (-) and underscores (_)

                div(layout="row")
                    md-input-container(flex)
                        textarea(ng-model="task.description", placeholder="Description", name="Description", required, md-maxlength="500")
                        div(ng-messages="Task.Description", role="alert")
                            p(ng-message="required") The task description is required

                div(layout="row")
                    md-input-container(flex)
                        label Task Response/Output
                        md-select(ng-model="task.outcomeType", placeholder="Task Response/Output", required)
                            md-option(value="text") Plaintext
                            md-option(value="date") Datetime stamp (ISO8601)
                            md-option(value="location") Filesystem location (directory or file)
                            md-option(value="boolean") Boolean
                            md-option(value="pass/fail/proceed") Pass/Fail/Proceed

                    md-input-container(flex)
                        input(name="Checkins", placeholder="Target Checkins", ng-model="task.checkInsTarget", required, type="number", min="1", max="100")
                        div(ng-messages="Task.Checkins", role="alert")
                            p(ng-message="required") The number of expected responses/check-ins for this task is required.

                div(layout="row")
                    md-input-container(flex)
                        label Starting Status
                        md-select(ng-model="task.status", placeholder="Starting Status", required)
                            md-option(value="pending") Pending
                            md-option(value="active") Active
                            md-option(value="hold") Hold
                            md-option(value="complete") Complete
                            md-option(value="failed") Failed

        md-dialog-actions(layout="row", layout-aligh="end center")
            md-button(ng-click="remove()", ng-hide="new").md-raised.md-warn Remove
            span(flex)
            md-button(type="submit").md-primary.md-raised Save
