md-dialog(layout="column", aria-label="Task Editor", ng-cloak, flex=50).editor
    form(flex="auto", name="Hook", ng-submit="submit(form)", novalidate)
        md-toolbar
            .md-toolbar-tools
                h2 Hook Editor
                span(flex)
                md-button.md-icon-button(ng-click='cancel()')
                    md-icon cancel
        md-dialog-content(layout-padding)
            div(layout="column")
                p These settings control how a hook is triggered, and how it will handle the response to the trigger.

                div(layout="row")
                    md-input-container(flex)
                        input(name="Name", placeholder="Hook Name", ng-model="hook.name", required)
                        div(ng-messages="Hook.Name", role="alert")
                            p(ng-message="required") The hook name is required

                    md-input-container(flex)
                        label Task Name
                        md-select(ng-model="hook.task_name", aria-label="Task Name", placeholder="Task Name", required)
                            md-option(ng-value="null") Parent State/All Tasks
                            md-option(ng-repeat="task in tasks", ng-value="task.slug") {{task.name}}

                div(layout="row")
                    md-input-container(flex)
                        label Event Type
                        md-select(ng-model="hook.action", aria-label="Response type", placeholder="Event Type", required)
                            md-option(value="email") Email

                    md-input-container(flex)
                        label On Status
                        md-select(ng-model="hook.status", aria-label="Response type", placeholder="On Status", required)
                            md-option(value="active") Active
                            md-option(value="complete") Complete
                            md-option(value="hold") Hold
                            md-option(value="failed") Failed
                            md-option(value="canceled") Canceled

                div(layout="row")
                    md-input-container(flex)
                        md-checkbox(ng-model="hook.enabled", aria-label="Response type", required) Hook Enabled

                // Forms now based on event type

                div(ng-if="hook.action === 'email'")

                    div(layout="row")
                        md-input-container(flex)
                            input(ng-model="hook.target_string", placeholder="Recipients", name="Recipients", required)
                            div(ng-messages="Hook.Recipients", role="alert")
                                p(ng-message="required") List of email recipients is required
                            div.hint Comma separated list of recipients

                    div(layout="row")
                        md-input-container(flex)
                            input(ng-model="hook.payload.subject", placeholder="Subject", name="Subject", required)
                            div(ng-messages="Hook.Subject", role="alert")
                                p(ng-message="required") The email subject is required

                    div(layout="row")
                        md-input-container(flex)
                            textarea(ng-model="hook.payload.body", placeholder="Email Body", name="Body", required, md-maxlength="5000", rows=4)
                            div(ng-messages="Hook.Body", role="alert")
                                p(ng-message="required") The email body is required

        md-dialog-actions(layout="row", layout-aligh="end center")
            md-button(ng-click="showConfirmDelete=true", ng-hide="new", ng-disabled="showConfirmDelete").md-raised.md-warn Remove
            md-button(ng-click="remove()", ng-show="showConfirmDelete").md-raised.md-warn Are you sure?
            span(flex)
            md-button(type="submit").md-primary.md-raised Save
