.probe-summary {
  margin: 20px auto;
  padding: 0 20px;

  &__patient-information {
    margin: 0 0 32px 0;

    &-content {
      padding: 0 16px;
    }
  }

  &__test-information {
    &-title {
      margin: 0 0 32px 0;
    }
  }

  &__reviews {
    &-title {
      margin: 0 0 32px 0;
    }
  }
}