@import '../../../../styles/variables';

.probe-summary, .probe-summary--print {
  padding: 0 20px;

  &__test-information {
    page-break-inside: avoid;

    &-title {
      margin: 0 0 16px;
    }
  }

  &__sample-information {
    &-title {
      margin: 0 0 32px;
    }
  }

  &__reviews {
    &-title {
      margin: 0 0 24px;
    }
  }

  &__signatures {
    max-width: $readable-max;
    margin: 0 auto;
  }

  &__none {
    padding: 16px;
  }
}

.probe-summary {
  margin: 20px auto;

  &__test-information {
    margin: 0 0 32px;
  }
}


.probe-summary--print {
  margin: 0 auto;

  &__test-information {
    margin: 22px 0;
  }

  &__sample-information {
    margin: 24px 0;
  }

  &__events {
    page-break-inside: avoid;
    margin: 28px 0;
    border: 2px solid black;
    border-radius: 4px;
    padding: 8px;

    &-title {
      margin: 0 0 16px;
    }
  }

  &__signatures {
    page-break-inside: avoid;
    border: 1px solid black;
    display: flex;
    margin: 0 8px;
    max-width: none;
  }
}
