section
  md-subheader.md-primary Alterations With Potential Clinical Relevance
  
  div(layout="column", flex)
    
    div(layout="row")
      div(layout="column", flex).dataBox
        h2.title Genome Status
        
        div.box
          div(layout="row", flex).heading
            div(flex) Alterations With Therapeutic Relevance

    div(ng-repeat="gene in genes", flex, layout="column").container
      div(flex, layout="column").header
        div(flex, layout="row")
          div(flex) 
            span Gene:  
            | {{gene.gene}}
          div(flex) 
            span Variant: 
            | {{gene.variant}}
          div(flex) 
            span Source: 
            | {{gene.sample}}
          div(flex)
        div(flex, layout="row")
          div(flex) 
            span Expression: 
            | {{gene.expression_tissue_fc}} 
          div(flex) 
            span Disease Percentile: 
            | {{gene.expression_cancer_percentile}}
          div(flex) 
            span Copy Number: 
            | {{gene.copyNumber}}
          div(flex) 
            span Zygosity: 
            | {{gene.zygosity}}
      div(flex, layout="column")
        table(flex, width="100%")
          thead
            tr 
              th(width="10%") Known Variant
              th(width="20%") Effect
              th(width="15%") Cancer Type
              th(width="12%") Association
              th(width="15%") Therapeutic Context
              th(width="10%") Evidence
              th(width="15%") Reference (PIMID)
              th(width="2%")
          tbody
            tr
              td {{gene.variant}}
              td {{gene.effect}}
              td {{gene.disease}}
              td {{gene.association}}
              td {{gene.therapeuticContext}}
              td {{gene.evidence}}
              td 
              td(ng-click="update($event, gene)")
                md-icon mode_edit
            tr(ng-repeat="childGene in gene.children")
              td {{childGene.variant}}
              td {{childGene.effect}}
              td {{childGene.disease}}
              td {{childGene.association}}
              td {{childGene.therapeuticContext}}
              td {{childGene.evidence}}
              td 
              td(ng-click="update($event, childGene)")
                md-icon mode_edit
            
      
      
