@import '../../../../styles/variables';

.therapeutic-table__container {
  width: 100%;
  padding: 6mm 0;
}

.therapeutic-targets {
  .title {
    margin-bottom: 7px !important;
  }

  .row-card {
    margin: 6px 20px;
    padding: 10px;
    background-color: rgb(255, 255, 255);
    min-height: 68px;

    &.new {
      min-height: 0;
      opacity: 0.5;
    }

    &:hover {
      background-color: rgb(240, 240, 240);

      .options {
        display: inline-block;
      }
    }

    h5 {
      font-size: 0.70em;
      padding: 0;
      margin: 0 0 8px 0;
      font-weight: 100;
      text-transform: uppercase;
      color: rgb(90, 90, 90);
    }

    span.context {
      padding-left: 10px;
      font-weight: 100;

      &:first-of-type {
        padding-left: 0;
        font-weight: 500;
      }
    }

    .options {
      display: none;

      md-icon {
        cursor: pointer;
      }
    }

    .entry {
      font-weight: 500;
    }

    .context {
      font-weight: 100;
      padding-left: 10px;

      &:first-of-type {
        font-weight: 500;
        padding-left: 0;
      }
    }
  }
}

md-toolbar {
  &.md-toolbar-tools {
    background-color: $primary;
    color: $white;
    padding: 0 10px;

    md-icon {
      &.clickable {
        cursor: pointer;
        outline: 0;
      }

      &.margin-right-15 {
        margin-right: 15px;
      }
    }
  }
}

md-dialog.therapeutic-targets.editor {
  md-dialog-content {
    label.title {
      color: rgba(0,0,0,0.54);
      font-size: 12px;
      display: inline-block;
    }


    div.biomarkers {
      background-color: rgb(240,240,240);
      padding: 10px 20px;

      md-icon {
        &:not(.no-click) {
          cursor: pointer;
        }
      }

      h3 {
        font-weight: 100;
        font-size: 1.2em;
        margin: 0;
        padding: 2px 12px;
        top: -22px;
        background-color: rgb(220,220,220);
        display: inline-block;
        position: relative;
      }

      .marker {
        padding: 0 10px;
        background-color: rgb(230,230,230);
        margin-bottom: 5px;

        .contexts {
          padding-bottom: 20px;
        }
      }
    }
  }
}


span.option-description {
  color: rgb(150,150,150);
  padding-left: 10px;
  font-size: 0.85em;
}
