
h1 {font-size: 24px}


md-dialog.editor {
  
  md-dialog-content {
    
    div {
      //margin-left: 10px;
      
    }
    
    
  }
}

.hide { display: none; }
.show { display: inline; }

.bg-white, .background-white { background-color: rgb(255,255,255) !important; }

.hide-validation-error {
  margin: 0;

  .md-errors-spacer {
    display: none;
  }
  
}

.stuck {
  position:fixed
}

.clickable {
  cursor: pointer;
  outline: 0;
}

.xScroll { }

.repeat-comma {
  span.listitem:after {
    content: ',';
  }
}
.repeat-comma:last-of-type {
  span.listitem:after {
    content: '';
  }
}

.comma-between:after {
  content:',';
  padding: 0 2px;
}
.comma-between:last-of-type:after {
  content: normal;
  padding: 0;
}

.option-description {
  color: rgb(150,150,150);
  padding-left: 10px;
  font-size: 0.85em;
}

.pill {
  background-color: rgb(200,200,200);
  border-radius: 3px;
  margin: 2px 3px;
  padding: 3px 6px;
  display: inline-block;
  line-height: 130%;
  font-weight: 300;

  &.white {
    color: rgb(60,60,60);
    background-color: rgb(255,255,255);
  }
  &.blue {
    color: rgb(31, 58, 147);
    background-color: rgb(196, 228, 244);
  }
  &.green {
    color: rgb(19, 78, 36);
    background-color: rgb(179, 224, 183);
  }
}

.red { color: rgb(223, 40, 22) }
.green { color: rgb(43, 174, 87) }
.blue { color: rgb(70, 90, 203) }

.link {
  color: rgb(70, 90, 203);
  font-weight: 700;
  cursor: pointer;

  &:hover, &:visited {
    text-decoration: underline;
    color: rgb(79, 101, 232);
  }

}

.text-bold { font-weight: 700; }

.text-center { text-align: center !important;}
.text-right { text-align: right !important; }
.text-left { text-align: left !important; }
.text-capitalize { text-transform: capitalize; }
.text-emphasis { font-style: italic; }
.text-ellipsis { text-overflow: ellipsis; }

.text-small { font-size: 0.8em }
.text-xsmall { font-size: 0.7em }

.pull-right { float: right; }
.pull-left { float: left; }

.text-red { color: rgba(255,0,0,1); }

.margin-top-10 {margin-top: 10px;}
.margin-top-20 {margin-top: 20px;}
.margin-top-30 {margin-top: 30px;}
.margin-top-40 {margin-top: 40px;}
.margin-right-10 {margin-right: 10px;}
.margin-right-20 {margin-right: 20px;}
.margin-right-30 {margin-right: 30px;}
.margin-right-40 {margin-right: 40px;}
.margin-bottom-10 {margin-bottom: 10px;}
.margin-bottom-20 {margin-bottom: 20px;}
.margin-bottom-30 {margin-bottom: 30px;}
.margin-bottom-40 {margin-bottom: 40px;}
.margin-left-10 {margin-left: 10px;}
.margin-left-20 {margin-left: 20px;}
.margin-left-30 {margin-left: 30px;}
.margin-left-40 {margin-left: 40px;}
.margin-none { margin: 0; }

.padding-right-5 { padding-right: 5px; }
.padding-right-10 { padding-right: 10px; }
.padding-right-15 { padding-right: 15px; }
.padding-right-20 { padding-right: 20px; }
.padding-left-5 { padding-left: 5px; }
.padding-left-10 { padding-left: 10px; }
.padding-left-15 { padding-left: 15px; }
.padding-left-20 { padding-left: 20px; }
.padding-10 { padding: 10px; }
.padding-20 { padding: 20px; }
.padding-30 { padding: 30px; }

.padding-none { padding: 0; }

.md-button.medium {
  min-height: 30px;
  height: 30px;
  line-height: 15px;
  padding-left: 15px;
  padding-right: 15px;
}

md-icon.small {
  min-height: 18px;
  height: 18px;
  font-size: 18px;
}

span.preformated {
  background-color: rgb(230,230,230);
  padding: 2px;
  display: inline-block;
  color: rgb(50,50,50);
  border: 1px solid rgb(190,190,190);
  border-radius: 3px;
  margin: 0 3px;
}

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg);
  }
  to { 
    -webkit-transform: rotate(360deg);
  }
}


#page-loading {
  position: absolute;
  z-index: 10000;
  height: 100%;
  width: 100%;
  background-color: rgba(255,255,255,0.6);

}

img.loader-spin {
  animation-name: spin;
  animation-duration: 1.3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}
@keyframes spin {
  from { transform: rotate(0deg) }
  to { transform: rotate(360deg) }
}


.hidden { display: none; }


.md-tooltip {
  color: white;
  font-size: 11px !important;
}

.controls-fixed{
  background-color:rgba(0, 0, 0, 0.1);
  bottom:0;
  left:0;
  padding:10px 15px;
  position:fixed;
  top:auto;
  width:100%;
}

.input-error-message {
  color: red;
  font-size: 0.85em;
  line-height: 156%;
  transition: 0.5s ease-in-out;
}

.ng-hide.ng-hide-animate{
  display: none !important;
}

.line-break-preserve {
  white-space: pre-wrap;
}


md-input-container {
  .hint {
    font-size: 0.75em;
    color: rgb(130,130,130);
    padding: 4px;
    display: inline-block;
  }
}

.ipr-raised {
  padding: 2px 5px;
  border-radius: 4px;
  box-shadow: 0 2px 0 1px rgba(180,180,180,1);

  &:hover {
    box-shadow: none;
    position: relative;
    top: 2px;
    cursor: pointer;
  }
  &:active {
    top: 2px;
    position: relative;
    box-shadow: inset 0 -1px 0 1px rgba(160,160,160,1);
  }
}
div.copypaste {
  border: 1px solid rgb(210,210,210);
  border-radius: 3px;
  md-icon {
    padding: 3px;
    cursor: pointer;
    background-color: rgb(230,230,230);
    font-size: 14px !important;
    height: 14px !important;
    width: 14px !important;
    min-height: 14px;
    min-width: 14px;

    &:hover {
      background-color: rgb(63,81,181);
      color: white;
    }
  }
  input {
    border: 0;
    border-left: 1px solid rgb(210,210,210);
    padding: 3px;
    font-size: 10px;
    font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
  }
}

md-input-container.medium {
  font-size: 13px;
  margin: 8px;

  button {
    min-height: 30px;
    padding: 0;
    height: 30px;
    line-height: 30px;
  }
}

.noWork {
  text-align: center;
  color: rgba(0,0,0,0.3);
  font-weight: 500;
  margin: auto 0 auto 0;
  line-height: 170%;
}


md-toast.request-error {
  > div.md-toast-content {
    background-color: rgb(210, 24, 40);
  }
}


div.material-table {

  &.inset {
    background-color: rgb(245,245,245);
    padding: 15px;

    div.row:hover {
      background-color: rgb(215, 215, 215);
    }
  }

  div.head {
    > div {

      &:first-of-type {
        padding-left: 12px;
      }

      font-weight: 400;
      vertical-align: bottom;
      color: rgba(0,0,0,0.54);
      font-size: 0.75em;
      padding: 3px;
      text-align: left;
      border-bottom: 1px solid rgb(220,220,220);
    }
  }
  div.row {

    border-bottom: 1px solid rgb(220,220,220);

    &:last-of-type {
      border-bottom: none;
    }

    > div {
      padding: 5px;
      font-size: 0.85em;

      &:first-of-type {
        padding-left: 12px;
      }

      &.options {
        text-align: center;
      }

      md-icon {
        font-size: 18px;
        max-height: 20px;
        height: 20px;
        max-width: 20px;
        width: 20px;
      }

      ul {
        margin: 0;
        padding: 0;
        list-style: none;
      }

    }

    &:hover {
      background-color: rgb(238,238,238);
    }

  }

}

table.material-table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;

  $material-table-background-light: rgb(247,247,247);
  $material-table-row-hover: rgb(238,238,238);
  $material-table-border-color: rgb(220,220,220);

  .border-left { border-left: 1px solid $material-table-border-color }

  .background-light { background-color: $material-table-background-light }

  thead {

    tr > th {
      font-weight: 400;
      border-bottom: 1px solid $material-table-border-color;

      vertical-align: bottom;
      color: rgba(0,0,0,0.54);
      font-size: 0.75em;
      padding: 10px 7px;
      text-align: left;

      &:first-of-type { padding-left: 12px; }

      &.button {
        padding: 0;

        button {
          height: 30px;
          min-height: 30px;
          line-height: 30px;
          min-width: 55px;
        }
      }

    }

    tr th.libraries_head {
      text-align: center;
      border-bottom: none;
    }
    tr th.no-border {
      border: none;
    }

  }
  tbody {
    tr {

      border-bottom: 1px solid $material-table-border-color;

      &:last-of-type { border-bottom: none; }

      td {
        padding: 10px 5px;
        font-size: 0.85em;

        &:first-of-type {
          padding-left: 12px;
        }

        &.options {
          text-align: center;

          md-icon {
            font-size: 18px;
            max-height: 20px;
            height: 20px;
            max-width: 20px;
            width: 20px;
          }
        }

      }

      &:hover {
        background-color: $material-table-row-hover;

        &.no-hover {
          background-color: transparent;
        }

        > .background-light {
          background-color: $material-table-row-hover;
        }
        > .options md-icon {
          color: rgb(89, 117, 236);
        }
      }
    }
  }
  tr.loading {

    &:hover { background: none; }

    span { padding: 10px; }

    md-progress-circular {
      margin: 0 auto;
    }
  }
}