section.detailedGenomicAnalysis
    md-subheader.md-primary Knowledgebase

    div(layout="column", flex)

        div(layout="column", flex)

            h2.title Therapies Approved in this Tumour Type

            div(ng-if="approvedThisCancer.length == 0")
                div.text-center.details None Found.
            ipr-genomic-alteration(ng-repeat="gene in ::approvedThisCancer track by $index", samples="::samples", gene="::gene", report="::report").container

            h2.title Therapies Approved in other tumour types
            div(ng-if="approvedOtherCancer.length == 0")
                div.text-center.details None Found.
            ipr-genomic-alteration(ng-repeat="gene in ::approvedOtherCancer track by $index", samples="::samples", gene="::gene", report="::report").container


            h2.title Alterations With Potential Clinical Relevance
                span(ng-click="createNewKBEntry()", ng-if="canEdit").pull-right.addNewVariant.clickable Add new variant
            
        div(ng-if="!showCharacterizedAlterations")
            h3(ng-if="!showCharacterizedAlterations").title Characterized Alterations
            div.text-center.details
                md-button(ng-click="showAlterations()").accent.md-raised View Characterized Alterations

        div(ng-repeat="(alteration, genes) in ::alterations")
            h3(ng-if="alteration !== 'unknown' && alteration !== 'novel' && showCharacterizedAlterations").title {{alteration | titlecase}} Alterations
            h3(ng-if="alteration === 'unknown'").title Uncharacterized Alterations
            h3(ng-if="alteration === 'novel'").title Novel Alterations

            div(ng-if="genes.length == 0 && showNoneFound(alteration)")
                div.text-center.details None Found.
            
            div(ng-if="alteration !== 'unknown' && alteration !== 'novel' && showCharacterizedAlterations")
                ipr-genomic-alteration(ng-repeat="($index, gene) in ::genes track by $index", samples="::samples", gene="::gene", pog="::pog", trigger="trigger", report="::report").container

            div(ng-if="alteration === 'unknown'")
                div.text-center.details
                    md-button(ng-click="showAlterations('unknown')", ng-if="!showUnknownAlterations").accent.md-raised View Uncharacterized Alterations
                ipr-genomic-alteration(ng-if="showUnknownAlterations" ng-repeat="($index, gene) in ::genes track by $index", samples="::samples", gene="::gene", pog="::pog", trigger="trigger", report="::report").container

            div(ng-if="alteration === 'novel'")
                div.text-center.details
                    md-button(ng-click="showAlterations('novel')", ng-if="!showNovelAlterations").accent.md-raised View Novel Alterations
                ipr-genomic-alteration(ng-if="showNovelAlterations" ng-repeat="($index, gene) in ::genes track by $index", samples="::samples", gene="::gene", pog="::pog", trigger="trigger", report="::report").container

        div(layout="column", flex)
            h2.title Targeted Gene Report - Detected Alterations
            h3.title The following alterations were detected by the Targeted Gene Report rapid analysis pipeline.
            div(ng-if="targetedGenes.length == 0")
                div.text-center.details No clinically relevant genomic alterations were found from the analysis.
            div(layout="column", flex, ng-repeat="gene in targetedGenes").details.box
                div(layout="row", flex)
                    dt(flex="15") Gene:
                    dd(flex="15") {{gene.gene}}

                    dt(flex="15") Variant:
                    dd(flex="15") {{gene.variant}}

                    dt(flex="15") Source:
                    dd(flex="45") {{gene.sample}}