md-content(flex).md-padding
    md-toolbar
        div.md-toolbar-tools
            span(flex)
            h2(flex).text-center.md-hue-3 {{pog.POGID}} Probe (Targeted Gene) Report
            span(flex)
    div(layout="row", flex).pog-report
        div(flex, ui-view="")

        md-content(flex="20", layout="column", ng-show="showSideBar", ng-init="showSideBar=true").reportSections
            div
                md-list(layout-align="start start", id="reportSections")
                    md-subheader Report Sections
                    md-list-item(ui-sref="dashboard.reports.pog.report.probe.summary", ng-class="activeSection({state: 'summary'}) ? 'active' : ''") Summary
                        md-icon(ng-click="openPrint()", aria-label="Print Summary Section").md-secondary print
                    md-list-item(ui-sref="dashboard.reports.pog.report.probe.detailedGenomicAnalysis", ng-class="activeSection({state: 'detailedGenomicAnalysis'}) ? 'active' : ''") Detailed Genomic Analysis
                    md-list-item(ui-sref="dashboard.reports.pog.report.probe.appendices", ng-class="activeSection({state: 'appendices'}) ? 'active' : ''") Appendices
                    md-list-item(ui-sref="dashboard.reports.pog.report.probe.meta", ng-class="activeSection({state: 'meta'}) ? 'active' : ''", ng-if="SES_permissionAction('report.edit')").meta Report Settings