section.appendices
    md-subheader.md-primary Appendices

    div(layout="column", flex)

        div(layout="column", flex)

            h2.title Appendix A
            h3.title Sample Information


            div(layout="column", flex).dataBox
                div.box
                    div(layout="row", flex).heading
                        div(flex) Sample
                        div(flex) Sample Name
                        div(flex) Collection Date
                        div(flex) Primary Site
                        div(flex=30) Biopsy Site
                        div(flex) Pathology Estimated Tumour Content
                    div(layout="row", flex, ng-repeat="sample in pog.sampleInfo").row
                        div(flex) {{sample['Sample']}}
                        div(flex) {{sample['Sample Name']}}
                        div(flex) {{sample['Collection Date']}}
                        div(flex) {{sample['Primary Site']}}
                        div(flex=30) {{sample['Biopsy Site']}}
                        div(flex) {{sample['Patho TC']}}

            h3.title Sequencing QC

            div(layout="column", flex).dataBox
                div.box
                    div(layout="row", flex).heading
                        div(flex) Type
                        div(flex) Sample Name
                        div(flex) Input (ng)
                        div(flex) Library Construction Protocol
                        div(flex) Library
                        div(flex) Lab QC
                        div(flex) Sequencing QC
                        div(flex) % Duplicates
                        div(flex) Total Coverage
                        div(flex) # Reads
                    div(layout="row", flex, ng-repeat="qc in pog.seqQC").row
                        div(flex) {{qc['Sample']}}
                        div(flex) {{qc['Sample Name']}}
                        div(flex) {{qc['Input_ng']}}
                        div(flex) {{qc['Protocol']}}
                        div(flex) {{qc['Library']}}
                        div(flex) {{qc['labQC']}}
                        div(flex) {{qc['bioQC']}}
                        div(flex) {{qc['Duplicate_Reads_Perc']}}
                        div(flex) {{qc['Coverage']}}
                        div(flex) {{qc['Reads']}}

            h2.title Appendix B
            h3.title TCGA Acronyms
            div(layout="column", flex).dataBox
                div.box
                    div(layout="row", flex).heading
                        div(flex=30) Code Name
                        div(flex=30) Full Name
                        div(flex) Data Source
                        div(flex) Tumour Count
                        div(flex) Normal Count
                    div(layout="row", flex, ng-repeat="t in tcga").row
                        div(flex=30) {{t['Code Name']}}
                        div(flex=30) {{t['Full Name']}}
                        div(flex) {{t['Data Source']}}
                        div(flex) {{hashClean(t['Tumour Count'])}}
                        div(flex) {{hashClean(t['Normal Count'])}}

            h2.title Appendix C
            h3.title Report Overview
            div.md-padding
                p The Tumour Genome Analysis report provides a comprehensive description of the somatic genetic alterations present in a tumour. All genes in the genome are assessed for alterations of all types, including substitutions, deletions, gene fusions, amplification, and overexpression. Both known and novel alterations which affect genes of potential clinical relevance are included in the report. Germline variants are not generally included in this report.
                p The Tumour Genome Analysis report is developed by Canada's Michael Smith Genome Sciences Centre, part of the BC Cancer Agency. Contents should be regarded as purely investigational and are intended for research purposes only.

            h3.title Methods Overview
            div.md-padding
                p The complete report is based on whole genome sequencing of tumour and matched normal DNA, and whole transcriptome sequencing of tumour RNA. Tumour and normal sequences are compared to the reference human genome to identify tumour-specific alterations including single nucleotide variants, small insertions and deletions, copy number changes, and structural variants such as translocations. Sequences are also assembled in a reference-independent manner to identify further structural alterations. Additionally, RNA sequences are used to measure expression of all genes, and genes with over and under-expression compared to reference tissues are identified. Somatic changes are cross-referenced to databases of therapeutic, diagnostic, prognostic, and biological information, pinpointing the alterations most likely to have clinical relevance. This comprehensive tumour description is expert reviewed by a Genome Analyst, highlighting potential driver mutations, providing pathway context, interpreting results in tumour type context, and refining potential therapeutic targets.

            h3.title Detailed Methods
            div.md-padding
                p
                    strong Genome status:
                    |  Tumour content and ploidy are determined based on expert review of copy number and allelic ratios observed across all chromosomes in the tumour .
                p
                    strong Tissue comparators and expression comparisons:
                    |  The most appropriate normal tissue and tumour tissues are chosen for expression comparisons based on the tumour type and observed correlation with tissue data sets. If no appropriate tissue comparator is available, for instance for rare tumours, an average across all tissues is used. Fold change in expression is calculated compared to the normal tissue, and percentile expression is calculated compared to all tumour samples of that disease type. Outlier expression refers to genes with very high or very low expression compared to what is seen in other cancers of that type.
                p
                    strong Microbial content:
                    |  Sequences are compared to databases of viral, bacterial and fungal sequences in addition to the human genome. The microbial species is reported if observed levels are suggestive of microbial presence in the tumour sample. Specific viral integration sites are reported if identified in genomic DNA sequence.
                p
                    strong Mutation signature:
                    |  The pattern of specific base changes and base context of single nucleotide variants in the tumour, referred to as the mutation signature, is computed and compared to patterns previously observed in a wide variety of tumour types. Signatures that suggest a particular mutation etiology, such as exposure to a specific mutagen, are noted.
                p
                    strong Mutation burden:
                    |  The number of protein coding alterations of each type, including both known and novel events, are totaled and compared to other tumours of a similar type. For SNVs and indels, this includes data from TCGA, while for structural variants, comparisons are only made among POG samples due to differences in how these variants are identified in TCGA.
                p
                    strong Key genomic and transcriptomic alterations:
                    |  The subset of alterations which have a previously described effect on genes of clinical or biological significance are summarized, with details of significance provided in the Detailed Genomic Analysis section, and details of the exact alteration provided in the section of the report corresponding to that mutation type. Additional alterations in these genes, which have not been previously observed and do not have an inferred functional effect, are variants of uncertain significance (VUS), and are only listed in the subsequent sections of the report. Alterations in genes which are not associated with cancer, cancer pathways, or therapeutics, are not usually included in the genomic report but are available upon request to the Genome Sciences Centre.
                p
                    strong Genomic events with potential therapeutic association:
                    |  The subset of alterations with specific therapeutic associations are identified using the Genome Sciences Centre's expert curated Knowledgebase, which integrates information from sources including cancer databases, drug databases, clinical tests, and the literature. Associations are listed by the level of evidence for the use of that drug in the context of the observed alteration, including those that are approved in this or other cancer types, and those that have early clinical or preclinical evidence.

            h2.title Appendix D
            h3.title Genomic Report v/KB v.Genome Ref hg19

            pre.tcga {{pog.config}}


