md-dialog(layout="column", aria-label="Update Patient Information", ng-cloak, flex=55).editor
  form(flex='auto', name='form', ng-submit="update(form)")
    md-toolbar
      .md-toolbar-tools
        h2 Update Patient Information
        span(flex)
        md-button.md-icon-button(ng-click="cancel()")
          md-icon cancel

    md-dialog-content(layout-padding)
      div(layout="column")
        p The list of patient information fields that can be edited is limited.

        div(layout="row")
          md-input-container(flex)
            input(name="PatientID", placeholder="Patient ID", ng-model="patientId", disabled)

          md-input-container(flex)
            md-select(ng-model="patientInformation.gender", aria-label="Clinical Relevance", required)
              md-option(ng-value="'Male'") Male
              md-option(ng-value="'Female'") Female
              md-option(ng-value="'Unspecified'") Unspecified

        div(layout="row")
          md-input-container(flex)
            input(name="TumourSample", placeholder="Tumour Sample", ng-model="patientInformation.tumourSample")

          md-input-container(flex)
            input(name="TumourType", placeholder="Tumour Type", ng-model="patientInformation.diagnosis")

        div(layout="row")
          md-input-container(flex)
            input(name="ConstitutionalSample", placeholder="Constitutional Sample", ng-model="patientInformation.constitutionalSample", disabled)

          md-input-container(flex)
            input(name="Age", placeholder="Age at Diagnosis", ng-model="patientInformation.age")

        div(layout="row")
          md-input-container(flex)
            input(name="BiopsyDetails", placeholder="Biopsy Details", ng-model="patientInformation.biopsySite")

          md-input-container(flex)
            input(name="Physician", placeholder="Physician", ng-model="patientInformation.physician")

        div(layout="row")
          md-input-container(flex)
            input(name="Protocol", placeholder="Protocol", ng-model="patientInformation.tumourProtocol", disabled)

        div(layout="row")
          md-input-container(flex)
            label Comment
            textarea(
              ng-model="patientInformation.comment",
              md-maxlength=150,
              placeholder="Why are you making this change?",
              required
              md-autofocus
            )


    md-dialog-actions(layout="row", layout-align="end center")
      md-button(ng-click="cancel()") Cancel
      md-button(type="submit").md-accent Submit
