md-content(layout="column", flex)
  form(ng-submit="login(form)", novalidate, name="form")
    div(layout="column")
      h3 Log In
      div(layout)
        md-input-container.md-icon-float(flex)
          label Username
          input(ng-model="user.username", name="username", type="text", placeholder="Username", autofocus, required)
          div(ng-messages="form.Username.$error")
            p(ng-message="required") Please enter your username
            p(ng-message="badCredentials") The supplied credentials failed to find a match in our records
      
      div(layout)
        md-input-container.md-icon-float(flex)
          label Password
          input(ng-model="user.password", name="Password", type="password", placeholder="Password", required)
          div(ng-messages="form.Password.$error")
            p(ng-message="required") Please enter your password
            
      div.error(flex, layout=row, layout-align="center center")
        p(ng-if="errors.credentials") Invalid Username or Password
        p(ng-if="errors.system") Something went wrong, please try again.
      
      div(layout)
        button.md-button.md-primary.md-raised(flex, type="submit") Login
        
      div(layout="column")
        p Login with your BC GSC GIN credentials. New accounts must be created by BC Genome Sciences Centre IT Systems.