md-dialog(layout="column", aria-label="Request New Account", flex-md=80, flex-xs=100, flex-lg=70, flex=70).editor
    md-toolbar
        .md-toolbar-tools
            h2 Request New Account
            span(flex)
            md-button.md-icon-button(ng-click='cancel()')
                md-icon cancel
    md-dialog-content(layout-padding)
        h3 Internal Users
        p Please create a JIRA ticket under the DEVSU (Development Support) Project requesting access to IPR.

        h3 External Users
        p Please contact GSC Systems to begin the process to gain access to IPR.


    md-dialog-actions(layout="row", layout-aligh="end center", layout-padding)
        md-button(ng-click="cancel()", ng-disabled="sending").md-raised.md-primary.medium Close

