section.detailedGenomicAnalysis
    md-subheader.md-primary Detailed Genomic Analysis

    div(layout="column", flex)

        div(layout="column", flex)

            h2.title Therapries Approved in this Tumour Type

            div(ng-if="approvedThisCancer.length == 0")
                div.text-center.details None Found.
            ipr-genomic-alteration(ng-repeat="gene in approvedThisCancer", samples="samples", gene="gene", report="report").container

            h2.title Therapries Approved in other tumour types
            div(ng-if="approvedOtherCancer.length == 0")
                div.text-center.details None Found.
            ipr-genomic-alteration(ng-repeat="gene in approvedOtherCancer", samples="samples", gene="gene", report="report").container


            h2.title Alterations With Potential Clinical Relevance
                span(ng-click="createNewKBEntry()").pull-right.addNewVariant.clickable Add new variant

        div(ng-repeat="(alteration, genes) in alterations")
            h3(ng-hide="alteration !== 'unknown' && showUnknown").title {{alteration}}

            div(ng-if="genes.length == 0 && alteration !== 'unknown'")
                div(ng-hide="showUnknown").text-center.details None Found.

            ipr-genomic-alteration(ng-repeat="(i, gene) in genes", samples="samples", gene="gene", pog="pog", trigger="trigger", report="report").container
