@import '../../styles/theme.module';

.IPRWYSIWYGEditor {
  &__content {
    margin: 0;
    padding: 0.5rem;
    border: 1px solid $palette__grey--300;
    border-top: none;
    
    & .tiptap {
      outline: none;
    }
  }

  &__toolbar {
    z-index: +1;
    position: sticky;
    top: 0;
    padding: 0.25rem 0;
    width: 100%;
    background-color: $palette__common--white;
    border-bottom: 1px solid $palette__grey--300;
  }
}
