@import './styles/reset.css';
@import './styles/variables';
@import './styles/theme.module';

ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
  unicode-bidi: isolate;
}

li {
  display: list-item;
  text-align: -webkit-match-parent;
  unicode-bidi: isolate;
}

* {
  box-sizing: border-box;
  scrollbar-width: thin;
  scrollbar-color: $black-20 $palette__common--white;

  &::-webkit-scrollbar {
    width: 12px;
    height: 12px;
  }

  &::-webkit-scrollbar-track {
    background: $palette__common--white;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $black-20;
    border-radius: 20px;
    border: 3px solid $palette__common--white;
  }
}

html body {
  height: 100%;
  overflow: hidden;
}

.toast {
  &--bottom-left {
    position: fixed;
  }
}

.clickable {
  cursor: pointer;
}

.ag-cell-wrap-text {
  word-break: break-word !important;
}

.ag-center-cols-clipper {
  min-height: unset !important;
}

.ag-theme-material {
  -webkit-font-smoothing: auto !important;
}

.inner-html {
  p:empty::before {
    content: "\00a0";
  }
}
