@media print {
  .running-left {
    position: running(run-left);
    font-size: .65rem;
  }

  .running-center {
    position: running(run-center);
    font-size: .65rem;
  }

  .running-right {
    position: running(run-right);
    font-size: .65rem;
  }

  .page-break {
    break-before: page;
  }

  @page {
    size: 9in 11.5in;
    margin: .4in;

    @bottom-right {
      content: "Page " counter(page) " of " counter(pages);
      font-size: .75rem;
    }

    @top-left {
      content: element(run-left);
    }

    @top-center {
      content: element(run-center);
      width: 3in;
    }

    @top-right {
      content: element(run-right);
    }
  }
}
