@import './styles/variables';
@import './styles/theme';

* {
  box-sizing: border-box;
  scrollbar-width: thin;
  scrollbar-color: $black-20 $palette__common--white;

  &::-webkit-scrollbar {
    width: 12px;
    height: 12px;
  }

  &::-webkit-scrollbar-track {
    background: $palette__common--white;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $black-20;
    border-radius: 20px;
    border: 3px solid $palette__common--white;
  }
}

html body {
  height: 100%;
  overflow: hidden;
}

.toast {
  &--bottom-left {
    position: fixed;
  }
}

.clickable {
  cursor: pointer;
}

// Fix for https://github.com/mui-org/material-ui/issues/20461
.text-field-fix {
  margin: 20px 12px 10px;
  height: 40px;

  > * {
    box-sizing: content-box !important;
  }
}

// Fix for dialog not accounting for AppBar
.md-dialog-container {
  top: -$navbar-size !important;
}
