@import './styles/reset.css';
@import './styles/variables';
@import './styles/theme.module';

ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
  unicode-bidi: isolate;
}

li {
  display: list-item;
  text-align: -webkit-match-parent;
  unicode-bidi: isolate;
}

* {
  box-sizing: border-box;
  scrollbar-width: thin;
  scrollbar-color: $black-20 $palette__common--white;

  &::-webkit-scrollbar {
    width: 12px;
    height: 12px;
  }

  &::-webkit-scrollbar-track {
    background: $palette__common--white;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $black-20;
    border-radius: 20px;
    border: 3px solid $palette__common--white;
  }
}

html body {
  height: 100%;
  overflow: hidden;
}

.toast {
  &--bottom-left {
    position: fixed;
  }
}

.clickable {
  cursor: pointer;
}

.ag-cell-wrap-text {
  word-break: break-word !important;
}

.ag-center-cols-clipper {
  min-height: unset !important;
}

.ag-theme-material {
  -webkit-font-smoothing: auto !important;
}

.inner-html {
  p:empty::before {
    content: "\00a0";
  }
}

.search-view {
  margin: auto;
  left: 16px;
  max-width: 800px;
  min-width: 800px;
  position: relative;
  right: 16px;
  top: 30vh;

  &__component {
    margin-top: 32px;
    width: fit-content;
  }

  &__bar {
    box-sizing: border-box;
    display: flex;
    padding-left: 32px;
    padding-right: 32px;
    width: 100%;
  }

  &__main {
    -webkit-tap-highlight-color: transparent;
    width: 100%;
    padding-top: 8.5px;
  }

  &__threshold-input {
    padding-top: 8.5px;
    padding-left: 16px;
    width: 15%;

    // Removes arrows in number input
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    input[type=number] {
      -moz-appearance: textfield;
    }
  }

  .help-dialog {
    max-width: 800px;
    min-width: 800px;
    height: auto;
    margin-top: 12px;
    padding-left: 32px;
    padding-right: 32px;
  }
}

// Print Tables common styling
$print-cell-padding-right: 8px;

.print-table {
  border-collapse: collapse;
  margin-bottom: 1rem;
  font-family: Arial, Helvetica, sans-serif;

  &--full-width {
    width: 100%;
  }

  &__header {
    font-size: 9pt;
    text-align: left;
    color: $palette__text--secondary;
    padding: 2px;
    border-bottom: 1px solid $palette__text--hint !important;

    & th {
      padding: 10px $print-cell-padding-right 10px 0px !important;
    }
  }

  &__row {
    font-size: 10pt;
    border-bottom: 0.5px solid lightgray;
    page-break-inside: avoid;
    break-inside: avoid;

    & td {
      padding: 3px $print-cell-padding-right 3px 0;
      page-break-inside: avoid;
      overflow-wrap: break-word;
      break-inside: avoid;

      &:last-child {
        padding-right: 0;
      }
    }
  }

  &__none {
    border-bottom: 1px solid $palette__text--hint;
    padding: 3px 4px;
    text-align: center;
    border-bottom: 0.5px solid lightgray;
    font-size: 10pt;
  }

  &__cell {
    &--skip {
      display: none;
    }
  }
}
// [END] Print Tables common styling
