doctype html
html(lang='en', ng-app='root', ng-strict-di)
  head
    link(rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png")
    link(rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png")
    link(rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png")
    link(rel="manifest" href="/manifest.webmanifest")
    link(rel="mask-icon" href="/safari-pinned-tab.svg" color="#26328c")
    meta(name="msapplication-TileColor" content="#2b5797")
    meta(name="theme-color" content="#ffffff")

    title BCGSC IPR
    link(href="https://fonts.gstatic.com", rel="preconnect", crossorigin)
    link(href="https://fonts.googleapis.com", rel="preconnect", crossorigin)
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons", rel="stylesheet")
    base(href="/")
  body(layout="column")
    ui-view
