@import './styles/variables';
@import './styles/theme';

.main__content {
  margin: 56px 0 0 56px;
  transition-duration: .3s;
  transition-property: margin;
  z-index: $content-z-index;

  &--sidebaropen {
    margin: 56px 0 0 240px;
  }
}

.main__view {
  height: 100vh;
}

html body {
  height: 100%;
}

* {
  box-sizing: border-box;
  scrollbar-width: thin;
  scrollbar-color: $black-20 $palette__common--white;

  &::-webkit-scrollbar {
    width: 12px;
    height: 12px;
  }

  &::-webkit-scrollbar-track {
    background: $palette__common--white;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $black-20;
    border-radius: 20px;
    border: 3px solid $palette__common--white;
  }
}

md-content {
  height: 100%;
  overflow: auto;
}

#page-loading {
  position: absolute;
  z-index: 10000;
  height: 100%;
  width: 100%;
  background-color: rgba(255,255,255,0.6);
}

img.loader-spin {
  height: 50px;
  animation-name: spin;
  animation-duration: 1.3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
