@import './styles/variables';

.main__content {
  margin: 56px 0 0 56px;
  transition-duration: .3s;
  transition-property: margin;
  z-index: $content-z-index;

  &--sidebaropen {
    margin: 56px 0 0 240px;
  }
}

.main__view {
  height: 100vh;
}

html body {
  height: 100%;
}

* {
  box-sizing: border-box;
}

md-content {
  height: 100%;
  overflow: auto;
}

#page-loading {
  position: absolute;
  z-index: 10000;
  height: 100%;
  width: 100%;
  background-color: rgba(255,255,255,0.6);
}

img.loader-spin {
  height: 50px;
  animation-name: spin;
  animation-duration: 1.3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
