.genomic-summary {
  margin: 20px auto;
  padding: 0 20px;

  @media print {
    margin: 0 auto;
  }
  
  &__patient-information {
    margin: 0 0 32px 0;

    &-title {
      @media print {
        margin: 0 0 8px;
      }
    }

    &-content {
      padding: 0 16px;
    }
  }

  &__analysis-summary {
    margin: 0 0 32px 0;

    @media print {
      margin: 32px 0;
    }

    &-title {
      margin: 8px 0;
    }

    &-content {
      padding: 0 16px;
    }
  }

  &__tumour-summary {
    margin: 0 0 32px 0;
  }

  &__alterations {
    margin: 0 0 32px 0;
  }
}