.genomic-summary {
  margin: 20px auto;
  padding: 0 20px;

  &__patient-information {
    margin: 0 0 32px 0;

    &-content {
      display: flex;
      justify-content: start;
      flex-wrap: wrap;

      & > * {
        width: 21%;
      }
    }
  }

  &__analysis-summary {
    margin: 0 0 32px 0;

    @media print {
      margin: 32px 0;
    }

    &-content {
      display: flex;
      justify-content: start;
      flex-wrap: wrap;

      & > * {
        width: 21%;
      }
    }
  }

  &__tumour-summary {
    margin: 0 0 32px 0;
  }

  &__alterations {
    margin: 0 0 32px 0;
  }
}