// Shared styling between both versions
.genomic-summary, .genomic-summary--print {
  &__patient-information {
    margin: 0 0 32px 0;

    &-content {
      padding: 0 16px;
    }
  }

  &__tumour-summary, &__alterations {
    margin: 0 0 32px 0;
  }

  &__analysis-summary {
    &-title {
      margin: 8px 0;
    }

    &-content {
      padding: 0 16px;
    }
  }
}

.genomic-summary {
  margin: 20px auto;
  padding: 0 20px;
}

.genomic-summary--print {
  margin: 0 auto;
  padding: 0 20px;

  &__patient-information, &__tumour-summary, &__alterations {
    &-title {
      margin: 0 0 8px;
    }
  }
}
