md-dialog(layout="column", aria-label="Update Mutation Signature Details").editor
  form(flex='auto', name='form', ng-submit="update(form)")
    md-toolbar
      .md-toolbar-tools
        h2 Update Mutation Signature Details
        span(flex)
        md-button.md-icon-button(ng-click="cancel()")
          md-icon cancel

    md-dialog-content(layout-padding)
      mutation-signature(report="report", mutation-summary="tumourAnalysis", mutation-signature="mutationSignature", mode="'pick'")

    md-dialog-actions(layout="row", layout-align="end center", layout-padding)
      span(flex)
      md-button(ng-click="cancel()") Cancel
      md-button(type="submit").md-accent Submit
