section.appendices {


  .tcga {
    font-family: monospace;
    font-size: 0.75em;
    line-height: 140%;
    padding: 10px;
    background-color: rgb(190,190,190);
    margin: 20px;
    border: 1px solid rgb(80,80,80);
    overflow-x: scroll;
  }


}