md-content(flex, layout="column").md-padding.trackingBoard

    md-sidenav(md-is-open="showOptions", md-whiteframe=4).md-sidenav-right
        md-toolbar
            h1.md-toolbar-tools Options
        md-content
            md-list
                md-list-item
                    p Show Hidden States
                    md-switch(ng-model="filter.hidden", ng-change="refreshList()").md-primary
                md-list-item
                    p Track new POG
                    md-button(ng-click="trackNewPOG($event)").md-raised.md-primary.md-icon-button
                        md-icon add
                md-list-item
                    p Update Definitions
                    md-button(ui-sref="^.definition").md-raised.md-primary.md-icon-button
                        md-icon edit

    h1.md-title(layout="row")
        span(flex) POG Tracking
        span(flex, layout="row", layout-align="end end")
            md-input-container.hide-validation-error.pull-right
                input(placeholder="Search", name="Search", ng-model="pogQuery", size=40).text-small
                md-icon(ng-click="showFilterTips()").clickable help
            span(flex=5)
            span
                md-button(ng-click="showOptions = !showOptions").md-primary.md-icon-button.md-raised
                    md-icon settings

    div(layout="column", flex).kanban
        div(layout="row", layout-align="space-between").title

            div(layout="column", flex, ng-repeat="definition in definitions") {{definition.name}} ({{definition.group.name || 'N/A' }})

        div(layout="row", flex, layout-align="space-between")

            md-content(layout="column", flex, ng-repeat="definition in definitions").column
                div(ng-show="loading").text-center Loading...
                ipr-tracking-card(ng-repeat="state in sortedStates[definition.slug] | filter: searchPogs(state, pogQuery)", md-whiteframe=2, state="state", ng-hide="loading").pog

    div(layout="row").stateDefs
        p.pending Pending
        p.active Active
        p.complete Completed
        p.hold Hold
        p.failed Failed