md-content.trackingBoard {

  $complete: #2bae57;
  $bgComplete: #d3ffd0;

  $active: #65d1cb;
  $bgActive: #d0f0ff;

  $hold: #e9dd4e;
  $bgHold: #f7ffd0;

  $pending: #aaaaaa;
  $bgPending: #ebebeb;

  $failed: #df2816;
  $bgFailed: #ffd3c9;

  $cancelled: #ab1edf;
  $bgCancelled: #ccc1df;

  .stateDefs {

    p {
      margin: 10px 10px 0 0;
      font-size: 11px;
      color: rgba(0,0,0,0.6);
    }

    p:before {
      content: "";
      display: inline-block;
      width: 8px;
      height: 8px;
      border: 1px solid #c8c8c8;
      margin-right: 4px;
      border-radius: 3px;
    }

    p.complete:before { background-color: $complete; }
    p.active:before { background-color: $active; }
    p.hold:before { background-color: $hold; }
    p.pending:before { background-color: $pending; }
    p.failed:before { background-color: $failed; }
    p.cancelled:before { background-color: $cancelled; }

  }

  &.trackingLane {

    tr.state {
      &.complete {
        > td:first-of-type {
          border-left: 4px solid $complete;
        }
      }
      &.active {
        > td:first-of-type {
          border-left: 4px solid $active;
        }
      }
      &.hold {
        > td:first-of-type {
          border-left: 4px solid $hold;
        }
      }
      &.pending {
        > td:first-of-type {
          border-left: 4px solid $pending;
        }
      }
      &.failed {
        > td:first-of-type {
          border-left: 4px solid $failed;
        }
      }
      &.cancelled {
        > th:first-of-type {
          border-left: 4px solid $cancelled;
        }
      }
    }


    .task {

      border: 1px solid;

      > .value {
        min-height: 20px;
        padding: 2px 4px;
      }

      &.complete {
        border-left: 5px solid $complete;
        background-color: $bgComplete;
        border-color: $complete;
      }
      &.active {
        border-left: 5px solid $active;
        background-color: $bgActive;
        border-color: $active;
      }
      &.hold {
        border-left: 5px solid $hold;
        background-color: $bgHold;
        border-color: $hold;
      }
      &.pending {
        border-left: 5px solid $pending;
        background-color: $bgPending;
        border-color: $pending;
      }
      &.failed {
        border-left: 5px solid $failed;
        background-color: $bgFailed;
        border-color: $failed;
      }
      &.cancelled {
        border-left: 5px solid $cancelled;
        background-color: $bgCancelled;
        border-color: $cancelled;
      }
    }

  }

  .toast-center-loading {
    background-color: rgba(0,0,0,0.30);
    border-radius: 4px;

    padding: 3px 9px;
    margin-bottom: 10px;

    position: absolute;
    left: 46%;
    bottom: 0;

    color: white;
    font-size: 11px;
  }

}

md-dialog.lane-checkin {
  h4 {
    margin: 5px 0px 10px 0px;
  }
}

md-dialog.ticket_preview {

  md-dialog-content {

    h4 {
      font-size: 12px;
      color: rgb(100,100,100);
      padding: 3px 0;
      margin: 0;
      font-weight: 100;
    }
    h1 {
      font-size: 20px;
      color: rgb(0,0,0);
      padding: 0;
      margin: 3px 0 15px 0;
    }
    h2 {
      font-size: 16px;
      margin: 7px 0;
      padding: 0;
    }
    table {
      border-collapse: collapse;
      border: 1px solid rgb(204, 204, 204);

      th {
        background-color: rgb(245, 245, 245);
        font-weight: 700;
        text-align: center;
        font-size: 0.9em;
      }
      th, td {
        border: 1px solid rgb(204, 204, 204);
        padding: 3px;
      }
    }

    div.panel {
      border: 1px solid rgb(204, 204, 204);
      border-radius: 4px;
      margin: 15px 0;

      .title {
        background-color: rgb(245, 245, 245);
        border-top-left-radius: 4px;
        border-top-right-radius: 4px;
        font-weight: 700;
        padding: 6px;
        font-size: 0.9em;
        border-bottom: 1px solid rgb(204, 204, 204);
      }
      .body {
        padding: 4px;
        pre {
          font-family: Roboto,"Helvetica Neue",sans-serif;
        }
      }
    }

  }

}