table.print
    thead
        tr
            td.pageHeader
                div(layout="row")
                    div(flex=20) {{pog.POGID}} - {{report.patientInformation.tumourType}}
                    div(flex) BCCA Confidential - For Research Purposes Only
                    div(flex=20) {{report.createdAt | amDateFormat: 'YYYY/MM/DD'}}
    tbody
        tr
            td.reportHeader
                div(layout="row")
                    div(flex=50)
                        img(src="/assets/images/print_logo.png", width="100%")
                    div(flex=50, layout-align="start end")
                        div(flex, layout="column").text-right
                            span Tumour Genome Analysis
                            span.text-small Whole genome; Transcriptome; Somatic
                div(layout="row").version
                    div(flex=50) Report version: x.x.x
                    div(flex=50).text-right Knowledgebase version: x.x.x

                div(flex).pogid.text-center {{pog.POGID}}
    tbody(ui-view="summary")

div.pageBreak
table(ui-view="analystComments").print

div.pageBreak
table(ui-view="pathwayAnalysis").print

div.pageBreak
table(ui-view="pathwayAnalysisLegend").print

div.pageBreak
table(style="margin-top: 1mm", ui-view="therapeuticOptions").print


div.pageBreak
table(style="margin-top: 3mm", ui-view="dga").print


div.pageBreak
table(ui-view="diseaseSpecificAnalysis").print

div.pageBreak
section(ui-view="somaticMutations")

div.pageBreak
table(style="margin-top: 3mm", ui-view="copyNumberAnalysis").print

div.pageBreak
table(style="margin-top: 3mm", ui-view="copyNumberAnalysisCNVLOH").print

div.pageBreak
table(style="margin-top: 3mm", ui-view="structuralVariants").print

div.pageBreak
section(style="margin-top: 3mm", ui-view="expressionAnalysis")

div.pageBreak
section(style="margin-top: 3mm", ui-view="appendices").print