$print_purple: rgb(51, 0, 153);
$print_section_bg: rgb(117,107,177);
$print_grey_border: rgb(192,192,192);

@media print {
  html, body {
    background: none !important;
  }
}

.pageBreak {
  page-break-after: always;
}

table.print {

  // A4 Page Size
  //width: 100%; // Prod for printing
  width: 258mm; // Dev width on page
  margin: 0 auto;

  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-size: 13pt;

  // Remove spacing
  border-spacing: 0;
  border-collapse: collapse;

  // Required to prevent overlapping content on n > 1 headers
  > thead {
    //display: table-row-group;

    td {
      padding-top: 1mm;
      color: $print_purple;
      font-weight: 700;
      font-size: 12pt;
      width: 33%;

      &.padded { padding-top: 3mm; }
      &.xpadded { padding-top: 6mm; }

      div div:first-of-type { text-align: left; }
      div div:nth-of-type(2) { text-align: center; }
      div div:last-of-type { text-align: right; }

    }
  }
  //tbody > tr { page-break-inside: avoid; }

  /* Global Styles */

  h4 { margin: 1mm 0; padding: 0; font-size: 8pt; }

  .text-left { text-align: left; }
  .text-right { text-align: right; }

  .text-light { font-weight: 100; }

  .text-xxsmall { font-size: 7pt }
  .text-xsmall { font-size: 9pt }
  .text-small { font-size: 10pt }
  .text-medium { font-size: 11pt }
  .text-large { font-size: 13pt }
  .text-xlarge { font-size: 15pt }

  .text-black { color: black !important;}

  tr.borderRow {
    padding: 0 !important;
    margin: 0 !important;
    > td {
      padding: 0 !important;
      margin: 0 !important;
    }
  }

  div.section-break {
    height: 2mm;
  }

  /* Report Header */
  .reportHeader {

    padding-top: 3mm;

    .header {
      div:nth-child(2) {
        font-size: 18pt;
        vertical-align: bottom;
        color: $print_purple;
      }
    }

    .pogid {
      margin: 2mm 0;
      padding: 1mm;
      text-align: center;
      background-color: $print_section_bg;
      border: 1mm solid $print_grey_border;
      color: rgb(255,255,255);
      font-weight: 500;
      font-size: 16pt;
    }

    .version {
      padding-top: 3mm;
      font-size: 10pt;
      font-weight: 700;
    }

    .details {
      padding: 1mm;
      font-size: 9pt;

      table {
        th {
          text-align: right;
          font-weight: 100;
        }
        td {
          font-weight: 600;
        }
      }
    }

  }

  h1 {
    font-size: 14pt;
    font-weight: 700;
    text-transform: uppercase;
    padding: 1mm;
    color: rgb(0,0,0);
    background-color: rgb(188, 189, 220);
    margin: 1mm 0;
  }
  h2 {
    font-size: 13pt;
    font-weight: 700;
    text-transform: uppercase;
    padding: 1mm;
    color: rgb(0,0,0);
    background-color: rgb(211, 212, 244);
    margin: 1mm 0;
  }
  h3 {
    font-size: 12pt;
    font-weight: 700;
    text-transform: uppercase;
    padding: 1mm;
    color: rgb(0,0,0);
    background-color: rgb(239, 218, 244);
    margin: 1mm 0;
  }

  // Report Section
  td.report-section {

    h3 {
      font-size: 10pt;
      font-weight: 700;
      text-transform: uppercase;
      padding: 1mm;
      color: rgb(0,0,0);
      background-color: rgb(192, 192, 192);
      margin: 1mm 0;
    }

    .details {
      padding: 1mm;
      font-size: 9pt;

      table {
        th {
          text-align: right;
          font-weight: 100;
        }
        td {
          font-weight: 600;
        }
      }
    }

    .dataBox {
      margin: 0 0.5mm;

      h4 {
        font-size: 13pt;
        font-weight: 600;
        text-transform: uppercase;

        span {
          font-size: 9pt;
          margin-left: 1mm;
        }

      }

      .inner {
        border: 1px solid rgb(110,110,110);

        div {
          padding: 1mm 0;
          font-size: 9pt;
        }

        div.heading {
          background-color: rgb(180, 180, 180);
          font-size: 8pt;
          text-align: center;

          &.yellow {
            background-color: rgb(255, 234, 42);
          }
        }
        div.content {
          //background-color: rgb(220, 220, 220);
          border-bottom: 0.5mm solid rgb(220,220,220);
          text-align: center;

          &:last-of-type {
            border-bottom: none;
          }

          &.left {
            padding: 0.5mm;
            text-align: left;
          }
        }
      }
    } // end DataBox

    div.index-row {
      margin-bottom: 2mm;
    }

  } // End report-section

  table.detailedData {
    border-spacing: 0;
    border-collapse: collapse;
    width: 100%;
    table-layout: auto;
    page-break-inside: avoid;

    tr.header {
      th {
        border-bottom: 1px solid black;
        font-weight: 700;
        font-size: 9pt;
        color: rgb(0,0,0);
        padding: 0;
        text-align: left;
      }
    }
    tr td {
      font-size: 9pt;
      color: rgb(0,0,0);
      font-weight: 100;
    }
  }


  /* Special Sections */

  /* Summary */
  table.mutation {
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;

    thead {

      th:first-of-type {
        border-top: none;
        border-left: none;
      }
      th:last-of-type {
        border-right: 0.5mm solid grey;
      }

      th {
        background-color: rgb(192,232,252);
        padding: 2mm 0;
        text-align: center;
        font-size: 11pt;
        font-weight: 300;
        border-top: 0.5mm solid grey;
        border-left: 0.5mm solid grey;
      }
      th.signature {
        background-color: rgb(255,255,255);
        padding: 0;

        div {
          background-color: rgb(180, 180, 180);
          border: 0.5mm solid rgb(110,110,110);
          text-align: center;
          font-size: 10pt;
          margin: 0 1mm 1mm 0;
          padding: 1mm 0;

          > span::before {
            content: ', ';
          }
          > span:first-of-type {
            margin-left: 0;
            &::before {
              content: '';
            }
          }
        }
      }
      th.total {
        font-size: 12pt;
        padding: 1mm 0;
        text-align: center;
        color: rgb(255,255,255);
        background-color: rgb(82, 132, 177);
        width: 10%;
      }
    }
    tbody {

      tr:first-of-type {
        td {
          border-top: 0.5mm solid grey;
        }
      }

      tr:last-of-type {
        td {
          border-bottom: 0.5mm solid grey;
        }
      }

      td {
        background-color: rgb(220, 220, 220);
        font-size: 10pt;
        text-align: center;
        padding: 1mm 0;
        border-right: 0.5mm solid grey;

        &.label {
          text-align: left;
          padding: 0 0 0 2mm;
        }
        &:first-of-type {
          border-left: 0.5mm solid grey;
        }
      }
    }
    .mutationBurden {
      font-size: 10pt;

      .label {
        border: 0.5mm solid rgb(110,110,110);
        border-top: 0;
      }
      .data {
        background-color: rgb(220, 220, 220);
        border-top: 0.5mm solid rgb(110,110,110);
        border-right: 0.5mm solid rgb(110,110,110);
        border-bottom: 0.5mm solid rgb(110,110,110);
        text-align: center;
      }
    }

  }

  .keyAlterationsIdentified {

    .title {
      font-size: 10pt;

      div {
        padding: 2mm 0;
      }

      div:first-of-type { padding-left: 1mm; }

      div:nth-of-type(2) {
        font-size: 12pt;
        font-weight: 600;
        padding: 1mm 0;
        text-align: center;
      }
    }

    div.sm {
      background-color: rgb(179,187,232);

      div:nth-of-type(2) {
        color: #ffffff;
        background-color: rgb(63,81,181);
      }
    }

    div.cnv {
      background-color: rgb(178,214,171);

      div:nth-of-type(2) {
        color: #ffffff;
        background-color: rgb(19,165,44);
      }
    }

    div.sv {
      background-color: rgb(212,179,232);

      div:nth-of-type(2) {
        color: #ffffff;
        background-color: rgb(141,63,181);
      }
    }

    div.outliers {
      background-color: rgb(247,206,170);

      div:nth-of-type(2) {
        color: #ffffff;
        background-color: rgb(193,101,20);
      }
    }

    div.unknown {

      div:nth-of-type(2) {
        color: #ffffff;
        background-color: rgb(175,175,175);
      }
    }

  } // end Alterations Count

  .alterations {
    padding: 1mm;
    background-color: rgb(235,235,235);

    div {
      display: inline-block;
      width: 20%;
      font-size: 10pt;

      &.smallMutation { background-color: rgb(179,187,232); }
      &.cnv { background-color: rgb(178,214,171); }
      &.structuralVariant { background-color: rgb(212,179,232); }
      &.expressionOutlier { background-color: rgb(247,206,170); }
    }
  }

  table.therapeuticAssociationTable {

    border-spacing: 0;
    border-collapse: collapse;

    thead tr {
      border-top: 1px solid rgb(110, 110, 110);
      border-left: 1px solid rgb(110, 110, 110);
      border-right: 1px solid rgb(110, 110, 110);
      border-bottom: 1px solid rgb(212, 212, 212);
    }

    thead tr th {
      background-color: rgb(255, 234, 42);
      font-size: 10pt;
      padding: 2mm 0.5mm 2mm 0.5mm;
    }

    tbody.first tr { border-top: none; }
    tbody.last tr { border-bottom: 1px solid rgb(110, 110, 110); }

    tbody tr {
      border-left: 1px solid rgb(110, 110, 110);
      border-right: 1px solid rgb(110, 110, 110);

      border-bottom: 1px solid rgb(212, 212, 212);
      background-color: rgb(245, 245, 245);

      td {
        font-size: 10pt;
        padding: 1mm;
      }
    }
  }

  .analystComments {
    border-left: 0.5mm solid rgb(0,0,0);
    border-right: 0.5mm solid rgb(0,0,0);

    &.first { border-top: 1px solid black; }
    &.last { border-bottom: 1px solid black; }

    .signatureBox {
      width: 80%;
      border: 1px solid black;
      margin: 0 1mm 1mm 0;
      float: right;
      font-size: 11pt;
    }

    > td {

      padding: 0 3mm;

      font-size: 12pt;

      p {
        margin: 0.6em 0;
      }

      code {
        background-color: rgb(230,230,230);
        padding: 0.3mm;
        display: inline-block;
        color: rgb(30,30,30);
      }

      a:after {
        content: " (" attr(href) ") ";
        font-size: 7pt;
        font-weight: 100;
      }

      pre {
        background-color: rgb(230,230,230);
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        border-radius: 5px;
        border: 1px solid rgb(150,150,150);
        padding: 0.5mm;

        code {
          margin: 0.2mm;
        }

      }

      table {
        border: 0.5mm solid rgb(170,170,170);
        border-collapse: collapse;
        th, td {
          border: 0.5mm solid rgb(170,170,170);
          padding: 4px;
        }
        th {
          padding: 7px 5px 5px 5px;
        }
      }

      h1 {
        display: block;
        font-size: 11pt;
        margin: 0.6em 0;
        font-weight: 600;
        background: none;
      }
      h2 {
        display: block;
        font-size: 10pt;
        margin: 0.55em 0;
        font-weight: 600;
        background: none;
      }
      h3 {
        display: block;
        font-size: 9pt;
        margin: 0.5em 0;
        font-weight: 600;
        background: none;
      }
      h4 {
        display: block;
        font-size: 8pt;
        margin: 0.4em 0;
        font-weight: 600;
        background: none;
      }
      h5 {
        display: block;
        font-size: 8pt;
        margin: 0.4em 0;
        font-weight: 600;
        background: none;
      }
      h6 {
        display: block;
        font-size: 8pt;
        margin: 0.3em 0;
        font-weight: 600;
        background: none;
      }
    }

    .reviewed {
      width: 130mm;
      padding: 2mm;
      margin: 2mm;
      border: 0.5mm solid rgb(0,0,0);
    }

  }

  div.pathwayAnalysis {
    #svgImage {
      width: 248mm;
      height: 285mm;
      padding-top: 25mm;

      svg {
        transform: rotate(-90deg);
        height: 258mm !important;
        width: 258mm !important;
        margin: auto;
      }
    }

  }

  div.therapeuticOptions {
    .header {
      padding: 2mm 0 1mm 0;
      font-weight: 500;
      font-size: 11pt;
      border-bottom: 1px solid rgb(100,100,100);


      div {
        text-align: center;
      }
    }
    div.entry {
      border-bottom: 1px solid rgb(140,140,140);
      padding: 1mm 0;
      &:nth-of-type(even) { background-color: rgb(220, 230, 242); }

      > div {
        margin-right: 1.5mm;
        &:last-of-type { margin: 0;}
      }
    }
    &.chemo {
      .entry {
        &:nth-of-type(even) { background-color: rgb(234, 218, 251); }
      }
    }
  }

  div.sectionHeader {
    h1 {
      font-size: 22pt;
      background: none;
      text-transform: none;

      &.blue { color: rgb(51, 0, 153); }

    }
    p {
      margin-left: 2mm;
      font-weight: 400;
      font-size: 11pt;
    }
  }

  .dga {
    .variant {
      .block {
        margin-top: 2mm;
        background-color: rgb(239, 237, 245);
        border: 0.5mm solid rgb(196, 197, 224);
        padding: 2mm;
        font-size: 11pt;

        > div { // Row
          &:first-of-type { margin-bottom: 2mm; }
          > div { // Entry
            span:first-of-type {
              margin-right: 2mm;
            }
            span:last-of-type {
              font-weight: 700;
            }
          }
        }
      }
      table {
        width: 100%;
        margin: 2mm auto 0 auto;
        font-size: 10pt;
        border-spacing: 0;
        border-collapse: collapse;
        tr.header {
          background-color: rgb(239, 237, 245);
        }
        th {
          font-weight: 700;
          text-align: left;
        }
      }
    }
  }

  .somaticMutations {
    img.bar {
      width: 80mm;
      margin: 0 auto;
    }

    .mutationSignature {
      font-size: 10pt;
    }
  }

  .copyNumberAnalysis {
    .circos {
      width: 160mm;
    }
    .legend {
      div {
        span:first-of-type {
          width: 5mm;
          height: 5mm;
          margin-right: 2mm;
          display: inline-block;
        }
        span:last-of-type {
          font-weight: 700;
        }
      }
      .gain span:first-of-type { background-color: rgb(243, 110, 76); }
      .loss span:first-of-type { background-color: rgb(113, 198, 117); }
      .loh span:first-of-type { background-color: rgb(66, 145, 194); }
    }

    h1 {
      background-color: rgb(153, 204, 0);
      color: rgb(255,255,255);
    }
    h2 {
      background-color: rgb(192, 192, 192);
    }

  }

  .structuralVariants {
    img.circos {
      width: 120mm;
    }
    img.bar {
      width: 80mm;
      margin: 0 auto;
    }

    .fusionDiagram {
      svg {
        width: 250mm;
      }
    }
  }

  .expressionAnalysis {

    .sectionHeader h1 { color: rgb(204, 102, 0); }

    h1 {
      background-color: rgb(204, 102, 0);
      color: rgb(255,255,255);
    }

    h2 { background-color: rgb(192, 192, 192); }
  }

  .appendices {
    .config {

      font-family: monospace;
      font-size: 8pt;

      /* These are technically the same, but use both */
      overflow-wrap: break-word;
      word-wrap: break-word;

      -ms-word-break: break-all;
      /* This is the dangerous one in WebKit, as it breaks things wherever */
      word-break: break-all;
      /* Instead use this non-standard one: */
      word-break: break-word;

      /* Adds a hyphen where the word breaks, if supported (No Blink) */
      -ms-hyphens: auto;
      -moz-hyphens: auto;
      -webkit-hyphens: auto;
      hyphens: auto;
    }
  }

}