@media print {

  body {
    margin: 7mm 14mm;
  }

}

$print_purple: rgb(51, 0, 153);
$print_section_bg: rgb(117,107,177);
$print_grey_border: rgb(192,192,192);

div.print {

  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;

  .page {

    display: block;
    margin: 8mm 15mm;
    padding: 2mm 0;

    .text-left { text-align: left; }
    .text-right { text-align: right; }

    .text-light { font-weight: 100; }

    .text-xxsmall { font-size: 5pt }
    .text-xsmall { font-size: 7pt }
    .text-small { font-size: 8pt }
    .text-medium { font-size: 9pt }
    .text-large { font-size: 11pt }
    .text-xlarge { font-size: 13pt }

    .text-black { color: black !important;}

    .pageBreak {
      page-break-after: always;
    }
    .pageHeaderSpace {
      height: 20mm;
    }

    .pageHeader {
      position: fixed;
      top: 10mm;
      color: $print_purple;
      font-weight: 700;
      font-size: 10pt;
      width: 87%;

      div {
        display: inline-block;
        width: 33%;

        &:nth-of-type(2) { text-align: center; }
        &:last-of-type { text-align: right; }

      }

    }

    .pageFooter {
      position: fixed;
      bottom: 8mm;
      color: $print_purple;
      font-weight: 700;
      font-size: 9pt;
      width: 87%;

      div {
        display: inline-block;
        width: 20%;

        &:nth-of-type(2) {
          text-align: center;
          width: 60%
        }
        &:last-of-type {
          text-align: right;
          counter-increment: page;
          content: counter(page);
        }

      }
    }

    .index-row {
      margin-bottom: 2mm;
    }
    /*
      Pan-Report styles
     */
    .report-section {

      h1 {
        font-size: 10pt;
        font-weight: 700;
        text-transform: uppercase;
        padding: 1mm;
        color: rgb(0,0,0);
        background-color: rgb(80, 255, 0);
        margin: 1mm 0;
      }
      h2 {
        font-size: 9pt;
        font-weight: 700;
        text-transform: uppercase;
        padding: 1mm;
        color: rgb(0,0,0);
        background-color: rgb(255, 0, 225);
        margin: 1mm 0;
      }
      h3 {
        font-size: 8pt;
        font-weight: 700;
        text-transform: uppercase;
        padding: 1mm;
        color: rgb(0,0,0);
        background-color: rgb(192, 192, 192);
        margin: 1mm 0;
      }

    }
    /*
      Summary Section of Report
     */
    .summary {

      h1 { background-color: rgb(188,189,220); }
      h2 { background-color: rgb(211, 212, 244); }
      h4 { margin: 1mm 0; padding: 0; font-size: 8pt; }

      .header {
        margin-top: 10mm;
        div:nth-child(2) {
          font-size: 16pt;
          vertical-align: bottom;
          color: $print_purple;
        }
      }

      .pogid {
        margin: 2mm 0;
        padding: 1mm;
        text-align: center;
        background-color: $print_section_bg;
        border: 1mm solid $print_grey_border;
        color: rgb(255,255,255);
      }

      .version {
        font-size: 8pt;
        font-weight: 700;
      }

      .details {
        padding: 1mm;
        font-size: 7pt;

        table {
          th {
            text-align: right;
            font-weight: 100;
          }
          td {
            font-weight: 600;
          }
        }
      }

      .dataBox {
        margin: 0 0.5mm;

        h4 {
          font-size: 9pt;
          font-weight: 600;
          text-transform: uppercase;

          span {
            font-size: 7pt;
            margin-left: 1mm;
          }

        }

        .inner {
          border: 1px solid rgb(110,110,110);

          div {
            padding: 1mm 0;
            font-size: 7pt;
          }

          div.heading {
            background-color: rgb(180, 180, 180);
            font-size: 6pt;
            text-align: center;

            &.yellow {
              background-color: rgb(255, 234, 42);
            }
          }
          div.content {
            //background-color: rgb(220, 220, 220);
            border-bottom: 0.5mm solid rgb(220,220,220);
            text-align: center;

            &:last-of-type {
              border-bottom: none;
            }

            &.left {
              padding: 0.5mm;
              text-align: left;
            }
          }
        }
      } // end DataBox

      table.mutation {
        width: 100%;
        border-spacing: 0;
        border-collapse: collapse;

        thead {

          th:first-of-type {
            border-top: none;
            border-left: none;
          }
          th:last-of-type {
            border-right: 0.5mm solid grey;
          }

          th {
            background-color: rgb(192,232,252);
            padding: 1mm 0;
            text-align: center;
            font-size: 9pt;
            font-weight: 300;
            border-top: 0.5mm solid grey;
            border-left: 0.5mm solid grey;
          }
          th.signature {
            background-color: rgb(255,255,255);
            padding: 0;

            div {
              background-color: rgb(180, 180, 180);
              border: 0.5mm solid rgb(110,110,110);
              text-align: center;
              font-size: 8pt;
              margin: 0 1mm 1mm 0;
              padding: 0.5mm 0;

              span::before {
                content: ', ';
              }
              span:first-of-type {
                margin-left: 0;
                &::before {
                  content: '';
                }
              }
            }
          }
          th.total {
            font-size: 10pt;
            padding: 1mm 0;
            text-align: center;
            color: rgb(255,255,255);
            background-color: rgb(82, 132, 177);
            width: 10%;
          }
        }
        tbody {

          tr:first-of-type {
            td {
              border-top: 0.5mm solid grey;
            }
          }

          tr:last-of-type {
            td {
              border-bottom: 0.5mm solid grey;
            }
          }

          td {
            background-color: rgb(220, 220, 220);
            font-size: 8pt;
            text-align: center;
            padding: 1mm 0;
            border-right: 0.5mm solid grey;

            &.label {
              text-align: left;
              padding: 0 0 0 2mm;
            }
            &:first-of-type {
              border-left: 0.5mm solid grey;
            }
          }
        }
        .mutationBurden {
          font-size: 8pt;

          .label {
            border: 0.5mm solid rgb(110,110,110);
            border-top: 0;
          }
          .data {
            background-color: rgb(220, 220, 220);
            border-top: 0.5mm solid rgb(110,110,110);
            border-right: 0.5mm solid rgb(110,110,110);
            border-bottom: 0.5mm solid rgb(110,110,110);
            text-align: center;
          }
        }

      }

      .keyAlterationsIdentified {

        .title {
          font-size: 8pt;

          div {
            padding: 1mm 0;
          }

          div:first-of-type { padding-left: 1mm; }

          div:nth-of-type(2) {
            font-size: 10pt;
            font-weight: 600;
            padding: 1mm 0;
            text-align: center;
          }
        }

        div.sm {
          background-color: rgb(179,187,232);

          div:nth-of-type(2) {
            color: #ffffff;
            background-color: rgb(63,81,181);
          }
        }

        div.cnv {
          background-color: rgb(178,214,171);

          div:nth-of-type(2) {
            color: #ffffff;
            background-color: rgb(19,165,44);
          }
        }

        div.sv {
          background-color: rgb(212,179,232);

          div:nth-of-type(2) {
            color: #ffffff;
            background-color: rgb(141,63,181);
          }
        }

        div.outliers {
          background-color: rgb(247,206,170);

          div:nth-of-type(2) {
            color: #ffffff;
            background-color: rgb(193,101,20);
          }
        }

        div.unknown {

          div:nth-of-type(2) {
            color: #ffffff;
            background-color: rgb(175,175,175);
          }
        }

      } // end Alterations Count



      .alterations {
        padding: 1mm;
        background-color: rgb(235,235,235);

        div {
          display: inline-block;
          width: 20%;
          font-size: 8pt;

          &.smallMutation { background-color: rgb(179,187,232); }
          &.cnv { background-color: rgb(178,214,171); }
          &.structuralVariant { background-color: rgb(212,179,232); }
          &.expressionOutlier { background-color: rgb(247,206,170); }
        }

      }

      .analystComments {
        border: 0.5mm solid rgb(0,0,0);
        height: 230mm;

        .body {

          padding: 0 3mm;

          font-size: 9pt;

          code {
            background-color: rgb(230,230,230);
            padding: 0.3mm;
            display: inline-block;
            color: rgb(30,30,30);
          }

          a:after {
            content: " (" attr(href) ") ";
            font-size: 7pt;
            font-weight: 100;
          }

          pre {
            background-color: rgb(230,230,230);
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px;
            border: 1px solid rgb(150,150,150);
            padding: 0.5mm;

            code {
              margin: 0.2mm;
            }

          }

          table {
            border: 0.5mm solid rgb(170,170,170);
            border-collapse: collapse;
            th, td {
              border: 0.5mm solid rgb(170,170,170);
              padding: 4px;
            }
            th {
              padding: 7px 5px 5px 5px;
            }
          }

          h1 {
            display: block;
            font-size: 12pt;
            margin-top: 0.67em;
            margin-bottom: 0.67em;
            margin-left: 0;
            margin-right: 0;
            font-weight: 600;
            background: none;
          }
          h2 {
            display: block;
            font-size: 11pt;
            margin-top: 0.83em;
            margin-bottom: 0.83em;
            margin-left: 0;
            margin-right: 0;
            font-weight: 600;
            background: none;
          }
          h3 {
            display: block;
            font-size: 10pt;
            margin-top: 1em;
            margin-bottom: 1em;
            margin-left: 0;
            margin-right: 0;
            font-weight: 600;
            background: none;
          }
          h4 {
            display: block;
            font-size: 9pt;
            margin-top: 1.33em;
            margin-bottom: 1.33em;
            margin-left: 0;
            margin-right: 0;
            font-weight: 600;
            background: none;
          }
          h5 {
            display: block;
            font-size: 0.83em;
            margin-top: 1.67em;
            margin-bottom: 1.67em;
            margin-left: 0;
            margin-right: 0;
            font-weight: 600;
            background: none;
          }
          h6 {
            display: block;
            font-size: 0.67em;
            margin-top: 2.33em;
            margin-bottom: 2.33em;
            margin-left: 0;
            margin-right: 0;
            font-weight: 600;
            background: none;
          }
        }

        .reviewed {
          width: 130mm;
          padding: 2mm;
          margin: 2mm;
          border: 0.5mm solid rgb(0,0,0);
        }

      }

      table.therapeuticTargets {

        width: 100%;
        font-size: 12px;
        border-spacing: 0;

        th, td {
          text-align: center;
          border: 0.5mm solid rgb(82, 132, 177);
          border-left: 0;
          border-top: 0;

          &:last-of-type {
            border-right: none;
          }
        }

        th {
          border-top: 1px solid rgb(82, 132, 177);
        }

        thead tr:nth-of-type(odd) {
          background-color: white;
        }

        tr:nth-of-type(odd) {
          background-color: rgb(192,232,252);
        }

        &.chemoresistance {
          th, td {
            border: 0.5mm solid rgb(125, 103, 177);
            border-left: 0;
            border-top: 0;

            &:last-of-type {
              border-right: none;
            }
          }

          th {
            border-top: 1px solid rgb(125, 103, 177);
          }

          tr:nth-of-type(odd) {
            background-color: rgb(232, 225, 252);
          }
          thead tr:nth-of-type(odd) {
            background-color: white;
          }
        }

      }


    } // End Summary

  }


}