.search {
  margin:auto;
  // border: 1px solid lightgray;
  // border-radius: 4px;
  left: 16px;
  max-width: 800px;
  min-width: 800px;
  padding-bottom: 32px;
  position: relative;
  right: 16px;
  top: 35vh;

  &__bar {
    box-sizing: border-box;
    display: flex;
    padding: 32px;
    width: 100%;
  }

  &__main {
    -webkit-tap-highlight-color: transparent;
    width: 100%;
    padding-top: 8.5px;
  }

  &__threshold-input {
    margin: auto;
    padding-left: 16px;
    width: 15%;

    &__label {
      display: flex;
      height: 24px;
    }
  }

  &__button-container {
    justify-content: space-between;
    flex-direction: column;
    height: 100vh;
    display: flex;
  }

  .button-holder {
    justify-content: center;
    display: flex;
    margin-right: 32px;
  }
}

.help-dialog {
  min-width: 500px;
  height: auto;
  padding: 48px;
}

.help-button {
  max-width: 24px;
  max-height: 24px;
  min-width: 24px;
  min-height: 24px;
  margin-left: 10px;
  flex: 1;
}
