.search {
  margin:auto;
  border: 1px solid grey;
  border-radius: 4px;
  left: 16px;
  max-width: 800px;
  min-width: 800px;
  padding-bottom: 16px;
  position: relative;
  right: 16px;
  top: 35vh;

  &__bar {
    box-sizing: border-box;
    display: flex;
    padding: 16px;
    width: 100%;
    border-bottom: 1px;
  }

  &__main {
    -webkit-tap-highlight-color: transparent;
    border: none;
    flex-grow: 1;
    outline: none;
    width: 100%;
  }
}
