md-content.reportSection {
  font-size: 12px;

  h2 {
    font-weight: 700;
    margin: 0px 0px 5px 0px;
    padding: 4px 2px 3px 5px;
    background-color: #bcbddc;
  }

  h3 {
    margin: 0px 0px 5px 0px;
    padding: 4px 2px 3px 5px;
    background-color: #efdaf4;
  }

  div.container {
    margin-bottom: 10px;

    div.header {
      padding: 2px;
      background-color: #efedf5;
      border: 1px solid #bcbddc;

      span {
        font-weight: 700;
      }

      div {
        padding: 5px 4px;
      }
    }

    table {
      width: 100%;

      thead {
        tr {
          th {
            text-align: left;
            padding: 2px 0;
          }
        }
      }

      tbody {
        tr:nth-child(even) {
          td {
            background-color: #d9d9ea;
          }
        }
        tr {
          td {
            padding: 2px 2px;
          }
        }
      }
    }
  }
}

md-dialog-content.alterationsForm {
  
  md-autocomplete {
    box-shadow: none;
    
    md-autocomplete-wrap {
      box-shadow: none;
    }
    
  }

  md-input-container {
    margin: 14px 0;
  }

  .hint {
    font-size: 0.75em;
    color: rgb(130,130,130);
    padding: 4px;
    //margin-top: 4px;
    display: inline-block;
  }

  .kbEntryStatus {
    margin: 25px 6px 0 0;

    .valid { color: rgb(43, 167, 20); }
    .invalid { color: rgb(213, 44, 47); }
  }
}

md-dialog.alterations {
  md-dialog-actions button.md-button {
    line-height: 18px;
    text-transform: none;
  }
}