md-toolbar(ui-view="toolbar", layout='row').headerToolbar
  .md-toolbar-tools
    h2 BCGSC Interactive POG Reports
    span(flex)


div.public(layout="row", flex)
  div(flex=30)
  div.content(layout="row", flex, ui-view="")
  div(flex=30)
