md-content(layout="column", flex)
  form(ng-submit="reset(form)", novalidate, name="form")
    div(layout="column")
      h3 Reset Password
      div(layout, ng-hide="resetSent")
        md-input-container.md-icon-float(flex)
          label Email
          input(ng-model="email", name="email", type="email", placeholder="Email", autofocus, required)
          div(ng-messages="form.email.$error")
            div(ng-message="required") Please enter your email
            div(ng-message="email") Please enter a valid email
      
      div(layout, ng-hide="resetSent")
        button.md-button.md-primary.md-raised(flex, type="submit") Reset Password
        
      div(layout="row", ng-show="resetSent")
        p A link to reset your password has been sent to {{email}}. Please check your email for further instructions.

      div(layout="row")
        md-button(ng-click='returnToLogin()').md-button.small.link < Return to Login