md-content(flex).adminSection
  md-toolbar
    div(layout="row").md-toolbar-tools
      span(flex)
      span(flex)
        h2 System Projects
      span(flex)
      span(flex=5)
  div.content

    p Projects that users can be assigned to.

    div(flex, layout="column").table
      div(flex, layout="row").header
        div(flex) Project
        div(flex=15) Members
        div(flex) Samples
        div(flex) Created
      div(flex, layout="row", ng-repeat="p in $ctrl.projects track by $index", ng-click="$ctrl.projectDiag($event, p)", ng-if="$ctrl.projects.length > 0").row.clickable
        div(flex).text-capitalize {{p.name}}
        div(flex=15) {{p.users.length}}
        div(flex) {{p.reports.length}}
        div(flex) {{p.createdAt | date:'dd/MM/yy'}}
          md-tooltip(md-direction="left") {{p.createdAt | date:'dddd, MMMM Do YYYY, h:mm:ss a' }}
      div(flex, layout="row", ng-if="$ctrl.projects.length < 1").row
        div(flex) There are no projects currently in IPR