tr
    td.report-section
        h1 Patient Information
        div(layout="column", flex).details
            table(width="100%")
                tr
                    th(width="12%") Patient ID:
                    td(width="15%") {{data.pi.POGID}}
                    th(width="14%") Sex:
                    td(width="14%") {{data.pi.gender}}
                    th(width="15%") Tumour Sample:
                    td(width="30%") {{data.pi.tumourSample}}
                tr
                    th Tumour Type:
                    td {{data.pi.tumourType}}
                    th Case Type:
                    td {{data.pi.caseType}}
                    th Constitutional Sample
                    td {{data.pi.constitutionalSample}}
                tr
                    th Report Date:
                    td {{report.createdAt | amDateFormat: 'YYYY/MM/DD'}}
                    th Age at Diagnosis:
                    td {{data.pi.age}}
                    th Biopsy Details:
                    td {{data.pi.biopsySite}}
                tr
                    th Physician:
                    td {{data.pi.physician}}
                    th
                    td
                    th Protocol:
                    td {{data.pi.tumourProtocol}}
tr
    td.report-section
        h1 Patient Tumour Analysis Summary

        div(layout="column", flex)

            div(layout="row")
                div(layout="column", flex).dataBox
                    h4 Genome Status
                    div.inner
                        div(layout="row", flex).heading
                            div(flex) Tumour Content
                            div(flex) Ploidy Model
                        div(layout="row", flex).content
                            div(flex, ng-class="{'text-red': (data.ta.tumourContent < 40)}", ng-if="data.ta.tumourContent !== -1") {{data.ta.tumourContent}}%
                            div(flex, ng-if="data.ta.tumourContent === -1") N/A
                            div(flex) {{data.ta.ploidy}}

                div(layout="column", flex).dataBox
                    h4 Tissue Comparators

                    div.inner
                        div(layout="row", flex).heading
                            div(flex) Normal Expression
                            div(flex) Disease Expression
                        div(layout="row", flex).content
                            div(flex) {{data.ta.normalExpressionComparator}}
                            div(flex) {{data.ta.diseaseExpressionComparator}}

                div(layout="column", flex=25).dataBox
                    h4 Subtyping

                    div.inner
                        div(layout="row", flex).heading
                            div(flex) Subtype
                        div(layout="row", flex).content
                            div(flex)
                                span
                                    | {{(data.ta.subtyping || "Not Specified")}}

                div(layout="column", flex=20).dataBox
                    h4 Microbial Content

                    div.inner
                        div(layout="row", flex).heading
                            div(flex) Species
                            div(flex) Integration
                        div(layout="row", flex).content
                            div(flex) None
                            div(flex) None

            div(layout="row").index-row
                div(flex, style="padding-left: 2mm;").text-xxsmall For description of method see APPENDIX
                div(flex).text-xxsmall Details in EXPRESSION ANALYSIS section
                div(flex=25).text-xxsmall Details in EXPRESSION ANALYSIS section
                div(flex=20).text-xxsmall Details in MICROBIAL CONTENT section

            div.section-break
            div(layout="row")
                div(layout="column", flex="25").dataBox
                    h4 Mutation Signature
                div(layout="column", flex="75").dataBox
                    h4 Mutation Burden
                        span (in protein coding genes)


            table.mutation
                thead
                    tr
                        th.signature
                            div(ng-if="data.ta.mutationSignature.length == 0") Nothing striking
                            div(ng-if="data.ta.mutationSignature.length > 0")
                                span(ng-repeat="sig in data.ta.mutationSignature").listitem
                                    span(ng-if="sig.modifier !== null") {{sig.modifier}}&nbsp;
                                    span {{(sig.associations == '-') ? 'Signature '+sig.signature : sig.associations}}
                        th SNVs
                        th.total {{data.ms[0].snv}}
                        th Indels
                        th.total {{data.ms[0].indels}}
                        th SVs
                        th.total {{data.ms[0].sv}}
                tbody

                    tr(ng-repeat="comparator in data.ms", ng-hide="(comparator.comparator === 'average' && (!comparator.snv_percentile && !comparator.indel_percentile))")
                        td(width="25%") Percentile among {{comparator.comparator || data.ta.diseaseExpressionComparator }}
                        td(width="25%", colspan=2) {{comparator.snv_percentile || 'na'}}
                        td(width="25%", colspan=2) {{comparator.indel_percentile || 'na'}}
                        td(width="25%", colspan=2)
                            span(ng-if="comparator.sv_percentile === null") -
                            span(ng-if="comparator.sv_percentile !== null && comparator.comparator === 'average'").clickable {{ comparator.sv_percentile }} (POG)

        div(layout="row").index-row
            div(flex, style="padding-left: 2mm;").text-xxsmall
            div(flex).text-xxsmall Details in SOMATIC MUTATIONS section
            div(flex).text-xxsmall
            div(flex).text-xxsmall Details in STRUCTURAL VARIATION section
        div.section-break
tr
    td.report-section
        div(layout="column", flex)

            div(layout="row")
                div(layout="column", flex).dataBox
                    h4 Key Genomic and Transcriptomic Alterations Identified

            div(layout="row", style="margin-bottom: 2mm; border: 0.5mm solid rgb(110,110,110);").keyAlterationsIdentified
                div(layout="row", flex).title.sm
                    div(flex) Small Mutations
                    div(flex="30") {{variantCounts.smallMutation}}
                div(layout="row", flex).title.cnv
                    div(flex) Copy Number Variants
                    div(flex="30") {{variantCounts.cnv}}
                div(layout="row", flex).title.sv
                    div(flex) Structural Variants
                    div(flex="30") {{variantCounts.structuralVariant}}
                div(layout="row", flex).title.outliers
                    div(flex) Expression Outliers
                    div(flex="30") {{variantCounts.expressionOutlier}}
            div(flex, layout-align="start start", style="border: 0.5mm solid rgb(110,110,110);").alterations
                div(ng-repeat="variant in data.gai" ) {{variant.geneVariant}}

            div(layout="row").keyAlterationsIdentified
                div(layout="row", flex).title.unknown
                    div(flex, style="padding:0; padding-right: 1mm; ").text-right Additional variants of uncertain significance (VUS) detected in cancer-related genes:
                    div(flex=10, style="padding:0; border: 0.5mm solid rgb(110,110,110); border-top: 0;").text-black {{data.vc.variantsUnknown}}

        div(layout="row").index-row
            div(flex, style="padding-left: 2mm;").text-xxsmall
            div(flex).text-xxsmall
            div(flex).text-xxsmall
            div(flex).text-xxsmall Details in DETAILED GENOMIC ANALYSIS section
        div.section-break
tr.borderRow
    td.report-section
        h1 Genomic Events with Potential Therapeutic Association

        table(width="100%").therapeuticAssociationTable
            thead
                tr
                    th.text-left Genomic Events
                    th.text-left Approved in this cancer type
                    th.text-left Approved in other cancer type
                    th.text-left Emerging Evidence
tr(ng-repeat="(i, gene) in data.get track by $index").borderRow
    td
        table(width="100%").therapeuticAssociationTable
            tbody(ng-class="{first: (i === 0), last: (i === (data.get.length-1))}")
                tr
                    td(width="25%") {{gene.genomicEvent}}
                    td(width="25%") {{gene.approvedThisCancerType}}
                    td(width="25%") {{gene.approvedOtherCancerType}}
                    td(width="25%") {{gene.emergingPreclinicalEvidence}}