md-dialog(layout="column", aria-label="Input Editor", flex=55).editor
  form(flex='auto', name='form', ng-submit="submit(form)")
    md-toolbar
      .md-toolbar-tools
        h2 {{input.placeholder}}
        span(flex)
        md-button.md-icon-button(ng-click='cancel()')
          md-icon cancel
    md-dialog-content(layout-padding)

      div(layout="column")

        div(layout="row")
          md-input-container(flex)
            input(name="Input", placeholder="{{input.placeholder}}", ng-model="input.value")


    md-dialog-actions(layout="row", layout-align="end center", layout-padding)
      md-button(type="submit").md-accent Submit
