@import '../../../../styles/theme';
@import '../../../../styles/variables';

.germline-report {
  height: calc(100% - 56px);
  padding: 16px;

  &__titles {
    margin: 8px 0;

    &--flex {
      align-items: center;
      display: flex;
      justify-content: space-between;
    }
  }
}

.strikethrough {
  & > * {
    text-decoration: line-through;
  }
};

.low-score {
  background-color: #E57373 !important;
}

.center-text {
  & > * {
    display: flex !important;
    align-items: center;
  }
}
