@import '../../../../styles/theme';
@import '../../../../styles/variables';

.germline_report {
  height: 100%;

  h2 {
    font-size: 1.1em;
    font-weight: 200;
    margin: 15px 0 5px 0;
  }

  md-dialog{
    min-width: 300px;
  }

  tr.lowScore {
    td {
      background-color: $palette__error--light;
    }
  }

  tr.strike {
    td {
      text-decoration: line-through;
    }
  }
}

.table--scrollx {
  overflow-x: scroll;
}

.header--center {
  text-align: center;
}

.content__container {
  margin: 10% 0;
}

.germline {
  height: calc(100vh - #{$navbar-size});
  overflow-y: auto;
}

table.material-table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;

  .border-left { border-left: 1px solid $palette__divider }

  .background-light { background-color: $palette__background--default }

  thead {

    tr > th {
      font-weight: 400;
      border-bottom: 1px solid $palette__divider;

      vertical-align: bottom;
      color: $palette__text--secondary;
      font-size: 0.75em;
      padding: 10px 7px;
      text-align: left;

      &:first-of-type { padding-left: 12px; }

      &.button {
        padding: 0;

        button {
          height: 30px;
          min-height: 30px;
          line-height: 30px;
          min-width: 55px;
        }
      }

    }

    tr th.libraries_head {
      text-align: center;
      border-bottom: none;
    }
    tr th.no-border {
      border: none;
    }

  }
  tbody {
    tr {

      border-bottom: 1px solid $palette__divider;

      &:last-of-type { border-bottom: none; }

      td {
        padding: 10px 5px;
        font-size: 0.85em;

        &:first-of-type {
          padding-left: 12px;
        }

        &.options {
          text-align: center;

          md-icon {
            font-size: 18px;
            max-height: 20px;
            height: 20px;
            max-width: 20px;
            width: 20px;
          }
        }

      }

      &:hover {
        background-color: darken($palette__background--default, 5);

        &.no-hover {
          background-color: transparent;
        }

        > .background-light {
          background-color: darken($palette__background--default, 5);
        }
      }
    }
  }
  tr.loading {

    &:hover { background: none; }

    span { padding: 10px; }

    md-progress-circular {
      margin: 0 auto;
    }
  }
}

.germline-report {
  height: calc(100% - 56px);
  padding: 16px;

  &__table {
    height: 100%;
  }

  &__titles {
    margin: 8px 0;
  }
}
