.custom-filter {
  padding: 10px;
  padding-top: 0;
  width: auto;
  max-height: 400px;
  max-width: 400px;
  overflow-y: auto;
  font-family: Arial, sans-serif;
}

.custom-filter div {
  margin: 5px 0;
}

.custom-filter label {
  margin-left: 5px;
}

#selectAllLabel {
  margin-left: 1px;
}

#checkboxContainer {
  width: 100%;
}

.text-filter-input {
  margin: 12px;
  margin-bottom: 8px;
  padding-left: 8px;
  height: 32px;
  width: calc(100% - 24px);
  font-family: Arial, sans-serif;
  border: solid;
  border-radius: 5px;
  border-width: 1px;
  border-color: darkblue;
}

.text-filter-input:focus {
  border: solid;
  border-color: darkblue;
  outline: none;
}