md-content(flex, layout="column").md-padding.biopsyBoard.germline_report

    h1.md-title(layout="row")
        span(flex) Germline Reports
    h2 {{report.analysis.pog.POGID}} {{ '- ' + report.analysis.libraries.normal || ''}}

    p Variants with a strikethrough will not be included in report exports.

    div

        div(layout="row", layout-align="end start")
            md-checkbox(ng-model="show_extended") Show all columns
        md-content
            table.material-table
                thead
                    tr
                        th
                            span(style="min-width: 40px;")
                        th(ng-repeat="(key, val) in columns", ng-hide="!val.show_always && !show_extended")
                            span(ng-class="{'text-underline': (val.tooltip), 'clickable': (val.tooltip)}", style="display: block; min-width: {{val.width}}px") {{val.name}}
                                md-tooltip(ng-if="val.tooltip") {{val.tooltip}}

                tbody
                    tr(ng-show="report.variants.length === 0")
                        td(colspan="10").text-left
                            span No variants detected in this germline report
                    tr(ng-repeat="variant in report.variants", ng-if="report.variants.length > 0", ng-class="{lowScore: (variant['score'] < 100), strike: variant['hidden']}")
                        td.options
                            md-icon(ng-click="toggleVariantHidden(variant)").clickable strikethrough_s
                                md-tooltip Striking out a row will exclude it from being exported by Projects.

                        td(ng-repeat="(key, col) in columns", ng-hide="!col.show_always && !show_extended")

                            span(ng-if="key == 'patient_history'", ng-click="getHistory($event, 'patient', variant['patient_history'])").clickable.blue.text-underline {{variant['patient_history']}}
                            span(ng-if="key == 'family_history'", ng-click="getHistory($event, 'family', variant['family_history'])").clickable.blue.text-underline {{variant['family_history']}}

                            span(ng-if="col.split && (key !== 'patient_history' && key !== 'family_history')", ng-init="split_val = variant[key].split(col.split)")
                                span(ng-repeat="v in split_val").pill {{v}}
                            span(ng-if="!col.split && (key !== 'patient_history' && key !== 'family_history')")
                                span(style="display: block;", ng-if="!col.truncate") {{variant[key] || 'N/A'}}
                                span(style="display: block;", ng-if="col.truncate")
                                    md-trunctate {{variant[key] || 'N/A'}}
        div.reviews
            h2 Reviews

            table.material-table
                thead
                    tr
                        th(width="25%") Reviewer
                        th(width="30%") Comments
                        th(width="15%") Type
                        th(width="20%") Reviewed
                        th(width="10%")
                tbody
                    tr(ng-repeat="review in report.reviews")
                        td {{review.reviewedBy.firstName}} {{review.reviewedBy.lastName}}
                        td {{review.comment || 'None'}}
                        td {{review.type}}
                        td {{review.createdAt | amDateFormat: 'YYYY-MM-DD HH:mm'}}
                        td.options
                            md-icon(ng-click="removeReview(review)").clickable delete

                    tr(ng-show="addReview")
                        td {{user.firstName}} {{user.lastName}}
                        td
                            md-input-container(style="width: 90%")
                                input(name="Comments", ng-model="new.comment", placeholder="Comment")
                        td
                            md-select(name="Type", ng-model="new.type", placeholder="Review Type", required)
                                md-option(value="biofx") biofx
                                md-option(value="projects") projects
                        td.text-right
                            md-button(ng-click="review()").md-raised.md-primary Add Review
                        td
                    tr
                        td(colspan="5").text-center
                            span(ng-click="addReview = true").clickable Add Review