div(layout="row").admin
  ui-view(flex)

  md-content(flex-gt-sm=20, flex=25).adminSection
    md-toolbar
      div(layout="row").md-toolbar-tools
        span(flex)
        span(flex)
          h2 Tools
        span(flex)
    div.content.side
      ul
        li(ui-sref="root.admin.users") Users
        li(ng-click="$ctrl.userDiag($event, {}, true)") Add User
        li(ui-sref="root.admin.groups") Groups
        li(ng-click="$ctrl.groupDiag($event, {}, true)") Add Group
        li(ui-sref="root.admin.projects") Projects
        li(ng-click="$ctrl.projectDiag($event, {}, true)") Add Project