div(ng-if="$ctrl.report.patientInformation.caseType.toLowerCase() === 'pediatric'").pediatric_flag
  span Pediatric
div.header
  h1(layout="row")
    span(flex, ng-if="$ctrl.report.type === 'genomic'", ui-sref="root.reportlisting.genomic.summary({analysis_report: $ctrl.report.ident})").clickable {{$ctrl.report.patientId}}
    span(flex, ng-if="$ctrl.report.type === 'probe'", ui-sref="root.reportlisting.probe.summary({analysis_report: $ctrl.report.ident})").clickable {{$ctrl.report.patientId}}
    span(layout="row").text-small
      report-state(state="$ctrl.report.state")

  div(layout="row").subheader
    span(flex) {{$ctrl.report.patientInformation.tumourType}}
    span
      span Report:
      span {{$ctrl.report.ident}}

div(layout="row").details
  div(flex)
    span Biopsy
    span {{$ctrl.report.biopsyName || 'N/A'}}
  div.clickable {{$ctrl.report.createdAt | date: 'yyyy-MM-dd'}}
    md-tooltip {{ $ctrl.report.createdAt | date: 'yyyy-MM-dd hh:mm:ss' }}

div(layout="row", layout-align="space around center").details
  div(flex)
    span Version
    span {{$ctrl.report.reportVersion}}
  div(ng-if="$ctrl.report.type === 'genomic'")
    span Ploidy
    span {{$ctrl.getPloidy()}}


div(layout="row", ng-if="$ctrl.report.type === 'genomic'").details
  div(flex)
    span TC
    span(ng-if="$ctrl.getTumourContent() !== -1", ng-class="{low: $ctrl.getTumourContent() < 40, clickable: $ctrl.getTumourContent() < 40}") {{$ctrl.getTumourContent()}}%
      md-tooltip(ng-if="$ctrl.getTumourContent() < 40") Low tumour content
    span(ng-if="$ctrl.getTumourContent() === -1") N/A

hr(ng-if="$ctrl.report.type === 'genomic'")

div(layout="column", ng-if="$ctrl.report.type === 'genomic'").details
  div(flex)
    span Bioinformatics
    span {{$ctrl.getRoleUser('bioinformatician', 'name') || 'N/A'}}
  div(flex)
    span Analyst
    span {{$ctrl.getRoleUser('analyst', 'name') || 'N/A'}}
