md-content(flex).md-padding
    md-toolbar
        div.md-toolbar-tools
            span(flex).text-left {{report.patientInformation.tumourType}}
            h2(flex).text-center.md-hue-3 {{pog.POGID}} Genomic Report
            span(flex, ipr-report-state, state="report.state").text-right
    div(layout="row", flex).pog-report
        div(flex, ui-view="")


        div(flex=20)
            div.reportMenu
                h1 Report Sections
                ul
                    li
                        span(ng-click="goToReportSection('summary')", ng-class="activeSection('summary') ? 'active' : ''").clickable Summary
                            md-icon(ng-click="openPrint()", aria-label="Print Summary Section").md-secondary print

                    li(ng-repeat="section in sections", ng-init='section.showChildren = false', ng-hide="!section.clinician && !SES_permissionAction('report.edit')")

                        span(
                        ng-click="(section.children.length === 0) ? goToReportSection(section.state) : section.showChildren = !section.showChildren",
                        ng-class="{active: activeSection(section.state), meta: section.meta, children: (section.children.length > 0)}"
                        ).clickable {{section.name}}
                            span(ng-if="section.children.length > 0").drop
                                md-icon(ng-hide="section.showChildren") arrow_drop_down
                                md-icon(ng-show="section.showChildren") arrow_drop_up

                        ul(ng-if="section.children.length > 0", ng-show='section.showChildren')
                            li(ng-repeat="child in section.children")
                                span(
                                ng-click="goToReportSection(child.state)",
                                ng-class="{active: activeSection(child.state), disabled: (child.disabled), clickable: (!child.disabled)}"
                                ) {{child.name}}