md-content(flex, layout="column", ng-if="!externalMode").md-padding

    md-sidenav(md-is-open="showOptions", md-whiteframe=4).md-sidenav-right
        md-toolbar
            h1.md-toolbar-tools Options
        md-content
            md-list
                md-list-item
                    p Select Project
                    md-select(ng-model="selectedProject.project", ng-change="refreshList()", aria-label="Select Project", ng-model-options="{trackBy: '$value.name'}")
                        md-option(ng-value="{name: undefined}") All
                        md-option(ng-value="project", ng-repeat="project in projects") {{project.name}}
                md-list-item
                    p Show only my reports
                    md-switch(ng-model="filter.currentUser", ng-change="refreshList()", ng-false-value="false", ng-true-value="true").md-primary

                md-list-item
                    p Show Ready for Analysis
                    md-switch(ng-model="states.ready", ng-change="refreshList()", ng-false-value="false", ng-true-value="true").md-primary
                md-list-item
                    p Show Analysis Underway
                    md-switch(ng-model="states.active", ng-change="refreshList()", ng-false-value="false", ng-true-value="true").md-primary
                md-list-item
                    p Show Review/Presented
                    md-switch(ng-model="states.presented", ng-change="refreshList()", ng-false-value="false", ng-true-value="true").md-primary
                md-list-item
                    p Show Archived
                    md-switch(ng-model="states.archived", ng-change="refreshList()", ng-false-value="false", ng-true-value="true").md-primary
                md-list-item
                    p Show Nonproduction
                    md-switch(ng-model="states.nonproduction", ng-change="refreshList()", ng-false-value="false", ng-true-value="true").md-primary

    h1.md-title(layout="row")
        span(flex) {{selectedProject.project.name || 'All' }} Genomic Reports 
            md-icon(ng-click="showGenomicDescription()").clickable.blue info
                md-tooltip(md-direction="right") About Genomic Reports
        span(flex, layout="row", layout-align="end end")
            md-input-container.hide-validation-error.pull-right
                input(placeholder="Search", name="Search", ng-model="pogQuery", size=40).text-small
                md-icon(ng-click="showFilterTips()").clickable.blue help
            span(flex=5)
            span
                md-button(ng-click="showOptions = !showOptions").md-primary.md-icon-button.md-raised
                    md-icon settings

    div(layout="column", flex).kanban
        div(layout="row", layout-align="space-between").title
            div(layout="column", flex, ng-show="states.ready") Ready for Analysis ({{numReports('ready')}})
            div(layout="column", flex, ng-show="states.active") Analysis Underway ({{numReports('active')}})
            div(layout="column", flex, ng-show="states.presented") Review/Presented ({{numReports('presented')}})
            div(layout="column", flex, ng-show="states.archived") Archived ({{numReports('archived')}})
            div(layout="column", flex, ng-show="states.nonproduction") Non-Production/Test ({{numReports('nonproduction')}})

        div(layout="row", flex, layout-align="space-between")
            md-content(layout="column", flex, ng-show="states.ready").column
                div(ng-show="loading").text-center Loading...
                div(ng-if="numReports('ready') === 0").noWork No genomic reports ready for analysis found.
                ipr-report-listing-card(ng-repeat="report in reports | filter: searchPogs('ready', pogQuery)", md-whiteframe=2, report="report", pog="report.analysis.pog", state="ready" ng-hide="loading").pog

            md-content(layout="column", flex, ng-show="states.active").column
                div(ng-show="loading").text-center Loading...
                div(ng-show="numReports('active') === 0").noWork No genomic reports undergoing analysis found.
                ipr-report-listing-card(ng-repeat="report in reports | filter: searchPogs('active', pogQuery)", md-whiteframe=2, report="report", pog="report.analysis.pog", state="active", ng-hide="loading").pog

            md-content(layout="column", flex, ng-show="states.presented").column
                div(ng-show="loading").text-center Loading...
                div(ng-show="numReports('presented') === 0").noWork No presented genomic reports found.
                ipr-report-listing-card(ng-repeat="report in reports | filter: searchPogs('presented', pogQuery)", md-whiteframe=2, report="report", pog="report.analysis.pog", state="presented", ng-hide="loading").pog

            md-content(layout="column", flex, ng-show="states.archived").column
                div(ng-show="loading").text-center Loading...
                div(ng-show="numReports('archived') === 0").noWork No archived genomic reports found.
                ipr-report-listing-card(ng-repeat="report in reports | filter: searchPogs('archived', pogQuery)", md-whiteframe=2, report="report", pog="report.analysis.pog", state="archived", ng-hide="loading").pog

            md-content(layout="column", flex, ng-show="states.nonproduction").column
                div(ng-show="loading").text-center Loading...
                div(ng-show="numReports('nonproduction') === 0").noWork No non-production genomic reports found.
                ipr-report-listing-card(ng-repeat="report in reports | filter: searchPogs('nonproduction', pogQuery)", md-whiteframe=2, report="report", pog="report.analysis.pog", state="nonproduction", ng-hide="loading").pog

md-content(flex, layout="column", ng-if="externalMode").md-padding.biopsyBoard

    h1.md-title(layout="row")
        span(flex) Genomic Reports 
            md-icon(ng-click="showGenomicDescription()").clickable.blue info
                md-tooltip(md-direction="right") About Genomic Reports

    div(layout="column").biopsies

        ipr-report-table(reports="reports", clinician="true", pagination="pagination", type="'genomic'")
