h2 {{entry.user.firstName}} {{entry.user.lastName}}
    md-icon(ng-if="entry.user.username === user.username && !removed", ng-click="edit()").small.clickable edit
    span(am-time-ago="entry.createdAt").clickable
        md-tooltip {{entry.createdAt | amDateFormat: 'MMMM Do YYYY HH:mm:ss'}}
div(ng-if="!editing").body {{entry.body}}
    p(ng-if="removed").italic This entry has been removed.
    p(ng-if="entry.createdAt !== entry.updatedAt").edited Edited on {{entry.updatedAt | amDateFormat: 'MMMM Do YYYY HH:mm:ss' }}

div(ng-if="editing").edit-entry
    form(name="EditEntry", ng-submit="save(EditEntry)")
        div(layout="column")
            md-input-container(flex)
                label Comment/Reply
                textarea(ng-model="entry.body", rows="4", flex)
            div(layout="row")
                md-button(ng-click="remove()").md-raised.md-warn Remove
                span(flex)
                md-button(ng-click="cancelEdit()").md-seconary.md-raised Cancel
                md-button(type="submit").md-primary.md-raised Save
