div(layout="column")
    table.material-table
        thead
            tr
                th(colspan=3) {{type | titlecase}} Reports
                th(colspan=3).button
                    div(layout="row", layout-align="end start")
                        form(ng-submit="search()", novalidate, layout="row", flex, ng-show="showSearch")
                            md-input-container(flex, layout="row").medium
                                input(ng-model="filter.search", focus-me="focusSearch", ng-blur="search()", placeholder="Search Reports")

                        md-button(ng-show="showSearch", ng-click="clearSearch()").md-icon
                            md-icon cancel
                            md-tooltip Clear search

                        md-button(ng-hide="showSearch", ng-click="displaySearch()").md-icon
                            md-icon filter_list
                            md-tooltip Filter/Search
            tr
                th(width="10%") Patient 
                th(width="10%") Alternate Identifier 
                th(width="10%") Biopsy Number
                th(width="20%") Disease 
                th(width="15%") Physician 
                th(width="10%") Age 
                th(width="15%") Status 
        tbody
            tr(ng-show="loading").loading
                td(colspan="6").text-center
                    md-progress-circular(md-mode="indeterminate")
                    div(style="margin: -30px 0 27px 0; font-size: 0.7em;") Loading
            tr(ng-show="!loading && reports.length === 0").loading
                td(colspan="6").text-center
                    span No Reports found on IPR
            tr(ng-repeat="report in reports", ng-hide="loading")
                td
                    span(ui-sref="dashboard.reports.pog.report.genomic.summary({POG: report.pog.POGID, analysis_report: report.ident})", ng-if="type == 'genomic'").link {{report.patientInformation.POGID}}
                    span(ui-sref="dashboard.reports.pog.report.probe.summary({POG: report.pog.POGID, analysis_report: report.ident})", ng-if="type == 'probe'").link {{report.patientInformation.POGID}}
                td {{report.analysis.pog.alternate_identifier || 'N/A'}}
                td {{report.analysis.analysis_biopsy || 'N/A'}}
                td {{report.patientInformation.tumourType}}
                td {{report.patientInformation.physician}}
                td {{report.patientInformation.caseType}}
                td {{readState(report.state)}}

    ipr-paginate(total="paginate.total", offset="paginate.offset", limit="paginate.limit", refresh="refreshReports")


