@import '../../styles/theme';

.description-list {
  &__group {
    width: 46%;
    display: inline-block;
  }

  &__term {
    display: inline-flex;
    flex-basis: 0;
    padding: 0 4px;
    color: $palette__text--secondary;
  }

  &__value {
    display: inline-flex;
    flex-basis: 0;
    padding: 0 4px;
  }

  &__divider {
    background-color: $palette__text--secondary; 
  }
}