section.pathwayAnalysis
  md-subheader.md-primary.md-no-sticky Pathway Analysis

  div.md-padding

    div.window
      div(ng-if="$ctrl.reportEdit").upload
        md-icon(ng-click="$ctrl.update()") file_upload

      div(id="svgContainer")
        div(id="svgImage")