section.pathwayAnalysis.pathway
  md-subheader.md-no-sticky.pathway__header Pathway Analysis

  div.pathway__container

    div(layout="row").window
      div(ng-if="$ctrl.reportEdit").upload
        md-icon(ng-click="$ctrl.update()") file_upload

      div(id="svgImage")
  
  print-header(pog="$ctrl.pog", report="$ctrl.report")

  div(layout="row", layout-align="center center")
    img(ng-src="img/pathway_legend.png", ng-if="$ctrl.print").pathway__legend
