section.pathwayAnalysis {

  .upload {
    padding: 10px 0 0 10px;

    md-icon {
      position: absolute;
      cursor: pointer;
      background-color: rgb(255,255,255);

      &:hover {
        color: rgb(63,81,181);
      }
    }
  }

  .window {
    min-height: 400px;
    width: 100%;
    background-color: rgb(255,255,255);
  }


}

md-dialog.pathway.edit {

  div.dropZone {
    background-color: rgb(245,245,245);
    border: 2px solid rgb(235,235,235);
    color: rgb(140,140,140);
    padding: 25px 15px;
    text-align: center;
  }

}