@import '@/styles/variables';

.pathway {
  padding: 16px;

  &--print {
    padding: $print-container-padding;

    .pathway__legend {
      padding: 0;
    }
  }

  &__button {
    float: right;
    z-index: $content-z-index;
  }

  &__legend {
    max-width: 100%;
    display: flex;
    padding: 32px;

    &-button {
      display: flex;
      height: 500px;
      max-width: 800px;
      margin:  16px 40px;
    }
  }
}
