md-content(layout="column", flex).access
  div(layout="column", layout-align="space-around start")
    div(layout="row", flex) Error: User missing IPR access
    div(layout="row", flex, layout-align="space-around center")
      span(layout="row", flex, layout-align="center center")
        h3 External users:
        div Contact either your supervisor or ipr@bcgsc.ca requesting access
    div(layout="row", flex, layout-align="space-around center") 
      span(layout="row", flex, layout-align="center center")
        h3 Internal users:
        div Create a DEVSU JIRA ticket requesting access
    div(layout="row", flex) For both, please include:
    ul()
      li() First and last names
      li() Email address
      li() Intent of use
      li() Role and project access (Optional) 