thead
    tr
        td.pageHeader
            div(layout="row")
                div(flex=20) {{pog.POGID}} - {{report.patientInformation.tumourType}}
                div(flex) BCCA Confidential - For Research Purposes Only
                div(flex=20) {{report.createdAt | amDateFormat: 'YYYY/MM/DD'}}
            h1 Pathway Analysis
tbody
    tr
        td.text-center
            img(src="/assets/images/pathway_legend.png", width="70%")