thead
    tr
        td.pageHeader
            div(layout="row")
                div(flex=30) {{pog.POGID}}
                    br
                    | {{report.createdAt | amDateFormat: 'YYYY/MM/DD'}}
                div(flex) BCCA Confidential - For Research Purposes Only
                div(flex=30)  {{report.patientInformation.tumourType}}
            h1 Pathway Analysis
tbody
    tr
        td
            div(layout="row", flex).pathwayAnalysis
                div(id="svgImage", flex)