section.therapeuticTargets
    md-subheader.md-primary Potential Therapeutic Targets
        span.edit
            md-icon(ng-click="edit($event)") edit

    div(layout="column", flex)

        h2.title Potential Therapeutic Targets
        div(sv-root, sv-part="therapeutic.therapeutic",)
            div(layout="row", md-whiteframe=1, ng-repeat="th in therapeutic.therapeutic", sv-element).rowCard
                div(flex=25, layout="column")
                    h5 Drug Target
                    div(flex, layout="row")
                        span(ng-if="th.target.length !== 0")
                            div(ng-repeat="target in th.target") {{target.geneVar}}
                        span.context {{th.targetContext}}

                div(flex=30, layout="column")
                    h5 Biomarker
                    div(layout="column").markers
                        div(ng-repeat="marker in th.biomarker", layout="row")
                            div(ng-if="marker.entry").entry {{marker.entry}}
                            div(layout="column").context
                                span(ng-repeat="c in marker.context") {{c}}

                div(flex)
                    h5 Notes
                    span {{th.notes}}
                div(layout="column", layout-align="start start").options
                    div
                        md-icon(ng-click="edit($event, th)") edit
                    div
                        md-icon(sv-handle) drag_handle

            div(layout="row", md-whiteframe=1, layout-align="center center", ng-click="newEntry($event, 'therapeutic')").rowCard.clickable.new
                div New Entry

        h2(style="margin-top: 15px;").title Potential Chemoresistance
        div(sv-root, sv-part="therapeutic.chemoresistance",)
            div(layout="row", md-whiteframe=1, ng-repeat="ch in therapeutic.chemoresistance", sv-element).rowCard
                div(flex=25, layout="column")
                    h5 Resistance To
                    div(flex, layout="row")
                        span {{ch.resistance}}

                div(flex=30, layout="column")
                    h5 Biomarker
                    div(layout="column").markers
                        div(ng-repeat="marker in ch.biomarker", layout="row")
                            div(ng-if="marker.entry").entry {{marker.entry}}
                            div(layout="column").context
                                span(ng-repeat="c in marker.context") {{c}}
                div(flex)
                    h5 Notes
                    span {{ch.notes}}
                div(layout="column", layout-align="start start").options
                    div
                        md-icon(ng-click="edit($event, ch)") edit
                    div
                        md-icon(sv-handle) drag_handle
        div(layout="row", md-whiteframe=1, layout-align="center center", ng-click="newEntry($event, 'chemoresistance')").rowCard.clickable.new
            div New Entry
