@import '../../styles/theme';

.text-field {
  padding: 0 12px;

  & label.Mui-disabled {
    color: $palette__text--primary;
    padding: 0 16px;
  }

  & input.Mui-disabled {
    color: $palette__text--primary;
  }

  & .MuiInput-underline.Mui-disabled::before {
    bottom: -4px;
    border-bottom-style: solid;
  }
}