@import '../../styles/variables';

.variant-reports-table {
  height: 73.5%;

  &__variant-chips {
    margin-left: 8px;
    margin-right: 8px;
    margin-bottom: 12px;
    padding: 12px;
    overflow-y: scroll;
    height: 14%;
    border: 1px solid gray;
    border-radius: 8px;
  }

  &__typography {
    padding: 8px;
  }
}

.reports-table {
  height: calc(100% - #{$navbar-size});
}
