div.padding-left-10.padding-right-10
  table.material-table
    thead
      tr
        th(colspan=4).no-border
        th(colspan=1).text-center.no-border.background-light Tissue
        th(colspan=2).text-center.no-border Normal
        th(colspan=3).text-center.no-border.background-light Disease
        th(colspan=3).text-center.no-border Protein
      tr
        th(width="12%") Gene
        th(width="8%") Type
        th(width="12%")
          span.clickable Expression Class (i)
            md-tooltip Based on mRNA
        th(width="9%") Copy State
        th(width="6%").text-right.background-light
          span.clickable FC
            md-tooltip Foldchange
        th(width="6%").text-right
          span.clickable Perc
            md-tooltip Percentile
        th(width="6%").text-right kIQR
        th(width="6%").text-right.background-light
          span.clickable Perc
            md-tooltip Percentile
        th(width="6%").text-right.background-light kIQR
        th(width="6%").text-right.background-light QC
        th(width="6%").text-right
          span.clickable Perc
            md-tooltip Percentile
        th(width="6%").text-right kIQR
        th(width="6%").clickable.text-right QC
          md-tooltip [Total Samples Observed]/[Total patients used for comparison]
        th(wdith="5%")
    tbody
      tr(ng-if="$ctrl.outliers.length === 0").no-hover
        td(colspan=13).text-center No outliers of this type detected.
      tr(ng-repeat="outlier in $ctrl.outliers")
        td(ng-click="$ctrl.geneClicked = true; $ctrl.geneIndex = $index", flex).clickable.underlined
         | {{outlier.gene}}
        gene-viewer(ng-if="$ctrl.geneClicked", ng-init="$ctrl.geneClicked = false",
          report="$ctrl.report", pog="$ctrl.pog", gene="$ctrl.outliers[$ctrl.geneIndex].gene")
        td
          span(ng-if="outlier.expType === 'rna'") mRNA
          span(ng-if="outlier.expType === 'protein'") Protein

        td.text-capitalize {{outlier.expression_class.replace('_', ' ')}}
        td {{outlier.cnvState}}
        td.text-right.background-light {{outlier.foldChange}}
        td.text-right {{outlier.tcgaNormPerc }}
        td.text-right {{outlier.tcgaNormkIQR || '-' }}
        td.text-right.background-light {{outlier.tcgaPerc}}
        td.text-right.background-light {{outlier.tcgakIQR}}
        td.text-right.background-light {{outlier.tcgaQC || '-'}}
        td.text-right {{outlier.ptxPerc || '-' }}
        td.text-right {{outlier.ptxkIQR || '-' }}
        td.text-right {{outlier.ptxQC || '-' }}
        td.text-center.options
          md-icon(ng-click="$ctrl.detailClicked = true; $ctrl.detailIndex = $index").clickable search
            md-tooltip View Details
        detail-viewer(ng-if="$ctrl.detailClicked", ng-init="$ctrl.detailClicked = false",
          mutations="$ctrl.outliers", index="$ctrl.detailIndex")

