md-content(flex).adminSection
  md-toolbar
    div(layout="row").md-toolbar-tools
      span(flex)
      span(flex)
        h2 System Users
      span(flex)
      span(flex=5)
  div.content

    p All users currently given access to the Integrated Pipeline Reports system.

    div(flex, layout="column").table
      div(flex, layout="row").header
        div(flex=15) Username
        div(flex=15) Name
        div(flex=10) Authority
        div(flex=15) Group Access
        div(flex=15) Project Access
        div(flex=15) Last Activity
        div(flex=15) Created
      div(flex, layout="row", ng-repeat="u in $ctrl.users", ng-click="$ctrl.userDiag($event, u)").row.clickable
        div(flex=15) {{u.username}}
        div(flex=15) {{u.firstName}} {{u.lastName}}
        div(flex=10) {{u.type}}
        div(flex=15)
          li(ng-repeat="group in u.groups") {{group.name}}
        div(flex=15)
          li(ng-repeat="project in u.projects") {{project.name}}
        div(flex=15, ng-bind="(u.lastLogin) || 'never'").clickable
          md-tooltip(md-direction="left", ng-if="u.lastLogin") {{u.lastLogin | date:'dddd, MMMM Do YYYY, h:mm:ss a'}}
        div(flex=15) {{u.createdAt | date: 'dd/MM/yy'}}
          md-tooltip(md-direction="left") {{u.createdAt | date:'dddd, MMMM Do YYYY, h:mm:ss a' }}
md-progress-circular(md-mode="indeterminate", ng-if="!$ctrl.users")