.biopsyBoard {
  .biopsies {
    .header {
      border-bottom: 1px solid rgba(0,0,0,0.1);
      div {
        font-weight: 200;
        font-size: 12px;
      }
    }
    .row {
      div {
        padding: 4px 5px;
      }
      &:nth-of-type(odd) {
        background-color: rgba(0,0,0,0.05);
      }
    }
    .none {
      div {
        text-align: center;
        padding: 10px 5px;
      }
    }
    .loading {
      div {
        margin: 10px 0;
      }
    }

  }

  div.switch {

    > div {
      text-align: center;
      border: 1px solid rgb(38, 50, 140);
      height: 30px;
      border-radius: 3px;

      > div {
        padding: 5px;
        &.active {
          background-color: rgb(38, 50, 140);
          color: rgb(255,255,255);
        }
      }
    }

  }

}

.libDetails  {

  border-bottom: 1px solid rgb(230,230,230);

  .physicians {
    p {
      margin: 2px 0;
      span {
        margin-right: 3px;
      }
    }
  }

  &:last-of-type {
    border-bottom: none;
  }

  div {
    padding: 6px 5px;
  }
  div:first-of-type {
    font-weight: 200;
    color: rgba(0,0,0,0.7);
    text-align: right;
    font-size: 0.85em;

    &:after {
      content: ':'
    }
  }
  div:nth-of-type(2) {
    font-weight: 600;
    color: rgba(0,0,0,1);
  }
}

.editor {
  .md-datepicker-input-container {
    input {
      width: 190px;
    }
  }

  .comparators {
    border: 1px solid rgb(224, 224, 224);
    max-height: 160px;
    overflow-y: auto;

    md-icon.for-analysis {
      color: rgb(255, 167, 32);
    }
  }
}
