md-content(flex, layout="column").md-padding.biopsyBoard

    h1.md-title(layout="row")
        span(flex) Biopsy - Sample Search

    div(layout="row")
        div(flex)
        md-input-container(flex=25, layout="row")
            input(ng-model="biopsy.search", placeholder="Search by POGID")
        div
            md-button(ng-click="search()", ng-disabled="searching").md-raised.md-primary Search

    div(layout="column").biopsies
        div(layout="row", flex).header
            div(flex=10) POG
            div(flex=10) Sample Name
            div(flex=10) Collection Date
            div(flex=25) Disease
            div(flex=25) Anatomical Site
            div(flex=20) Libraries
        div(layout="row", ng-show="numKeys(pogs) === 0 && !searching").none
            div(flex) No POG samples found

        div(layout="row", ng-show="searching").loading
            div(flex, layout="row" layout-align="center center")
                md-progress-circular(md-mode="indeterminate")

        div(layout="row", ng-repeat="pog in pogs").row
            div(flex=10) {{pog.pogid}}
            div(flex=10) {{pog.sample_name}}
            div(flex=10) {{pog.date | amDateFormat: 'YYYY-MM-DD'}}
            div(flex=25) {{pog.disease}}
            div(flex=25) {{pog.anatomic_site}}
            div(flex=20)
                span(ng-repeat="(i, lib) in pog.libraries" ng-click="openLibrary(lib)").clickable  {{lib}}
                    span(ng-if="i != pog.libraries.length -1") ,

