md-content(flex, layout="column").md-padding.biopsyBoard

    h1.md-title(layout="row")
        span(flex) Biopsies

    span
        a(ui-sref="dashboard.biopsy.test") Karen's CORS Testing Tool
    div(layout="column").biopsies

        table.material-table
            thead
                tr
                    th(colspan=6).button
                        md-button(ng-click="addBiopsy()").md-primary Add
                            md-tooltip Add new biopsy
                    th(colspan=5).button
                        div(layout="row", layout-align="end start")
                            form(ng-submit="search()", novalidate, layout="row", flex, ng-show="showSearch")
                                md-input-container(flex, layout="row").medium
                                    input(ng-model="filter.search", focus-me="focusSearch", placeholder="Search by POGID")

                            md-button(ng-show="showSearch", ng-click="clearSearch()").md-icon
                                md-icon cancel
                                md-tooltip Clear search

                            md-button(ng-hide="showSearch", ng-click="displaySearch()").md-icon
                                md-icon filter_list
                                md-tooltip Filter/Search
                tr
                    th(width="5%") POG
                    th(width="15%") Disease
                    th(width="15%") Biopsy Notes
                    th(width="10%") Comparators
                    th(width="10%")
                        span.clickable Clinspec
                            md-tooltip Clinical Biopsy Number
                    th(width="10%")
                        span.clickable Biop
                            md-tooltip BioFX Biopsy Number
                    th(width="7%") Tumour
                    th(width="7%") Normal
                    th(width="7%") Transcriptome
                    th(width="10%") Added
                    th(width="5%")
            tbody
                tr(ng-show="loading").loading
                    td(colspan="10").text-center
                        span Loading...
                        md-progress-circular(md-mode="indeterminate")
                tr(ng-show="!loading && analyses.length === 0").loading
                    td(colspan="10").text-center
                        span No biopsies found on IPR
                tr(ng-repeat="analysis in analyses")
                    td.text-bold {{analysis.pog.POGID}}
                    td {{analysis.disease}}
                    td {{analysis.biopsy_notes}}
                    td [Comp.]
                    td {{analysis.clinical_biopsy}}
                    td {{analysis.analysis_biopsy || "Pending"}}
                    td
                        span(ng-click="openLibrary(analysis.libraries.tumour)").clickable.link {{analysis.libraries.tumour}}
                        span(ng-if="!analysis.libraries.tumour") N/A
                    td
                        span(ng-click="openLibrary(analysis.libraries.normal)").clickable.link {{analysis.libraries.normal}}
                        span(ng-if="!analysis.libraries.tumour") N/A
                    td
                        span(ng-click="openLibrary(analysis.libraries.transcriptome)").clickable.link {{analysis.libraries.transcriptome}}
                        span(ng-if="!analysis.libraries.transcriptome") N/A
                    td
                        span.clickable {{analysis.createdAt | amTimeAgo}}
                            md-tooltip {{analysis.createdAt | amDateFormat: 'YYYY-MM-DD HH:mm:ss'}}
                    td.options
                        md-icon(ng-click="openAnalysis(analysis)").clickable search
