.expressionDetails {

  margin-top: 20px;

  div {
    font-size: 0.80em;
    text-align: center;

    span {
      font-size: 0.9em;
      font-weight: 700;
      display: block;
      width: 50%;
      margin: 10px auto;
      padding: 8px 15px;
    }
  }

}

.density-graphs {
  ul {
    list-style: none;


    li {
      padding: 10px 0 0 10px;

      &:hover {
        background-color: rgb(238,238,238);
      }
    }

  }

  md-grid-list {
    margin: 15px 0;

    md-grid-tile {
      margin-bottom: 10px;
    }
  }
}