section
    md-subheader.md-primary Expression Analysis

    div(layout="column", flex)

        div(layout="column", flex)
            h2.title Expression Analysis: RNA Details

            div(ng-repeat="(title, outliers) in expOutliers")
                h3.title {{titleMap[title]}}

                ipr-outlier(outliers="outliers", pog="pog", report="report")

        div(layout="column", flex, ng-if="CONFIG.ATTRS.name === 'DEVELOPMENT'")
            h2.title Expression Analysis: Protein Details

            div(ng-repeat="(title, outliers) in expProtein")
                h3.title {{proteinTitleMap[title]}}

                ipr-outlier(outliers="outliers", pog="pog", report="report")

            h2.title Drug Targetable High Percentile Genes

            div(flex, layout="column")


                div(layout="column", flex).dataBox

                    div.box
                        div(layout="row", flex).heading
                            div(flex) Gene
                            div(flex) LOH
                            div(flex) Copy Number
                            div(flex) Fold Change Vs. {{report.tumourAnalysis.normalExpressionComparator}}
                            div(flex) {{report.tumourAnalysis.diseaseExpressionComparator}} %ile
                            div(flex) kIQR
                            div(flex=5)
                        div(layout="row", layout-align="start end").search
                            md-input-container(flex=40)
                                input(placeholder="Search", name="DrugSearch", ng-model="drugQuery")
                        div(style="max-height: 300px; overflow-y: auto")
                            div(ng-if="outliers.length == 0")
                                div.text-center.details No small somatic mutations of this kind were found from the analysis.

                            div(layout="row", flex, ng-repeat="target in drugTargetList = (drugTargets | filter: searchDrugs(drugQuery))").row
                                div(flex)
                                    a(href="http://dgidb.genome.wustl.edu/genes/{{target.gene}}", target="_blank") {{target.gene}}
                                div(flex) {{target.lohRegion}}
                                div(flex) {{target.copy}}
                                div(flex) {{target.foldChange}}
                                div(flex) {{target.tcgaPerc}}
                                div(flex) {{target.kIQR}}
                                div(flex=5)
                                    md-icon(ipr-data-viewer="target").clickable search

        div(flex, layout="column").bg-white
            h2.title Expression Distributions

            div(flex, layout="row", ng-repeat="row in densityGraphs", layout-align="space-around start").margin-top-20
                div
                    img(data-ng-src="data:image/png;base64,{{row[0].data}}")
                div
                    img(data-ng-src="data:image/png;base64,{{row[1].data}}")