tr
    td.report-section
        h1 Patient Information
        div(layout="column", flex).details
            table(width="100%")
                tr
                    th(width="12%") Patient ID:
                    td(width="15%") {{pog.POGID}}
                    th(width="14%") Gender:
                    td(width="14%") {{data.pi.gender}}
                    th(width="15%") Tumour Sample:
                    td(width="30%") {{data.pi.tumourSample}}
                tr
                    th Tumour Type:
                    td {{data.pi.tumourType}}
                    th Case Type:
                    td Adult
                    th Tumour Sample
                    td {{data.pi.constitutionalSample}}
                tr
                    th Report Date:
                    td {{data.pi.reportDate}}
                    th Age at Diagnosis:
                    td Not Specified
                    th Biopsy Details:
                    td {{data.pi.biopsySite}}
                tr
                    th Physician:
                    td {{data.pi.physician}}
                    th
                    td
                    th Protocol:
                    td {{data.pi.tumourProtocol}}
tr
    td.report-section
        h1 Sample Information

        table.detailedData
            tr.header
                th(style="width: 16%") Sample
                th(style="width: 16%") Sample Name
                th(style="width: 16%") Collection Date
                th(style="width: 16%") Primary Site
                th(style="width: 16%") Biopsy Site
                th(style="width: 16%") Pathology Estimated Tumour Content
            tr(ng-repeat="sample in report.sampleInfo")
                td {{sample['Sample']}}
                td {{sample['Sample Name']}}
                td {{sample['Collection Date']}}
                td {{sample['Primary Site']}}
                td {{sample['Biopsy Site']}}
                td {{sample['Patho TC']}}

        h1 Test Information

        div(layout="column").testInformation
            div(layout="row")
                div(layout="column", flex)
                    div(layout="row").title Variants Probe Version {{testInformation.snpProbe}}
                    div(layout="row").data
                        div(flex=50) Genes Screened
                        div(flex) {{testInformation.snpGenes}}
                    div(layout="row").data
                        div(flex=50) Variants Screened
                        div(flex) {{testInformation.snpVars}}
                div(layout="column", flex)
                    div(layout="row").title Fusion Probe Version {{testInformation.fusionProbe}}
                    div(layout="row").data
                        div(flex=50) Fusion Genes Screened
                        div(flex) {{testInformation.fusionGenes}}
                    div(layout="row").data
                        div(flex=50) Fusion Variants Screened
                        div(flex) {{testInformation.fusionVars}}
            div(layout="row")
                div(layout="column", flex=50)
                    div(layout="row").title KB Version {{testInformation.kbVersion}}
                    div(layout="row").data
                        div(flex=50) References
                        div(flex) {{kbmetrics.refTotal}}
                    div(layout="row").data
                        div(flex=50) Characterized Events
                        div(flex) {{kbmetrics.evTotal}}


        //div(layout="row")
            div(layout="column", flex).dataBox
                div(layout="row", flex).horizontalBox
                    div(layout="column", flex)
                        div(layout="row").row
                            span(flex=40) Variant Probe Version
                            span {{testInformation.snpProbe}}
                        div(layout="row").row
                            span(flex=40) Fusion Probe Version
                            span {{testInformation.fusionProbe}}
                        div(layout="row").row
                            span(flex=40) Knowledgebase Version
                            span {{testInformation.kbVersion}}
                    div(layout="column", flex)
                        div(layout="row").row
                            span(flex=40) Genes Screened
                            span {{testInformation.snpGenes}}
                        div(layout="row").row
                            span(flex=40) Variants Screened
                            span {{testInformation.snpVars}}
                        div(layout="row").row
                            span(flex=40) Fusion Genes Screened
                            span {{testInformation.fusionGenes}}
                        div(layout="row").row
                            span(flex=40) Fusion Variants Screened
                            span {{testInformation.fusionVars}}


        h1 Summary of Alterations Identified and Potential Clinical Relevance

        p(ng-if="genomicEvents.length === 0") No clinically relevant genomic alterations were found from the analysis.
        table(ng-if="genomicEvents.length > 0").detailedData
            tr.header
                th(style="width: 17%") Genomic Events
                th(style="width: 20%") Comments
                th(style="width: 20%") Approved in this cancer type
                th(style="width: 20%") Approved in other cancer type
                th(style="width: 23%") Emerging Evidence
            tr(ng-repeat="gene in genomicEvents").rowBar
                td {{gene.genomicEvent}}
                td {{gene.comments}}
                td {{gene.approvedThisCancerType}}
                td {{gene.approvedOtherCancerType}}
                td {{gene.emergingPreclinicalEvidence}}

        div(layout="row").signature
            div(flex=40)
            div(flex, layout="row")
                span(flex) Manual Review: {{ signature.reviewerSignature.firstName.substring(0,1) }}.{{ signature.reviewerSignature.lastName.substring(0,1) }}.
                span(flex) Date: {{ signature.reviewerSignedAt | amDateFormat: 'YYYY/MM/DD' }}