.expression-correlation {
  padding: 16px;

  &__header {
    margin: 0 0 12px;
  }

  &__expression-charts {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 24px 0;
  }

  &__subtype {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 24px 0;
  }

  &__chart {
    position: relative;
    display: inline;

    & > canvas {
      margin: 0 auto;
    }
  }
}