.expression-correlation {
  padding: 16px;

  &__header {
    margin: 0 0 12px;
  }

  &__expression-charts {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 24px 0;
  }

  &__subtype {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 24px 0;
  }

  &__chart {
    position: relative;
    display: inline;

    & > canvas {
      margin: 0 auto;
    }
  }

  &__legend-box {
    display: inline-block;
    background: linear-gradient(0deg, rgba(19,43,67,1) 0%, rgba(122,194,248,1) 100%); 
    min-width: 30px;
    min-height: 100px;
  }
  
  &__legend-amounts {
    display: flex;
    justify-content: center;
  }

  &__legend-labels {
    display: inline;
  }
}