@import '../../styles/theme.module';

.table {
  border-collapse: collapse;
  margin: 8px;
  font-family: Arial, Helvetica, sans-serif;

  &--full-width {
    width: 100%;
  }

  &__header {
    font-size: 9pt;
    text-align: left;
    color: $palette__text--secondary;
    padding: 2px;
    border-bottom: 1px solid $palette__text--hint;

    & th {
      padding: 10px 4px;
    }
  }

  &__row {
    font-size: 10pt;
    border-bottom: 0.5px solid lightgray;

    & td {
      padding: 3px 4px;
      max-width: 300px;
      overflow-wrap: break-word;
      break-inside: avoid;
    }
  }

  &__none {
    border-bottom: 1px solid $palette__text--hint;
    padding: 3px 4px;
    text-align: center;
    border-bottom: 0.5px solid lightgray;
  }

  &__cell {
    &--skip {
      display: none;
    }
  }
}

.table-container {
  margin: 8px;
}
