$primary: #26328c;
$secondary: #ad419f;
$white-icon: #f0f0f0;
$medium-emphasis: rgba(0, 0, 0, .6);
$black-03: rgba(0, 0, 0, .03);
$black-15: rgba(0, 0, 0, .15);
$black-20: rgba(0, 0, 0, .2);
$black-50: rgba(0, 0, 0, .5);
$black-80: rgba(0, 0, 0, .8);
