section
  md-subheader.md-no-sticky.md-primary Disease Specific Analysis

  div(layout="column", flex)

    div(layout="column", flex).bg-white

      h2.title Expression Subtype        

      p(ng-if="!$ctrl.hasSubtypePlot").disease__none Current disease specific analysis is not applicable for this case

      div(layout="row", flex, layout-align="center center", ng-repeat="image in $ctrl.subtypePlotImages").md-padding
        img(data-ng-src="data:image/png;base64,{{image.data}}")
