@import '../../styles/theme';
@import '../../styles/variables';

.report {
  &__header {
    padding: 12px 24px 12px 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $palette__common--white;
    border-bottom: 1px solid $black-12;

    &--min-width {
      min-width: 300px;
    }
  }
}