section
  md-subheader.md-primary.md-no-sticky Copy Number Analyses

  div(layout="column", flex)

    div(layout="column", flex).bg-white

      h2.title Copy Number and LOH
      h3.title Summary of Copy Number Events

      div(layout="row", layout-align="space-around center").margin-bottom-40.margin-top-30
        div(layout="column").smEvents.snv
          div(style="max-width: 100%")
            img(style="width: 90%", data-ng-src="data:image/png;base64,{{$ctrl.images['cnvLoh.circos'].data}}")

    div(layout="column", flex)
      h2.title Copy Number Variants: Genomic Details

      div(ng-repeat="(title, cnvs) in $ctrl.cnvGroups track by $index")
        h3.title {{$ctrl.titleMap[title]}}

        list-copy-number-variants(cnvs="cnvs", report="$ctrl.report")

    div(layout="column", flex).bg-white
      h2.title Copy Number & LOH

      div(layout="column", layout-align="center start").cnvloh
        div(layout="column").container
          div(layout="row")
            span(flex)
            span(flex) Chr 1
            span(flex) Chr 2
            span(flex) Chr 3
            span(flex) Chr 4
          img(data-ng-src="data:image/png;base64,{{$ctrl.images['cnv.1'].data}}")
          img(data-ng-src="data:image/png;base64,{{$ctrl.images['loh.1'].data}}")

          div(layout="row")
            span(flex) Chr 5
            span(flex) Chr 6
            span(flex) Chr 7
            span(flex) Chr 8
            span(flex) Chr 9
          img(data-ng-src="data:image/png;base64,{{$ctrl.images['cnv.2'].data}}")
          img(data-ng-src="data:image/png;base64,{{$ctrl.images['loh.2'].data}}")

          div(layout="row")
            span(flex) Chr 10
            span(flex) Chr 11
            span(flex) Chr 12
            span(flex) Chr 13
            span(flex) Chr 14
          img(data-ng-src="data:image/png;base64,{{$ctrl.images['cnv.3'].data}}")
          img(data-ng-src="data:image/png;base64,{{$ctrl.images['loh.3'].data}}")

          div(layout="row")
            span(flex) Chr 15
            span(flex) Chr 16
            span(flex) Chr 17
            span(flex) Chr 18
            span(flex) Chr 19
          img(data-ng-src="data:image/png;base64,{{$ctrl.images['cnv.4'].data}}")
          img(data-ng-src="data:image/png;base64,{{$ctrl.images['loh.4'].data}}")

          div(layout="row")
            span(flex) Chr 20
            span(flex) Chr 21
            span(flex) Chr 22
            span(flex) Chr 23
            span(flex)
          img(data-ng-src="data:image/png;base64,{{$ctrl.images['cnv.5'].data}}")
          img(data-ng-src="data:image/png;base64,{{$ctrl.images['loh.5'].data}}")
