.bread-crumbs {
  background-color: #dcdcdc;
  color: #636363;
  margin: 0;
  padding: 10px 10px 10px 15px;
  border-bottom: 3px solid #cfcfcf;
  
  .md-subheader-inner {
    margin: 0;
    padding: 0 !important;
    
    ol {
      list-style-type: none;
      clear: both;
      margin: 0;
      padding: 0;
      
      li {
        float: left;
        padding: 0 0 0 5px;
        
        span {
          padding-right: 5px;
        }
        
        a {
          color: #636363;
          text-decoration: none;
        }
        a:hover {
          text-decoration: underline;
          color: rgb(63,81,181);
        }
        
      }
    }
  }
  
}

.jiraTicket {
  background: rgb(220,220,220);
  padding: 20px;

  .icon {
    width: 50px;
    height: 66px;
    background: url('/assets/images/jira.png');
  }
  .link {
    text-align: center;
    font-size: 1.3em;
    padding-top: 20px;

    a, a:visited, a:active {
      color: rgb(63,81,181);
      text-decoration: none;
    }
    a:hover {
      color: rgb(99, 140, 255);
    }
  }
}
