div(ui-view="adminbar", layout="row", ng-if="isAdmin").adminBar
md-toolbar(ui-view="toolbar", layout='row').headerToolbar
md-subheader.bread-crumbs
  ui-breadcrumbs(displayname-property="data.displayName", template-url="uiBreadcrumbs/uiBreadcrumbs.tpl.html")
  | {{data}}

div(layout='row', flex)
  div(flex, layout="column")
    div(flex, layout='row', ui-view="")
