div(ui-view="adminbar", layout="row", ng-if="isAdmin").adminBar
md-toolbar(ui-view="toolbar", layout='row').headerToolbar

div(layout='row', flex)
    div(flex, layout="row")

        div(layout="column", ng-cloak).sidebar

            a(layout="row", ui-sref="dashboard.reports.dashboard", ng-class="{active: ($state.current.name === 'dashboard')}")
                md-icon home
                md-tooltip(ng-if="!maximized", md-direction="right") Dashboard
                span(flex, ng-show="maximized") Dashboard

            a(layout="row", ng-if="check.resource('analyses')", target="_blank", href="https://iprtracking.bcgsc.ca/biopsy/board", ng-class="{active: ($state.current.name === 'dashboard.biopsy' || $state.current.name.indexOf('biopsy') > -1)}")
                md-icon colorize
                md-tooltip(ng-if="!maximized", md-direction="right") Biopsies
                span(flex, ng-show="maximized") Biopsies



            a(layout="row", ng-if="check.resource('tracking')", target="_blank", href="https://iprtracking.bcgsc.ca/tracking/board", ng-class="{active: ($state.current.name === 'dashboard.tracking' || $state.current.name.indexOf('tracking') > -1)}")
                md-icon my_location
                md-tooltip(ng-if="!maximized", md-direction="right") Tracking
                span(flex, ng-show="maximized") Tracking



            a(layout="row", ng-if="check.resource('report')" ui-sref="dashboard.reports.dashboard", ng-class="{active: ($state.current.name === 'dashboard.reports' || $state.current.name.indexOf('dashboard.reports') > -1)}")
                md-icon assignment
                md-tooltip(ng-if="!maximized", md-direction="right") Reports Dashboard
                span(flex, ng-show="maximized") Reports

            a(layout="row", ng-if="check.resource('genomic_report')", ui-sref="dashboard.reports.genomic", ng-class="{active: ($state.current.name.indexOf('genomic') > 0)}", ng-show="maximized || (!maximized && ($state.current.name.indexOf('dashboard.reports') > -1 || $state.current.name.indexOf('dashboard.pog') > -1))").submenu
                md-icon(ng-show="maximized") subdirectory_arrow_right
                md-icon(ng-show="!maximized") developer_board
                md-tooltip(ng-if="!maximized", md-direction="right") Genomic Reports
                span(flex, ng-show="maximized") Genomic

            a(layout="row", ng-if="check.resource('probe_report')", ui-sref="dashboard.reports.probe", ng-class="{active: ($state.current.name.indexOf('probe') > 0)}", ng-show="maximized || (!maximized && ($state.current.name.indexOf('dashboard.reports') > -1 || $state.current.name.indexOf('dashboard.pog') > -1))").submenu
                md-icon(ng-show="maximized") subdirectory_arrow_right
                md-icon(ng-show="!maximized") highlight
                md-tooltip(ng-if="!maximized", md-direction="right") Targeted Gene Reports
                span(flex, ng-show="maximized") Targeted Gene



            a(layout="row", ng-if="check.resource('germline')", ui-sref="dashboard.germline.board", ng-class="{active: ($state.current.name.indexOf('germline') > -1)}")
                md-icon supervisor_account
                md-tooltip(ng-if="!maximized", md-direction="right") Germline
                span(flex, ng-show="maximized") Germline



            a(layout="row", ng-if="check.resource('knowledgebase')", ui-sref="dashboard.knowledgebase.dashboard", ng-class="{active: ($state.current.name.indexOf('knowledgebase') > -1)}")
                md-icon local_library
                md-tooltip(ng-if="!maximized", md-direction="right") Knowledgebase
                span(flex, ng-show="maximized") Knowledgebase

            a(layout="row", ng-if="check.resource('knowledgebase')", ui-sref="dashboard.knowledgebase.references", ng-class="{active: ($state.current.name === 'dashboard.knowledgebase.references')}", ng-show="maximized || (!maximized && $state.current.name.indexOf('knowledgebase') > 1)").submenu
                md-icon(ng-show="maximized") subdirectory_arrow_right
                md-icon(ng-show="!maximized") import_contacts
                md-tooltip(ng-if="!maximized", md-direction="right") References
                span(flex, ng-show="maximized") References


        div(flex, layout='column')
            md-subheader.bread-crumbs
                ui-breadcrumbs(displayname-property="data.displayName", abstract-proxy-property="data.breadcrumbProxy", template-url="uiBreadcrumbs/uiBreadcrumbs.tpl.html")
                | {{data}}
            div(ui-view="", layout="row", flex)
