div(ui-view="adminbar", layout="row", ng-if="isAdmin").adminBar
md-toolbar(ui-view="toolbar", layout='row').headerToolbar

div(layout='row', flex)
    div(flex, layout="row")

        div(layout="column", ng-cloak).sidebar

            div(layout="row", ui-sref="dashboard.reports.dashboard", ng-class="{active: ($state.current.name === 'dashboard')}")
                md-icon home
                    md-tooltip(ng-if="!maximized", md-direction="right") Dashboard
                span(flex, ng-show="maximized") Dashboard

            div(layout="row", ng-if="PROJECT.FEATURE.TRACKING", ui-sref="dashboard.tracking.board", ng-class="{active: ($state.current.name === 'dashboard.tracking' || $state.current.name.indexOf('tracking') > -1)}")
                md-icon my_location
                    md-tooltip(ng-if="!maximized", md-direction="right") Tracking
                span(flex, ng-show="maximized") Tracking

            div(layout="row", ui-sref="dashboard.reports.dashboard", ng-class="{active: ($state.current.name === 'dashboard.reports' || $state.current.name.indexOf('dashboard.reports') > -1)}")
                md-icon assignment
                    md-tooltip(ng-if="!maximized", md-direction="right") Reports
                span(flex, ng-show="maximized") Reports

            div(layout="row", ui-sref="dashboard.reports.genomic", ng-class="{active: ($state.current.name.indexOf('genomic') > 0)}", ng-show="maximized || (!maximized && ($state.current.name.indexOf('dashboard.listing') > -1 || $state.current.name.indexOf('dashboard.pog') > -1))").submenu
                md-icon(ng-show="maximized") subdirectory_arrow_right
                md-icon(ng-show="!maximized") developer_board
                    md-tooltip(ng-if="!maximized", md-direction="right") Genomic
                span(flex, ng-show="maximized") Genomic

            div(layout="row", ui-sref="dashboard.reports.probe", ng-class="{active: ($state.current.name.indexOf('probe') > 0)}", ng-show="maximized || (!maximized && ($state.current.name.indexOf('dashboard.listing') > -1 || $state.current.name.indexOf('dashboard.pog') > -1))").submenu
                md-icon(ng-show="maximized") subdirectory_arrow_right
                md-icon(ng-show="!maximized") highlight
                    md-tooltip(ng-if="!maximized", md-direction="right") Probe
                span(flex, ng-show="maximized") Probe

            div(layout="row", ng-if="PROJECT.FEATURE.KNOWLEDGEBASE", ui-sref="dashboard.knowledgebase.dashboard", ng-class="{active: ($state.current.name.indexOf('knowledgebase') > -1)}")
                md-icon local_library
                    md-tooltip(ng-if="!maximized", md-direction="right") Knowledgebase
                span(flex, ng-show="maximized") Knowledgebase

            div(layout="row", ng-if="PROJECT.FEATURE.KNOWLEDGEBASE", ui-sref="dashboard.knowledgebase.references", ng-class="{active: ($state.current.name === 'dashboard.knowledgebase.references')}", ng-show="maximized || (!maximized && $state.current.name.indexOf('knowledgebase') > 1)").submenu
                md-icon(ng-show="maximized") subdirectory_arrow_right
                md-icon(ng-show="!maximized") import_contacts
                    md-tooltip(ng-if="!maximized", md-direction="right") References
                span(flex, ng-show="maximized") References

            div(layout="row", ng-if="PROJECT.FEATURE.KNOWLEDGEBASE", ui-sref="dashboard.knowledgebase.events", ng-class="{active: ($state.current.name === 'dashboard.knowledgebase.events')}", ng-show="maximized || (!maximized && $state.current.name.indexOf('knowledgebase') > 1)").submenu
                md-icon(ng-show="maximized") subdirectory_arrow_right
                md-icon(ng-show="!maximized") location_on
                    md-tooltip(ng-if="!maximized", md-direction="right") Events
                span(flex, ng-show="maximized") Events

            span(flex)
            div(layout="row", layout-align="end center", ng-click="toggle()").minimize
                md-icon(ng-show="maximized") keyboard_arrow_left
                md-icon(ng-hide="maximized") keyboard_arrow_right
                span(ng-show="maximized") Minimize

        div(flex, layout='column')
            md-subheader.bread-crumbs
                ui-breadcrumbs(displayname-property="data.displayName", abstract-proxy-property="data.breadcrumbProxy", template-url="uiBreadcrumbs/uiBreadcrumbs.tpl.html")
                | {{data}}
            div(ui-view="", layout="row", flex)
