md-dialog(layout="column", aria-label="Feedback", ng-cloak, flex=50)
    form(flex='auto', name='form', novalidate, ng-submit="send(form)")
        md-toolbar
            .md-toolbar-tools
                h2 Feedback
                span(flex)
                md-button.md-icon-button(ng-click='cancel()')
                    md-icon cancel
        md-dialog-content(layout-padding)
            div(layout="column")
                p Feedback is always welcome and appreciated!
                h3 Before Submitting Feedback
                p If you run into problems with unexpected insufficient permissions (e.g. you are unable to see or edit things that you normally are able to) please try doing a hard refresh of your browser window using Ctrl-Shift-R.
                p When submitting feedback or a bug report, please include as much information as possible about your proposal or issue. Screenshots are helpful when possible.
                h3 Internal Users
                p Please create a JIRA ticket under the DEVSU (Development Support) Project containing your feedback or bug report.
                h3 External Users
                p Please email ipr@bcgsc.ca with your feedback or bug report.


        md-dialog-actions(layout="row", layout-aligh="end center")
            md-button(ng-click="cancel()").md-primary.md-raised Close