md-dialog(layout="column", aria-label="Load new POG Report from sources", ng-cloak, flex=35).editor
    form(flex='auto', name='form', ng-submit="load(form)")
        md-toolbar
            .md-toolbar-tools
                h2 Load new POG Report from sources
                span(flex)
                md-button.md-icon-button(ng-click='cancel()')
                    md-icon cancel
        md-dialog-content(layout-padding)

            div(layout="column")
                p Specify the POG ID to be loaded from sources

                div(layout="row")
                    md-input-container(flex)
                        input(name="POG", placeholder="POG ID", ng-model="load.pog")


        md-dialog-actions(layout="row", layout-aligh="end center", layout-padding)
            md-button(type="submit").md-primary Load POG

