.md-toolbar-tools
  h2 
    img(src="/assets/images/bcca_logo.png", style="margin-bottom: -5px;")
    |  BCGSC Integrated Pipeline Reports
  span(flex)
  
  md-menu
    div(ng-click='$mdOpenMenu()', aria-label='User')
      md-icon person
      md-button.white {{user.firstName}} {{user.lastName}}
    
    md-menu-content(width="4")
      md-menu-item
        md-button(ng-click="userDiag($event, user)") Edit Profile

      md-menu-item
        md-button(ng-click="openFeedback($event)") Feedback
      md-menu-divider
      md-menu-item(ng-click="userLogout()")
        md-button Logout
