md-dialog(layout="column", aria-label="Ticket Preview", flex-md=85, flex-xs=100, flex-lg=70, flex=70).ticket_preview
    md-toolbar
        .md-toolbar-tools
            h2 {{definition.name}} - {{analysis.pog.POGID}} - Ticket Preview
            span(flex)
            md-button.md-icon-button(ng-click='close()')
                md-icon cancel
    md-dialog-content.background-white
        div(layout="column", ng-show="loading").padding-10
            p Loading...
        div(layout="column", ng-hide="loading").padding-10

            h4 Summary
            h1 {{summary}}

            h2 Case Details
            table
                thead
                    tr
                        th {{analysis.pog.POGID}}
                        th {{analysis.threeLetterCode}}
                tbody
                    tr
                        td Priority
                        td {{parsePriority(analysis.priority)}}
                    tr
                        td Disease
                        td {{analysis.disease}}
                    tr
                        td Biopsy Details
                        td {{analysis.biopsy_notes}}
                    tr
                        td Age
                        td {{extended.age || 'N\A'}}
                    tr
                        td Sex
                        td {{extended.sex}}
                    tr
                        td Biopsy
                        td {{extended.biop}}
                    tr
                        td Normal Library
                        td {{extended.lib_normal}}
                    tr
                        td Tumour Library
                        td {{extended.lib_tumour}} ({{extended.pool_tumour}})
                    tr
                        td Transcriptome Library
                        td {{extended.lib_rna}} ({{extended.pool_rna}})

            div.panel
                div.title {{definition.name}}
                div.body
                    pre {{body}}

            h2 Progress
            table
                thead
                    tr
                        th Task
                        th Status
                        th Result
                tbody
                    tr(ng-repeat="(i, task) in tasks")
                        td {{task.name}}
                        //td {{parseStatus(task.status).string}}
                        td
                            img(src="{{parseStatus(task.status).image}}")
                        td {{task.checkins[0].outcome || '-'}}

            table
                tbody
                    tr
                        td
                            img(src="{{parseStatus('pending').image}}")
                            | &nbsp;Pending
                        td
                            img(src="{{parseStatus('active').image}}")
                            | &nbsp;Active
                        td
                            img(src="{{parseStatus('complete').image}}")
                            | &nbsp;Complete
                        td
                            img(src="{{parseStatus('failed').image}}")
                            | &nbsp;Failed
                        td
                            img(src="{{parseStatus('hold').image}}")
                            | &nbsp;Hold



    md-dialog-actions(layout="row", layout-aligh="end center")
        span(flex)
        md-button(ng-click="close()").md-primary.md-raised Close

