md-content.assignment {

  h2.subtitle {
    font-size: 16px;
    font-weight: 300;
    margin: 0 0 8px 0;
  }

  .editor {

    .title {
      padding-bottom: 5px;
      color: rgb(100,100,100);
    }

    .column {
      overflow-y: auto;

      &.caseList {
        border: 1px solid rgb(180,180,180);
        background-color: rgb(235,235,235);

        ipr-tracking-card {
          border-bottom: 1px solid rgb(200,200,200);
          margin: 0;

          .header {
            background-color: white;
            color: black;
            &:hover {
              background-color: rgb(240, 240, 240);
              color: rgb(0,0,0);
            }
          }

          &.selected {
            .header {
              background-color: rgb(63, 81, 181);
              color: white;
            }
          }

        }
      }

      .assignmentForm {
        border: 1px solid rgb(180,180,180);
        border-left: none;

        &.empty {
          background-color: rgb(235,235,235);

          p {
            font-size: 20px;
            text-align: center;
          }

          .md-button {
            font-size: 18px;
            padding: 4px 10px;
            text-transform: none;
          }
        }

        > md-content {
          padding-top: 10px;
        }
      }

      .teamStatus {
        padding: 10px;
        border: 1px solid rgb(180,180,180);
        border-left: none;
        border-top: none;
      }
    }

    form {

      .tasks {
        //max-height: 300px;
        //min-height: 150px;
        border: 1px solid rgb(180,180,180);
        margin-bottom: 20px;
        background-color: rgb(235,235,235);

        .task {
          border-bottom: 1px solid rgb(210,210,210);
          padding: 8px 6px;
          background-color: rgb(255,255,255);
          outline: none;

          &:not(:first-of-type):last-of-type {
            border-bottom: none;
          }

          &:hover {
            background-color: rgb(229, 242, 255);
          }

          &.pending { border-left: 5px solid  rgb(170, 170, 170); }
          &.active { border-left: 5px solid rgb(101, 209, 203); }
          &.complete { border-left: 5px solid rgb(43, 174, 87); }
          &.hold { border-left: 5px solid rgb(233, 221, 78); }
          &.failed { border-left: 5px solid rgb(223, 40, 22); }
          &.no-status { border-left: 5px solid rgb(255,255,255); }

          .int {
            width: 27px;
            text-align: right;
            margin-right: 8px;
          }

          md-icon {
            margin-right: 8px;
            cursor: pointer;
          }

          h3 {
            font-size: 16px;
            margin: 0;
            padding: 0;
            font-weight: 500;
            cursor: pointer;
            outline: none;
          }

          .assignedTo {
            span:first-of-type {
              margin-right: 5px;
              padding-bottom: 3px;
            }
          }

        }

      }

    }

  }

  .stateDefs {

    p {
      margin: 10px 10px 0 0;
      font-size: 11px;
      color: rgba(0,0,0,0.6);
    }

    p:before {
      content: "";
      display: inline-block;
      width: 8px;
      height: 8px;
      border: 1px solid #c8c8c8;
      margin-right: 4px;
      border-radius: 3px;
    }

    p.complete:before { background-color: #2bae57; }
    p.active:before { background-color: #65d1cb; }
    p.hold:before { background-color: #e9dd4e; }
    p.pending:before { background-color: #aaaaaa; }
    p.failed:before { background-color: #df2816; }

  }

  .teamList {
    margin: 0;
    padding: 0;

    li {
      margin-top: 6px;
    }
    .workload {
      background-color: rgb(203, 216, 255);
      border: 1px solid rgb(51, 57, 115);
      border-radius: 3px;

      > div {
        background-color: rgb(63, 81, 181);
        display: inline-block;
        color: white;
        padding: 2px 4px;
      }
      &.zero > div {
        color: black;
        padding-left: 4px;
        background: none;
      }


    }
  }

  .variables {
    border: 1px solid #cccccc;
    border-radius: 4px;
    margin-left: 10px;

    h1 {
      font-size: 14px;
      font-weight: 100;
      color: rgb(255,255,255);

      padding: 5px 7px;
      margin: 0;

      background-color: #3f51b5;
    }

    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      max-height: 270px;
      overflow-y: auto;

      li {
        padding: 2px 4px;
        font-size: 12px;
        &:hover {
          background-color: rgb(200,200,200);
        }
      }
    }
  }

}