.md-sidenav-right {
  overflow: hidden;
}

.clickable {
  cursor: pointer;
  outline: 0;
}

.blue {
  color: rgb(70, 90, 203);
}

.noWork {
  text-align: center;
  color: rgba(0,0,0,0.3);
  font-weight: 500;
  margin: auto 0 auto 0;
  line-height: 170%;
}