@import '../../../../styles/variables'; 

.discussion {
  padding: 16px;

  &__content {
    max-width: $readable-max;
    min-width: 0;
    margin: 0 auto;
  }

  &__title {
    margin: 0 0 24px;
  }

  &__cards {
    margin: 0 0 24px;
  }
}
