md-content(flex, layout="column").md-padding.biopsyBoard

    h1.md-title(layout="row")
        span(flex) Genomic Reports for Clinicians

    div(layout="column").biopsies

        ipr-report-table(reports="reports", clinician="true", pagination="pagination")
