div(layout="row" layout-align="center center", ng-if="$root.showLoader", id="page-loading", ng-cloak)
  div
    img(src="img/spinlogo.png").loader-spin
div(layout="column", flex).topbar
  navbar
div(layout="row", flex).container
  sidebar
  ui-view(flex).content