@import '../../styles/variables';

.navbar {
  height: $navbar-size;
  display: inline-flex;
  justify-content: space-between;

  &__left {
    height: 100%;
    display: inline-flex;
  }

  &__middle {
    display: inline-flex;
  }

  &__text {
    margin: auto 4px;
  }

  &__button {
    color: white;
  }

  &__icon {
    margin: 0 4px;
  }
}

.MuiToolbar-gutters {
  padding: 0 16px;
}

.appbar {
  width: 100%;
  transition: width $transition-normal;

  @media (min-width: $breakpoint-sm) {
    &--minimized {
      width: calc(100% - 240px);
      transition: width $transition-normal;
    }
  }
}
