@import '../../styles/variables';

.navbar {
  height: $navbar-size;
  display: inline-block;
  justify-content: space-between;

  &__left {
    height: 100%;
    display: inline-flex;
  }

  &__middle {
    display: inline-flex;
  }

  &__text {
    margin: auto 4px !important;
  }

  &__button {
    color: white !important;
  }

  &__icon {
    margin: 0 4px;
  }
}

.MuiToolbar-gutters {
  padding: 0 16px !important;
}

.appbar {
  width: 100%;
  transition: width $transition-normal !important;

  &--minimized {
    width: calc(100% - 240px) !important;
    transition: width $transition-normal !important;
  }
}
