md-toolbar(ng-class="{'navbar--open': $ctrl.sidebarMaximized}").navbar
  div.md-toolbar-tools
    md-button(ng-click="$ctrl.toggleSidebar()", ng-if="!$ctrl.sidebarMaximized").md-icon-button.navbar__menu
      md-icon.navbar__icon menu
    h2(flex).navbar__title
      | Integrated Pipeline Reports
      span.navbar__version v{{$ctrl.version}} &nbsp
      span(ng-if="$ctrl.env !== 'PRODUCTION'") [NON-PRODUCTION ENVIRONMENT: {{$ctrl.env}}]

    md-menu
      md-button(ng-click='$mdMenu.open($event)', aria-label='User').navbar__user
        md-icon.navbar__person person
        span {{$ctrl.user.firstName}} {{$ctrl.user.lastName}}
      md-menu-content(width="4")
        md-menu-item
          md-button(ng-click="$ctrl.openFeedback($event)") Feedback
        md-menu-divider
        md-menu-item(ng-click="$ctrl.userLogout()")
          md-button Logout
