span(ng-repeat="(i, report) in reports track by $index").tab
    span(ng-click="goTo(i)").clickable
        md-icon(ng-if="report.report.type === 'genomic'").report-type developer_board
        md-icon(ng-if="report.report.type === 'probe'").report-type highlight
        span {{report.report.pog.POGID}}
        md-tooltip(md-delay=200, md-direction="top")
            span(ng-if="report.report.type === 'genomic'") Genomic Report
            span(ng-if="report.report.type === 'probe'") Probe Report
            span &nbsp;| Status: &nbsp;
            span(ipr-report-state, state="report.report.state")
            span &nbsp| {{report.report.ident}} | Version {{report.report.reportVersion}} | {{report.report.createdAt | amDateFormat: 'YYYY-MM-DD HH:mm' }}
    md-icon(ng-click="remove(i)").clickable close
