@import '../../styles/variables';

paginate {
  md-select-value {
    span {
      color: $medium-emphasis;
    }
  }
  span.results {
    width: 150px;
    padding: 22px 20px 0 20px;
    text-align: center;
    color: $medium-emphasis;
  }
  .md-button.small {
    min-height: 25px;
    height: 25px;
    line-height: 25px;
    padding-left: 8px;
    padding-right: 8px;
    min-width: 30px;
  }
}