div(flex, layout="column")

    div(layout="column", flex).dataBox

        div.box
            div(layout="row", flex).heading
                div(flex) Genes 5`::3`
                div(flex=5) Exons 5`/3`
                div(flex=15) Breakpoint
                div(flex) Event Type
                div(flex=5) Sample
                div(flex) Cytogenic Description
                div(flex) RPKM 5`/3`
                div(flex) Fold Change Vs. {{report.tumourAnalysis.normalExpressionComparator}}
                div(flex=5) {{report.tumourAnalysis.diseaseExpressionComparator}} %ile
                div(flex=5) Image
            div(ng-if="svs.length == 0")
                div.text-center.details.bg-white No gene fusions of this kind were found from the analysis.
            div(layout="row", flex, ng-repeat="sv in svs").row
                div(flex, md-truncate)
                    ipr-gene-viewer(report="report", pog="pog", gene="sv.genes.split('::')[0]") {{sv.genes.split('::')[0]}}
                    | ::
                    ipr-gene-viewer(report="report", pog="pog", gene="sv.genes.split('::')[1]") {{sv.genes.split('::')[1]}}
                div(flex=5, md-truncate) {{sv.exons}}
                div(flex=15, md-truncate) 
                    span {{sv.breakpoint.split('|')[0]}}|
                    wbr
                    span {{sv.breakpoint.split('|')[0]}}
                div(flex, md-truncate) {{sv.eventType}}
                div(flex=5, md-truncate) {{sv.detectedIn}}
                div(flex, md-truncate) {{sv.conventionalName}}
                div(flex, md-truncate) {{sv.rpkm}}
                div(flex, md-truncate) {{sv.foldChange}}
                div(flex=5, md-truncate) {{sv.tcgaPerc}}
                div(flex=5).text-center
                    md-icon(ipr-data-viewer="sv", ipr-hidden="['svg']").clickable search
                        md-tooltip View Details
                    span(ng-if="sv.svg").reference
                        md-icon(ng-click="svDetails($event, sv)") open_in_new