div(flex, layout="column")

    div(layout="column", flex).dataBox

        div.box
            div(layout="row", flex).heading
                div(flex) Gene
                div(flex=12) Transcript
                div(flex) Protein Change
                div(flex) Location
                div(flex) Ref/Alt
                div(flex) Zygosity
                div(flex) Copy Change
                div(flex) LOH State
                div(flex) Ref/Alt DNA
                div(flex) Ref/Alt RNA
                div(flex) Expression (RPKM)
                div(flex) Fold Chage Vs. {{pog.tumourAnalysis.normalExpressionComparator}}
                div(flex) {{pog.tumourAnalysis.diseaseExpressionComparator}} %ile
            div(ng-if="mutations.length == 0")
                div.text-center.details No small somatic mutations of this kind were found from the analysis.
            div(layout="row", flex, ng-repeat="mutation in mutations").row
                div(flex) {{mutation.gene}}
                div(flex=12) {{mutation.transcript}}
                div(flex) {{mutation.proteinChange}}
                div(flex) {{mutation.location}}
                div(flex) {{mutation.zygosity}}
                div(flex) {{mutation.refAlt}}
                div(flex) {{copyFilter(mutation.ploidyCorrCpChange)}}
                div(flex) {{mutation.lohState}}
                div(flex) {{mutation.tumourReads}}
                div(flex) {{mutation.RNAReads}}
                div(flex) {{mutation.expressionRpkm}}
                div(flex) {{mutation.foldChange}}
                div(flex) {{mutation.TCGAPerc}}