div(flex, layout="column")

    div(layout="column", flex).dataBox

        div.box
            div(layout="row", flex).heading
                div(flex) Gene
                div(flex=10) Transcript
                div(flex) Protein Change
                div(flex) Location
                div(flex) Ref/Alt
                div(flex) Zygosity
                div(flex) Copy Change
                div(flex) LOH State
                div(flex) Ref/Alt DNA
                div(flex) Ref/Alt RNA
                div(flex) Expression (RPKM)
                div(flex) Fold Change Vs. {{pog.tumourAnalysis.normalExpressionComparator}}
                div(flex) {{pog.tumourAnalysis.diseaseExpressionComparator}} %ile
                div(flex=5)
            div(ng-if="mutations.length == 0")
                div.text-center.details No small somatic mutations of this kind were found from the analysis.
            div(layout="row", flex, ng-repeat="mutation in mutations").row
                div(flex) {{mutation.gene}}
                div(flex=10, md-truncate) {{mutation.transcript}}
                    md-tooltip {{mutation.transcript}}
                div(flex) {{mutation.proteinChange}}
                div(flex, md-truncate) {{mutation.location}}
                    md-tooltip {{mutation.location}}
                div(flex) {{mutation.zygosity}}
                div(flex) {{mutation.refAlt}}
                div(flex) {{copyFilter(mutation.ploidyCorrCpChange)}}
                div(flex) {{mutation.lohState}}
                div(flex) {{mutation.tumourReads}}
                div(flex) {{mutation.RNAReads}}
                div(flex) {{mutation.expressionRpkm}}
                div(flex) {{mutation.foldChange}}
                div(flex) {{mutation.TCGAPerc}}
                div(flex=5).text-center
                    md-icon(ipr-data-viewer="mutation").clickable search
                        md-tooltip View Details
                    md-icon(ng-click="vardbVarLib($event, mutation)").clickable track_changes
                        md-tooltip Lookup Variant in VarDB