.userCases {
  md-switch {
    margin: 3px 0;
  }

  font-size: 0.85em;

  margin-right: 20px;
}

.noPogs {
  background-color: rgb(230,230,230);
  padding: 20px 0;
  text-align: center;
  width: 100%;
}

div.PogList {
  
  background-color: rgb(222,222,222);
  margin: 0 0 10px 0;
  padding: 0 0 10px 0;
  
  h2 {
    margin: 0 0 10px 0;
    padding: 10px 0 7px 7px;
    text-align: left;
    background-color: rgb(2,119,189);
    color: rgb(255,255,255);
    font-size: 1.2em;
    
    span.title {
      font-size: 1.0em;
      cursor: pointer;
    }
    
    span {
      font-size: 0.65em;
    }
    span.role {
      font-size: 0.95em;
      margin-left: 10px;
      cursor: pointer;
      color: rgb(2,119,189);
      padding: 2px 6px;
      background-color: rgb(255,255,255);
      -webkit-border-radius: 4px;
      -moz-border-radius: 4px;
      border-radius: 4px;
    }
  }
  
  div { // Column
  
    padding: 0 10px;
    
    div { // Row
    
      padding: 0;
      
      div { // Content
        padding: 0;
        font-weight: 100;
        
        span {
          font-weight: 500;
        }
      }
    }
  }
}

.kanban {

  .title {
    div {
      font-size: 0.90em;
      color: rgba(0,0,0, 0.54);
      padding: 0 0 8px 0;
      text-align: left;
    }
  }

  .column {
    overflow-y: auto;
    background-color: rgb(240,240,240);
    border: 1px solid rgb(200,200,200);
    padding: 7px 8px;
    margin-right: 10px;
  }
  .pog {
    background-color: rgb(255,255,255);
    margin: 5px 0;

    &:first-of-type {
      margin-top: 0;
    }

    div.header {
      background-color: rgb(38, 50, 140);
      color: rgb(255, 255, 255);
      padding: 4px 13px 4px 13px;
      min-height: 57px;


      h1 {
        font-weight: 500;
        font-size: 1.2em;
        margin: 0 0 5px 0;
        padding: 7px 0 0 0;

        md-icon.pediatric {
          color: rgb(255, 255, 255);
          margin-right: 6px;
          background-color: rgb(255, 66, 96);
          border-radius: 3px;
        }

        span.priority {
          margin-right: auto;
          float: right;
          width: 37px;
          height: 13px;
          padding: 1px;
          border: 1px solid rgba(255,255,255, 0.5);
          background: rgba(255,255,255, 0.10);

          span.pip {
            width: 7px;
            height: 7px;
            border-radius: 50%;
            background-color: rgb(255,255,255);
            margin: 0 1px;
            border: 1px solid rgba(255,255,255, 0.6);

            &.high { background-color: rgb(255, 37, 0); }
            &.normal { background-color: rgb(0, 220, 16); }
            &.low { background-color: rgb(255, 188, 0); }
          }
        }
      }

    }

    div.details {
      padding: 4px 10px;
      min-height: 15px;

      &:first-of-type { padding-top: 8px; }
      &:last-of-type { padding-bottom: 8px; }

      span.low {
        color: red;
      }

      div:last-of-type {
        text-transform: capitalize;
      }
    }

    div {
      padding: 3px 10px;
      div {
        padding: 0;
        font-size: 0.80em;

        span:first-of-type {
          font-weight: 100;
        }
        span:nth-of-type(2) {
          font-weight: 700;
          margin-left: 10px;
        }

        span md-icon {
          font-size: 18px;
          max-height: 20px;
          height: 20px;
          max-width: 20px;
          width: 20px;
        }

        span.circle {
          width: 10px;
          height: 10px;
          border-radius: 50%;
          border: 1px solid rgb(100,100,100);
          display: inline-block;
          margin-bottom: -2px;

          &.active {
            background-color: rgb(46, 204, 113);
          }
        }
      }
    }
  }
}

.report-extras-bar {
  position: absolute;
  bottom: 0;
  right: 0;

  > div {
    padding-right: 20px;
  }

  .gene-drawer {

    .tab {
      background-color: rgba(204, 207, 226, 0.8);
      border: 1px solid rgba(63, 81, 181, 0.8);
      border-bottom: none;
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
      box-shadow: 0 1px 2px 0px rgba(0,0,0,0.7);

      padding: 3px 6px 0 6px;

      color: rgb(63, 81, 181);
      font-size: 0.9em;

      cursor: pointer;

      &:hover {
        background-color: rgba(204, 207, 226, 1);
        cursor: pointer;
      }
    }

  }

  .recent-reports {
    margin-right: 10px;
    z-index: 100;

    .tab {
      background-color: rgba(204, 207, 226, 0.9);
      border: 1px solid rgba(63, 81, 181, 0.8);
      border-bottom: none;
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
      box-shadow: 0 1px 2px 0px rgba(0,0,0,0.7);

      margin-right: 16px;
      padding: 3px 3px 0 3px;

      color: rgb(63, 81, 181);
      font-size: 0.9em;

      md-icon {
        min-height: 15px;
        height: 15px;
        min-width: 15px;
        width: 15px;
        line-height: 15px;
        font-size: 15px;
        color: rgba(63,81,181,0.6);
        margin: -2px 0 0 5px;
        
        position: relative;
        padding: 0;

        cursor: pointer;

        &.report-type {
          color: rgba(63,81,181,1.0);
          margin-right: 6px;
        }

        &:hover {
          color: rgba(63,81,181,1.0);
        }
      }
    }
  }
}