.data-table {
  &__expand-cell {
    margin: 7px 0 0;
  }

  &__header {
    display: inline-block;
    padding: 8px;
  }

  &__container {
    margin: 8px 0;
  }

  &__header-container {
    display: flex;
    justify-content: space-between;
  }
}
