.data-table {
  &--margin {
    margin: 8px 8px 0;
  }

  &__expand-cell {
    margin: 7px 0 0;
  }

  &__header {
    display: inline-block;
    padding: 8px;
  }

  &__container {
    margin: 8px 0;
    .ag-row:last-child {
      border-bottom: none;
    }
    
    .cell-span, .cell-span--last {
      display: flex;
      align-items: center;
      background-color: white;
      // Importants are to override default behavior of the grid
      border-bottom: 1px solid
        var(--ag-row-border-color, var(--ag-secondary-border-color, var(--ag-border-color, #e2e2e2))) !important;
    }

    .cell-span--last {
      // Importants are to override default behavior of the grid
      border-bottom: none !important;
    }
  }

  &__header-container {
    display: flex;
    justify-content: space-between;
  }

  &__action {
    margin: 0 8px;
  }
}

.cell-wrap-text {
  white-space: normal;
}
