@import '../../styles/theme';
@import '../../styles/variables';

.report {
  &__container {
    display: flex;
    flex-direction: row;
  }

  &__content {
    height: calc(100vh - #{$navbar-size} - 57px);
    overflow: auto;
  }

  &__content-container {
    display: flex;
    flex-direction: column;
    flex-basis: 0%;
    flex-grow: 1;
    flex-shrink: 1;
  }
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}
