md-dialog(layout="column", aria-label="Remove Alteration", ng-cloak, flex=55).editor
    md-dialog-content(layout-padding, layout="column")

        h3 Remove Alteration
        h5 {{alteration.geneVariant}}

        md-input-container(flex)
            label Comment
            textarea(ng-model="comment", placeholder="Why are you removing this entry?", md-maxlength=150, flex)

    md-dialog-actions(layout="row", layout-align="end center")
        span(flex)
        md-button(ng-click="cancel()") Cancel
        md-button(ng-click="update()").md-accent Remove