md-dialog(layout="column", aria-label="Update Tumour Analysis Details", ng-cloak, flex=55).editor
  form(flex='auto', name='form', ng-submit="update(form)")
    md-toolbar
      .md-toolbar-tools
        h2 Update Tumour Analysis Details
        span(flex)
        md-button.md-icon-button(ng-click='cancel()')
          md-icon cancel
    md-dialog-content(layout-padding)

      div(layout="column")
        p Specify the patient tumour analysis subtype.

        div(layout="row")
          md-input-container(flex)
            input(name="Subtype", placeholder="Subtype", ng-model="tumourAnalysis.subtyping")

        div(layout="row")
          md-input-container(flex)
            label Comment
            textarea(
              ng-model="tumourAnalysis.comment",
              md-maxlength=150,
              placeholder="Why are you making this change?",
              required,
              md-autofocus
            )


    md-dialog-actions(layout="row", layout-align="end center", layout-padding)
      md-button(ng-click="cancel()") Cancel
      md-button(type="submit").md-accent Submit

