md-dialog(layout="column", aria-label="Update Mutation Signature Details", ng-cloak, flex=35).editor
    form(flex='auto', name='form', ng-submit="update(form)")
        md-toolbar
            .md-toolbar-tools
                h2 Update Mutation Signature Details
                span(flex)
                md-button.md-icon-button(ng-click='cancel()')
                    md-icon cancel
        md-dialog-content(layout-padding)

            div(layout="column")
                p Specify the patient tumour analysis subtype.

                div(layout="row")
                    md-input-container(flex)
                        input(name="Signature", placeholder="Mutation Signature", ng-model="ms.mutationSignature")


        md-dialog-actions(layout="row", layout-aligh="end center", layout-padding)
            md-button(type="submit").md-primary Update Details

