md-dialog(layout="column", aria-label="Update Patient Information", ng-cloak, flex=55).editor
    form(flex='auto', name='form', ng-submit="update(form)")
        md-toolbar
            .md-toolbar-tools
                h2 Update Patient Information
                span(flex)
                md-button.md-icon-button(ng-click='cancel()')
                    md-icon cancel
        md-dialog-content(layout-padding)

            div(layout="column")
                p The list of patient information fields that can be edited is limited.

                div(layout="row")
                    md-input-container(flex)
                        input(name="PatiendID", placeholder="Patient ID", ng-model="pi.POGID", disabled)

                    md-input-container(flex)
                        md-select(ng-model="pi.gender", aria-label"Clinical Relevance", required)
                            md-option(ng-value="'Male'") Male
                            md-option(ng-value="'Female'") Female
                            md-option(ng-value="'Unspecified'") Unspecified

                div(layout="row")
                    md-input-container(flex)
                        input(name="TumourSample", placeholder="Tumour Sample", ng-model="pi.tumourSample")

                    md-input-container(flex)
                        input(name="TumourType", placeholder="Tumour Type", ng-model="pi.tumourType")

                div(layout="row")
                    md-input-container(flex)
                        input(name="ConstitutionalSample", placeholder="Constitutional Sample", ng-model="pi.constitutionalSample", disabled)

                    md-input-container(flex)
                        input(name="Age", placeholder="Age at Diagnosis", ng-model="pi.age")

                div(layout="row")
                    md-input-container(flex)
                        input(name="BiopsyDetails", placeholder="Biopsy Details", ng-model="pi.biopsySite")

                    md-input-container(flex)
                        input(name="Physician", placeholder="Physician", ng-model="pi.physician")

                div(layout="row")
                    md-input-container(flex)
                        input(name="Protocol", placeholder="Protocol", ng-model="pi.tumourProtocol", disabled)


        md-dialog-actions(layout="row", layout-aligh="end center")
            md-button(type="submit").md-primary.md-raised Update Patient Information
