doctype 1.1
html(lang='en', ng-app='bcgscIPR')
  head
    meta(http-equiv="cache-control", content="no-cache")
    meta(http-equiv="expires", content="0")
    title POG Interactive Report - Angular Prototype
    link(rel='shortcut icon', href='/favicon.ico')
    link(rel='stylesheet', href='/assets/styles/app.css')
    link(rel='stylesheet', href='/assets/styles/components.css')
    link(rel='stylesheet', href='/assets/libs/libs.css')
    link(href="https://fonts.googleapis.com/icon?family=Material+Icons", rel="stylesheet", type="text/css")
    link(href="https://fonts.googleapis.com/css?family=Roboto:400,300", rel="stylesheet", type="text/css")
    base(href="/")
  body(layout="column")
    md-content(ui-view="", layout="column", flex)
    script(src='/assets/libs/libs.js')
    script(src='/assets/js/templates.js')
    script(src='/assets/js/app.js')
    script(src='/assets/env.js')
    div(layout="row" layout-align="center center", id="page-loading", ng-if="showLoader", ng-init="showLoader=false", ng-cloak)
      div 
        img(src="/assets/images/spinlogo.png")
