section
    md-subheader.md-primary Somatic Mutations

    div(layout="column", flex)

        div(layout="column", flex).bg-white

            h2.title Small Somatic Mutations
            h3.title Summary of Somatic Events

            div(layout="row", layout-align="space-around center").margin-bottom-40
                div(layout="column").smEvents.snv
                    div(layout="row")
                        div(flex=60) Number of non-synonymous protein coding SNVs (Truncating)
                        div(flex=40, layout="row", layout-align="center center").count
                            div.snv {{ms.totalSNV}}
                    img(data-ng-src="data:image/png;base64,{{images['mutSummary.snv'].data}}")
                    img(data-ng-src="data:image/png;base64,{{images['mutSummary.barSnv'].data}}")

                div(layout="column").smEvents.indel
                    div(layout="row")
                        div(flex=60) Number of non-synonymous protein coding SNVs (Truncating)
                        div(flex=40, layout="row", layout-align="center center").count
                            div.indel {{ms.totalIndel}}
                    img(data-ng-src="data:image/png;base64,{{images['mutSummary.indel'].data}}")
                    img(data-ng-src="data:image/png;base64,{{images['mutSummary.barIndel'].data}}")

            h3.title Mutational Spectrum

            div(layout="column", flex).mutationSignature
                div(layout="row", flex).header
                    div(flex) Signature
                    div(flex=5) Pearson
                    div(flex=5) NNLS
                    div(flex) Probably Associations
                    div(flex=10) Additional Features
                    div(flex=10) # Cancer Types
                    div(flex=50) Significant Cancer Type
                div(layout="row", ng-repeat="row in mutationSignature", flex, ng-class="((isSelectedMutation(row.ident)) ? 'selected' : '')").row
                    div(flex)
                        | Signature {{row.signature}}
                        md-tooltip(ng-if="isSelectedMutation(row.ident)") This signature has been selected by [analyst.name]
                    div(flex=5, class="sig-{{row.pearsonColour}}").signatureCorrelation {{row.pearson}}
                    div(flex=5, class="sig-{{row.nnlsColour}}").signatureCorrelation {{row.nnls}}
                    div(flex).text-center {{row.associations}}
                    div(flex).text-center {{row.features}}
                    div(flex).text-center {{row.numCancerTypes}}
                    div(flex=50) {{row.cancerTypes}}

            div(layout="column", layout-align="center center")
                div
                    img(data-ng-src="data:image/png;base64,{{images['mutSignature.snvsAllStrelka'].data}}")

        div(layout="column", flex)
            h2.title Small Mutations: Genomic Details

            div(ng-repeat="(title, smallMutation) in smallMutations")
                h3(ng-if="title == 'biological'").title Variants of Biological Relevance
                h3(ng-if="title == 'unknown'").title Variants of Unknown Significance in Known Cancer-Related Genes
                h3(ng-if="title == 'clinical'").title Variants of Clinical Relevance
                h3(ng-if="title == 'nostic'").title Variants of Prognostic or Diagnostic Relevance

                ipr-small-mutations(mutations="smallMutation", pog="pog")
