div.smEvents {

  div {
    font-size: 1.0em;
    font-weight: 500;
    text-align: center;
    padding: 10px;

  }

  div.count {
    font-size: 1.0em;
    padding: 0;
    div {
      padding: 10px;
      font-size: 0.9em;
      font-weight: 600;
      width: 80%;

      &.snv { background-color: rgb(204, 236, 197); }
      &.indel { background-color: rgb(222, 203, 228); }
      &.sv { background-color: rgb(179, 205, 227); }

    }
  }

}


.mutationSignature {
  margin: 10px;

  .header {
    font-weight: 600;
    font-size: 0.8em;
    padding: 5px;
    background-color: rgb(220,220,220);

    span {
      outline: 0;

      &:active {
        outline: 0;
      }
      &:hover {
        outline: 0;
      }
    }

    span.sortable {
      cursor: pointer;

      span.order {
        font-size: 0.9em;
        margin-left: 5px;
        color: rgb(100,100,100);
      }
    }

    span.subhead {
      font-size: 0.8em;
      margin-left: 5px;
      color: rgb(100,100,100);
      cursor: pointer;
    }

  }

  .row:nth-child(odd) {
    background-color: rgb(235,235,235);
  }

  .row {

    font-size: 0.85em;

    &:hover {
      background-color: rgb(247,206,170);
    }

    &.selected {
      background-color: rgb(220, 239, 255);

      div:first-child::before {
        content: '» ';
      }
      div:first-child {
        cursor: pointer;
      }

    }

    div {
      padding: 5px 3px;

      &.signatureCorrelation {
        text-align: center;

        &.sig-100 { background-color: rgba(255, 0, 0, 1); }
        &.sig-95 { background-color: rgba(255, 25, 0, 1); }
        &.sig-90 { background-color: rgba(255, 46, 0, 1); }
        &.sig-85 { background-color: rgba(255, 76, 0, 1); }
        &.sig-80 { background-color: rgba(255, 98, 0, 1); }
        &.sig-75 { background-color: rgba(255, 127, 0, 1); }
        &.sig-70 { background-color: rgba(255, 153, 0, 1); }
        &.sig-65 { background-color: rgba(255, 179, 0, 1); }
        &.sig-60 { background-color: rgba(255, 204, 0, 1); }
        &.sig-55 { background-color: rgba(255, 226, 0, 1); }
        &.sig-50 { background-color: rgba(255, 255, 0, 1); }
        &.sig-45 { background-color: rgba(230, 255, 0, 1); }
        &.sig-40 { background-color: rgba(204, 255, 0, 1); }
        &.sig-35 { background-color: rgba(179, 255, 0, 1); }
        &.sig-30 { background-color: rgba(153, 255, 0, 1); }
        &.sig-25 { background-color: rgba(128, 255, 0, 1); }
        &.sig-20 { background-color: rgba(102, 255, 0, 1); }
        &.sig-15 { background-color: rgba(76, 255, 0, 1); }
        &.sig-10 { background-color: rgba(51, 255, 0, 1); }
        &.sig-5 { background-color: rgba(25, 255, 0, 1); }
        &.sig-0 { background-color: rgba(0, 255, 0, 1); }
      }

    }

  }
}