.paginated-table {
  &__container {
    margin: 8px 8px 0;
    height: 100%;
  }

  &__header {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }

  &__actions {
    display: flex;
    flex-direction: row;
  }

  &__action {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    margin: 0 8px;
  }

  &__field {
    margin: 10px 12px;
  }
}
