@import '../../styles/variables';
@import '../../styles/theme.module';

.print {
  &__logo {
    width: 100%;
  }

  &__headers {
    display: inline-flex;
    flex: 1 1 100%;
    justify-content: space-between;
    width: 100%;
    padding: 1mm 0;
    margin: 4mm 0;
  }

  &__header-left {
    min-width: 300px;
    max-width: 300px;
  }

  &__header-right {
    display: flex;
    flex-direction: column;
    margin: auto auto auto 10mm;

    & > * {
      margin: 1mm;
    }
  }
}

.printbeta {
  &__logo {
    max-width: 250px;
  }

  &__headers {
    display: flex;
    width: 100%;
    padding: 1mm 0;
    margin: 4mm 0;
  }

  &__header-left {
    display: flex;
    align-items: center;
    padding-left: 20px;
  }

  &__header-right {
    display: flex;
    flex-direction: column;
    margin: auto auto auto 10mm;

    &>* {
      margin: 1mm;
    }
  }
}