.page-break {
  page-break-before: always;
  page-break-after: avoid;
  display: flex;

  &__text {
    &--left {
      display: flex;
      width: 20%;
      justify-content: flex-start;
    }

    &--middle {
      display: flex;
      width: 60%;
      justify-content: center;
    }

    &--right {
      display: flex;
      width: 20%;
      justify-content: flex-end;
    }
  }
}
