.signatures {
  margin: 12px 8px;
  height: 66px;
  display: block;

  &__name {
    display: inline-block;
    padding: 8px 16px;
    width: 30%;
  }

  &__date {
    display: inline-block;
    padding: 8px 16px;
  }

  &__button {
    margin: 8px;
    float: right;
  }

  &-print {

    &__group {
      display: inline-flex;
      flex-direction: column;
      margin: 0 auto;
      max-width: 33%;
    }

    &__value {
      display: flex;

      & > * {
        margin: 0 4px;
      }
    }
  }
}