.signatures {
  margin: 8px;

  &__name {
    display: inline-block;
    padding: 16px;
    width: 40%;
  }

  &__date {
    display: inline-block;
    padding: 16px;
    width: 40%;
  }

  &__button {
    display: inline-flex;
    vertical-align: middle;
  }
}