div(layout="row", layout-align="space-between start").print-header
  div(layout="column", flex=30)
    span {{$ctrl.report.patientId}}
    span {{$ctrl.report.createdAt | date: 'yyyy/MM/dd'}}
  span BCCA Confidential - For Research Purposes Only
  span(flex=30).print-header--right-align {{$ctrl.report.patientInformation.diagnosis | titlecase}}
