@import '../../../styles/variables';

div.pediatric_flag {
  position: absolute;
  left: calc(50% - 26px);
  padding: 0 !important;

  span {
    position: relative;
    background-color: $secondary;
    color: white;
    font-size: 11px;
    padding: 1px 4px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    box-shadow: 0 2px 0 0px rgba(0, 0, 0, 0.2);
    display: inline-block;
    top: -4px;
  }
}