div(flex, layout="column")

  div(layout="column", flex).dataBox
    div.box
      div(layout="row", flex).heading
        div(flex) Genes 5`::3`
        div(flex=5) Exons 5`/3`
        div(flex=15) Breakpoint
        div(flex) Event Type
        div(flex=5, md-truncate) Sample
        div(flex) Cytogenic Description
        div(flex) RPKM 5`/3`
        div(flex) Fold Change Vs. {{$ctrl.report.tumourAnalysis.normalExpressionComparator}}
        div(flex=5) {{$ctrl.report.tumourAnalysis.diseaseExpressionComparator}} %ile
        div(flex=5) Image
      div(ng-if="$ctrl.svs.length == 0")
        div.text-center.details.bg-white No gene fusions of this kind were found from the analysis.
      div(layout="row", flex, ng-repeat="sv in $ctrl.svs track by $index").row
        div(flex)
          span(ng-click="$ctrl.firstGeneClicked = true; $ctrl.geneIndex = $index").clickable.underlined {{sv.genes.split('::')[0]}}
          |::
          span(ng-click="$ctrl.secondGeneClicked = true; $ctrl.geneIndex = $index").clickable.underlined {{sv.genes.split('::')[1]}}
          gene-viewer(ng-if="$ctrl.firstGeneClicked", ng-init="$ctrl.firstGeneClicked = false",
            report="$ctrl.report", pog="$ctrl.pog", gene="$ctrl.svs[$ctrl.geneIndex].genes.split('::')[0]")
          gene-viewer(ng-if="$ctrl.secondGeneClicked", ng-init="$ctrl.secondGeneClicked = false",
            report="$ctrl.report", pog="$ctrl.pog", gene="$ctrl.svs[$ctrl.geneIndex].genes.split('::')[1]")
        div(flex=5, md-truncate) {{sv.exons}}
        div(flex=15, md-truncate) 
          span(ng-if="sv.breakpoint.split('|')[1]") {{sv.breakpoint.split('|')[0]}}|
          span(ng-if="!sv.breakpoint.split('|')[1]") {{sv.breakpoint.split('|')[0]}}
          wbr
          span {{sv.breakpoint.split('|')[1]}}
        div(flex, md-truncate) {{sv.eventType}}
        div(flex=5, md-truncate) {{sv.detectedIn}}
        div(flex, md-truncate) {{sv.conventionalName}}
        div(flex, md-truncate) {{sv.rpkm}}
        div(flex, md-truncate) {{sv.foldChange}}
        div(flex=5, md-truncate) {{sv.tcgaPerc}}
        div(flex=5).text-center
          md-icon(ng-click="$ctrl.detailClicked = true; $ctrl.detailIndex = $index").clickable search
            md-tooltip View Details
          span(ng-if="sv.svg").reference
            md-icon(ng-click="$ctrl.svDetails($event, sv)") open_in_new
        detail-viewer(ng-if="$ctrl.detailClicked", ng-init="$ctrl.detailClicked = false",
          rows="$ctrl.svs", index="$ctrl.detailIndex")