section
    md-subheader.md-primary Microbial

    div(layout="column", flex)

        div(layout="column", flex).bg-white

            h2.title Microbial Integration

            p(ng-if="images['microbial.circos'] === undefined").padding-left-10 Microbial integration circos plots are not applicable for this case

            div(layout="row", flex, layout-align="center center").md-padding
                img(data-ng-src="data:image/png;base64,{{images['microbial.circos'].data}}")