md-content(layout="column", flex)

    div(layout="column")
        div.options
            div(layout="row")
                h1.title Knowledgebase: References 
                    md-icon(ng-click="showKBGlossary()").clickable.blue info
                        md-tooltip(md-direction="right") Knowledgebase Glossary
                span(flex)
                md-button(ng-click="newReference($event)").md-primary.md-raised.narrowButton New Reference

            div(layout="row").filters
                span
                    md-button(ng-click="openFilters($event)").md-raised.md-primary.narrowButton Set Filters
                //span(flex=5)
                //div(flex=20, layout-align="center center", layout="row")
                    form(ng-submit="search.go()", layout="row", flex)
                        md-input-container(flex).hide-validation-error.pull-right
                            label
                            input(placeholder="Search", ng-model="search.query")
                span(flex)
                div(layout="row")
                    span(ng-repeat="(filter, values) in paginate.filters").filterEntry
                        |{{filter}}: (
                        span(ng-if="filter === 'search'") {{values}}
                        span(ng-if="filter !== 'search'", ng-repeat="(i, v) in values").filterValue
                            | {{v}}
                            span(ng-click="paginate.removeFilter(filter, i)").remove x
                        | )

        div(layout="row").kbTable.header
            div(flex=20) events_expression
            div(flex=5) type
            div(flex=10) relevance
            div(flex=20) context
            div(flex=15) disease_list
            div(flex=10) evidence
            div(flex=10) Ref
                md-tooltip Reference
            div(flex=10) status
            div.spacer

    div(flex, layout-fill, id="kbViewerWindow").kbTable.rows
        div(ng-repeat="ref in references", ng-class="{incorrect: ref.status.toLowerCase().indexOf('incorrect') !== -1}").rowContainer
            div(layout="row").row
                div(flex=20, layout="row")
                    div(style="width: 35px;", layout="column", layout-align="center center").open
                        md-icon(ng-click="openView($event, ref)").text-xsmall library_books
                        md-tooltip(md-direction="right") View reference entry
                    // If there are no children, don't make anything with watchers
                    div(ng-if="!hasChildren(ref)")
                        span(ng-if="ref.events_expression_expanded.ands.length === 0") {{ref.events_expression_expanded.ors[0][0]}}
                        span(ng-if="ref.events_expression_expanded.ands.length > 0") {{ref.events_expression_expanded.ands[0]}}

                    // Watcher heavy, since there are children
                    div(ng-if="hasChildren(ref)")

                        div(ng-click="showEvExDropper(ref)", ng-init="ref.showEEs=false").clickable
                            span(ng-if="ref.events_expression_expanded.ands.length === 0") {{ref.events_expression_expanded.ors[0][0]}}
                            span(ng-if="ref.events_expression_expanded.ands.length > 0") {{ref.events_expression_expanded.ands[0]}}
                            md-icon(ng-if="hasChildren(ref) && !ref.showEEs") keyboard_arrow_down
                            md-icon(ng-if="hasChildren(ref) && ref.showEEs") keyboard_arrow_up
                        div(ng-if="ref.showEEs").dropper
                            // Dropdown listing of entries
                            ul(md-whiteframe=2)

                                // Are there no "and" children?
                                li(ng-if="ref.events_expression_expanded.ors.length > 1", ng-repeat="(k, event) in ref.events_expression_expanded.ors track by $index")

                                    // Is there only 1 entry in this? (suggesting no nested "ands")
                                    div(ng-if="$index !== 0 && event.length === 1").text-small.orBetween
                                        span or
                                    span(ng-if="event.length === 1")  {{event[0]}}

                                    // Are there nested "ands" in this?
                                    div(ng-if="event.length > 1", ng-repeat="(i, a) in event track by $index").andGroup
                                        // Only display or on subsequent entries
                                        div(ng-if="i === 0 && k !== 0").text-small.orBetween
                                            span or
                                        span(ng-if="i !== 0").text-small.andInline and
                                        span {{a}}

                                // Are there "ands" children?
                                li(ng-if="ref.events_expression_expanded.ands.length > 1", ng-repeat="(k, event) in ref.events_expression_expanded.ands track by $index")
                                    div(ng-if="$index !== 0").text-small.orBetween
                                        span and
                                    span {{event}}

                div(flex="5") {{threeLetter(ref.type).toUpperCase()}}
                div(flex="10") {{ref.relevance}}
                div(flex="20")

                    div(ng-if="ref.context.length === 1")
                        span {{ref.context[0]}}

                    div(ng-if="ref.context.length > 1")
                        div(ng-click="showDropper(ref.context, ref, 'showCs')").clickable
                            span {{ref.context.length}}
                            md-icon(ng-if="(ref.context.length > 1) && !ref.showCs") keyboard_arrow_down
                            md-icon(ng-if="(ref.context.length > 1) && ref.showCs") keyboard_arrow_up
                        div(ng-show="ref.showCs", ng-if="ref.context.length > 1").dropper
                            // Dropdown listing of entries
                            ul(ng-init="ref.showCs=false", md-whiteframe=2)
                                li(ng-repeat="(k, context) in ref.context track by $index") {{context}}

                div(flex="15")

                    div(ng-if="ref.disease_list.length === 1")
                        span {{ref.disease_list[0]}}

                    div(ng-if="ref.disease_list.length > 1")
                        div(ng-click="showDropper(ref.disease_list, ref, 'showDLs')", class="{{(ref.disease_list.length > 1) ? 'clickable' : '' }}")
                            span {{ref.disease_list.length}}
                            md-icon(ng-if="(ref.disease_list.length > 1) && !ref.showDLs") keyboard_arrow_down
                            md-icon(ng-if="(ref.disease_list.length > 1) && ref.showDLs") keyboard_arrow_up
                        div(ng-show="ref.showDLs", ng-if="ref.disease_list.length > 1").dropper
                            // Dropdown listing of entries
                            ul(ng-init="ref.showDLs=false", md-whiteframe=2)
                                li(ng-repeat="(k, disease) in ref.disease_list track by $index") {{disease}}

                div(flex="10") {{ref.evidence}}
                div(flex=10) {{ref.ref_id}}
                div(flex="10", class="{{ref.status.toLowerCase()}}", layout-align="center start", layout="column").status
                    span {{ref.status}}

    div(layout="column").pagination
        div(layout="row", layout-align="center center").page
            span(ng-if="paginate.current !== 1", ng-click="paginate.changePage(paginate.current-1)").pageButton.clickable <
            span(ng-if="paginate.displayPages()[0] > 1", ng-click="paginate.changePage(1)").pageButton.clickable 1
            span(ng-if="paginate.displayPages()[0] > 1") ...
            span(ng-repeat="page in paginate.displayPages()", ng-class="{current: (page === paginate.current)}", ng-click="paginate.changePage(page)").pageButton.clickable {{page}}
            span(ng-if="paginate.displayPages()[paginate.displayPages().length-1] !== paginate.pages && paginate.current !== paginate.pages && paginate.pages > 8") ...
            span(ng-if="paginate.displayPages()[paginate.displayPages().length-1] !== paginate.pages", ng-click="paginate.changePage(paginate.pages)", ng-class="{current: (paginate.pages === paginate.current)}").pageButton.clickable {{paginate.pages}}
            span(ng-click="paginate.changePage(paginate.current+1)", ng-show="paginate.current !== paginate.pages").pageButton.clickable >
            span.text-xsmall Total entries: {{paginate.records}}